@{
    ViewBag.Title = "QRCode 行銷活動管理";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



 <script src="~/Scripts/bootstrap-table.min.js"></script>
 <script src="~/Scripts/bootstrap-table-zh-TW.min.js"></script>
 <script src="~/Scripts/bootbox.min.js"></script>



 <script src="~/Scripts/BTable.js"></script>
 
 <script src="~/Scripts/bootstrap-switch.min.js"></script>
 <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet">
 <script src="~/Scripts/validator.min.js"></script>
 <script src="~/Scripts/jquery.form.min.js"></script>

 <script src="https://apis.google.com/js/client.js"> </script>
 
 <script src="~/Scripts/bootstrap-filestyle.min.js"></script>
 
 <link rel="stylesheet" href="~/Content/bootstrap-table.css">

 <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.zh-TW.min.js"></script>

<link rel="Stylesheet" type="text/css" href="~/Content/jQueryTE/jquery-te-1.4.0.css" />
<script type="text/javascript" src="~/Content/jQueryTE/jquery-te-1.4.0.min.js"></script>

 <script src="~/Scripts/selectivity-full.js"></script>
<link rel="stylesheet" href="~/Content/selectivity-full.css">

     <style>
    .panel-header, .panel-body {
    border-width: 0px;
    }
    .datagrid,.combo-p{
    border:solid 1px #D4D4D4;
    }
    .datagrid *{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    }
	.panel-body{
			padding:10;
		}
		.datagrid-btable{
			border-collapse:separate;
		}

            .dev-instructions {
                display: none;
            }

            .relative {
                position: relative;
            }
        </style>
<div id="alert_placeholder"></div>
<h4><span class="label label-primary">@ViewBag.Title</span></h4>
<script>

    var valid = false;
  var selections = [];
    $(document).ready(function () {
        initTable();

        $(".jqte-test").jqte({
            "placeholder": "內容請明確輸入優惠內容、 適用廳別、 適用活動、 適用條件、使用期間",
            "titletext": true,
            "format": false,
            "color": true,
            "ol": true,
            "ul": true,
            "sub": false,
            "sup": false,
            "left": true,
            "right": true,
            "center": true,
            "outdent": false,
            "indent": false,
            "p": true,
            "br": true,
            "b": true,
            "i": true,
            "u": true,
            "link": true,
            "unlink": true,
            "remove": true,
            "rule": false,
            titletext: [
        { title: "格式" },
        { title: "字體大小" },
        { title: "字體顏色" },
        { title: "粗體", hotkey: "B" },
        { title: "斜體", hotkey: "I" },
        { title: "底線", hotkey: "U" },
        { title: "Ordered List", hotkey: "." },
        { title: "Unordered List", hotkey: "," },
        { title: "Subscript", hotkey: "down arrow" },
        { title: "Superscript", hotkey: "up arrow" },
        { title: "Outdent", hotkey: "left arrow" },
        { title: "Indent", hotkey: "right arrow" },
        { title: "靠左" },
        { title: "靠中" },
        { title: "靠右" },
        { title: "刪除線", hotkey: "K" },
        { title: "加入連結", hotkey: "L" },
        { title: "移除連結", hotkey: "" },
        { title: "Cleaner Style", hotkey: "Delete" },
        { title: "Horizontal Rule", hotkey: "H" },
        { title: "顯示Html標籤", hotkey: "" }
            ]
        });

         $('#CUS_SAVE').bootstrapSwitch();
         $('#ISSHOW').bootstrapSwitch();

        $('#SDT').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-TW",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            orientation: "bottom auto"
        });

        $('#EDT').datepicker({
            format: "yyyy-mm-dd",
            language: "zh-TW",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            orientation: "bottom auto"
        });

        
        $('#DEPART').selectivity({
            multiple: true,
            placeholder: '請選擇適用廳別'
        });
        getDepart();

        $("#DEPART" ).on("selectivity-selected",function(value){
            
            var data= $('#DEPART').selectivity('data');
              $.each(data, function (index, value) {
                  if(value.id=="*"){
                    $('#DEPART').selectivity('clear');
                    $('#DEPART').selectivity('add', { id: '*', text: '全部' });
                  }                             
              });

        });
    });

    function initTable() {
        $('#table').bootstrapTable({
            url: '@Url.Action("getQRCode", "QRCode")',
            columns: [            
            {
                field: 'UUID',
                title: '編號',
                align: 'center',
                valign: 'middle',
                width: '30'
            },
            {
                field: 'ADD',
                title: '新增通路',
                valign: 'middle',
                align: 'center',
                width: '20',                
                formatter: function (value, row, iIndex) {                  
                    return '<a class="edit" href="javascript:doAddDTL(\'' + row.UUID + '\')" title="新增通路"><i class="glyphicon glyphicon-plus"></i></a>';                         
                }
             },
            {
                field: 'EDIT',
                title: '編輯',
                align: 'center',
                valign: 'middle',
                width: '20',
                events: operateEvents,
                formatter: operateFormatter   
            },
            {
                field: 'DEL',
                title: '刪除',
                align: 'center',
                valign: 'middle',
                width: '20',
                formatter: function (value, row, iIndex) {       
                 return '<a class="edit" href="javascript:doRemove(\'' + row.UUID + '\')" title="刪除"><i class="glyphicon glyphicon-remove"></i></a>';                                  
                }
            },{         
                field: 'EDMURL',
                title: '活動網址',
                width: '20',
                align: 'center',
             //   sortable: true,
                valign: 'middle',
                formatter: function (value, row, iIndex) {                  
                     return '<a href="'+value+'" target="_blank" title="開啟網址"><i class="glyphicon glyphicon-link"></i></a>';                     
                }
            },{
                field: 'SUBJECT',
                title: '活動標題',
                width: '200',
                align: 'left',
              //  sortable: true,
                valign: 'middle'
            }, {
                field: 'EDIT_USER',
                title: '編輯人員',
                align: 'center',
                width: '100',
             //   sortable: true,
                valign: 'middle'
            },
              {
                  field: 'SDT',
                  title: '生效日期',
                  align: 'center',
                  width: '80',
             //     sortable: true,
                  valign: 'middle'
              },
              {
                  field: 'EDT',
                  title: '截止日期',
                  align: 'center',
                  width: '80',
             //     sortable: true,
                  valign: 'middle'
              }
            ],
            onClickRow: function (row, $element) {
                selectDtl(row);
            }
        });


      $('#dtltable').bootstrapTable({
            url: '@Url.Action("getQRCodeDTL", "QRCode")',
            columns: [
            {
                field: 'UUID_DTL',
                title: '編號',
                align: 'center',
                valign: 'middle',
                width: '30'
            },
            {
                field: 'EDIT',
                title: '編輯',
                align: 'center',
                valign: 'middle',
                width: '20',
                events: operateEvents,
                formatter: function(value, row, iIndex){
                   return '<a class="edit" href="javascript:doEditDTL(\'' + row.UUID_DTL + '\')" title="編輯"><i class="glyphicon glyphicon-edit"></i></a>';
                }
            },
            {
                field: 'DEL',
                title: '刪除',
                align: 'center',
                valign: 'middle',
                width: '20',
                events: operateEvents,
                formatter: function(value, row, iIndex){
                   return '<a class="edit" href="javascript:doRemoveDTL(\'' + row.UUID_DTL + '\')" title="刪除"><i class="glyphicon glyphicon-remove"></i></a>';
                }
            },
            {                
                title: 'QRCode',
                align: 'center',
                valign: 'middle',
                width: '20',
                formatter: function (value, row, iIndex) {                    
                       return '<a class="edit" href="javascript:doPrint(\'' + row.UUID_DTL + '\',300,300)" title="列印 300x300"><i class="glyphicon glyphicon-qrcode"></i></a> <a class="edit" href="javascript:doPrint(\'' + row.UUID_DTL + '\',600,600)" title="列印 600x600"><i style="font-size:1.5em;" class="glyphicon glyphicon-qrcode"></i></a>';
                }
            },{         
                field: 'URL_DTL',
                title: 'QRCode網址',
                width: '20',
                align: 'left',
             //   sortable: true,glyphicon glyphicon-copy
                valign: 'middle',
                formatter: function (value, row, iIndex) {                    
                       return '<a href="'+value+'" target="_blank">'+value+'</a>';
                }
            },{
                field: 'SUBJECT_DTL',
                title: '活動通路',
                width: '200',
                align: 'left',
              //  sortable: true,
                valign: 'middle'
            },
              {
                  field: 'CNT_DTL',
                  title: '點擊數',
                  align: 'center',
                  width: '50',
             //     sortable: true,
                  valign: 'middle'
              }, {
                field: 'EDIT_USER_DTL',
                title: '編輯人員',
                align: 'center',
                width: '100',
             //   sortable: true,
                valign: 'middle'
            },
              {
                  field: 'EDIT_DT_DTL',
                  title: '編輯日期',
                  align: 'center',
                  width: '80',
             //     sortable: true,
                  valign: 'middle'
              }
            ]

        });  

          //公司
          /*
          $.ajax({
              url: '@Url.Action("getCORP", "FnNewper")',
              type: "post",
              dataType: "json",
              contentType: "application/json",
              sync: false,
              success: function (data, textStatus, jqXHR) {
                  $("#COMP_NO2").append("<option value='all'>全部</option>");
                  $.each(data, function (index, value) {
                      $("#COMP_NO").append("<option value='" + value.CODE + "'>" +value.CODE +" "+ value.NAME + "</option>");
                      $("#COMP_NO2").append("<option value='" + value.CODE + "'>" +value.CODE +" "+ value.NAME + "</option>");
                  })
              }
          });
          */
         // $('#PRINT_MARK').bootstrapSwitch();
         /*
        setTimeout(function () {
            $('#table').bootstrapTable('resetView');
        }, 200);
       */
        $('#table').on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
                    selections = getIdSelections();
                });
        $('#table').on('click-row.bs.table', function (e, row, $element) {
            $('.success').removeClass('success');
            $($element).addClass('success');
        });


        $('#dtltable').on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table', function () {
                    selections = getDTLIdSelections();
                });
        $('#dtltable').on('click-row.bs.table', function (e, row, $element) {
            $('.danger').removeClass('danger');
            $($element).addClass('danger');
        });

        /*
        $('#table').on('expand-row.bs.table', function (e, index, row, $detail) {
            if (index % 2 == 1) {
                $detail.html('Loading from ajax request...');
                $.get('LICENSE', function (res) {
                    $detail.html(res.replace(/\n/g, '<br>'));
                });
            }
        });
        $('#table').on('all.bs.table', function (e, name, args) {
            // console.log(name, args);
        });
        */
        $('#create').click(function () {
            $('#dgTitle').html('新增資料');
            initForm();
            openModel();
        });

        $('#goo').click(function () {
            openGoogl();
        });

        $('#report').click(function () {
           doRunReport();
        });


        $('#remove').click(function () {

            bootbox.confirm("確認刪除?", function (result) {
                if (result) {
                    var obj = {};
                    //var ids = getIdSelections();
                    //var UUID = $.parseJSON(JSON.stringify(ids));
                    var row = $('#table').bootstrapTable('getSelections');
                    obj.list = row;

                    $.ajax({
                        url: '@Url.Action("doRemove", "QRCode")',
                        type: "post",
                        data: JSON.stringify(obj),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data, textStatus, jqXHR) {
                          if(data.status !="0"){
                            var ids = getIdSelections();
                            $('#table').bootstrapTable('remove', {
                                field: 'UUID',
                                values: ids
                            });
                            $('#table').bootstrapTable("refresh");
                            $('#remove').prop('disabled', true);
                            showalert('選取資料已下架', 'alert-success');
                          }else{                        
                             showalert(data.message, 'alert-danger');
                          }
                        }
                    });
                }
            });



        });
        $(window).resize(function () {
            $('#table').bootstrapTable('resetView', {
                height: 300
            });
            $('#dtltable').bootstrapTable('resetView', {
                height: 300
            });

        });

    }


    function doPrint(UUID,w,h) {
    var obj={};

        var urlStr = "@Url.Action("doPrint","QRCode")";                
           //開啟PDF
         window.open(urlStr + '?UUID=' + UUID + '&w='+w+'&h='+h);

    }
    /*
    function doPrintCorp(){    
        var CORP = $('#COMP_NO2').val();
        var urlStr = "@Url.Action("doPrint","FnNewper")";                
           //開啟PDF
         window.open(urlStr + '?CORP=' + CORP );

    }
    */

    function doEdit(uuid) {
    $('#img2').attr("src","");
    $('#img').attr("src","");
        var row = $('#table').bootstrapTable("getRowByUniqueId", uuid);
        $('#dgTitle').html('編輯資料');
            $('#UUID').val(row.UUID);
            $('#UUID2').val(row.UUID);
            $('#URL').val(row.URL);
            $('#SUBJECT').val(row.SUBJECT);
            $('#QA_EMAIL').val(row.QA_EMAIL);
            //$('#CONTENT').val(row.CONTENT);
            $("#CONTENT").jqteVal(row.CONTENT);
            $('#EDMURL').val(row.EDMURL);
            $('#SDT').val(row.SDT);
            $('#EDT').val(row.EDT);
            if(row.IMG!=''){
               $('#img').attr("src", "http://reservation.howard-hotels.com.tw/WebBooking/images/qrcode/"+ row.IMG);
            }
            if(row.COUPON_IMG!=''){
               $('#img2').attr("src", "http://reservation.howard-hotels.com.tw/WebBooking/images/qrcode/coupon/"+ row.COUPON_IMG);
            }

            
            if (row.CUS_SAVE == "1") {
                $('#CUS_SAVE').bootstrapSwitch('state', true, true);
                $('#dfile').show();
                $('#dimg').show();

            } else {
                $('#CUS_SAVE').bootstrapSwitch('state', false, false);
                $('#dfile').hide();
                $('#dimg').hide();
            }

            

            if (row.ISSHOW !="0") {
                $('#ISSHOW').bootstrapSwitch('state', true, true);
            } else {
                $('#ISSHOW').bootstrapSwitch('state', false, false);
            }
            getDepartCurrent(uuid);
            
            openModel();
    }


    function doEditDTL(uuid) {
        //var row0 = $('#table').bootstrapTable("getSelections");
        var row = $('#dtltable').bootstrapTable("getRowByUniqueId", uuid);
        
        $('#dgTitleDTL').html('編輯資料');
            $('#UUID_DTL').val(row.UUID_DTL);
           // $('#URL_DTL').val(row.URL_DTL);
            $('#SUBJECT_DTL').val(row.SUBJECT_DTL);
        
                        
            if (row.ISSHOW_DTL == "1") {
                $('#ISSHOW_DTL').bootstrapSwitch('state', true, true);
            } else {
                $('#ISSHOW_DTL').bootstrapSwitch('state', false, false);
            }
            $('#myModalDTL').modal('toggle');
    }




    function operateFormatter(value, row, index) {
        return '<a class="edit" href="javascript:doEdit(\'' + row.UUID + '\')" title="編輯"><i class="glyphicon glyphicon-edit"></i></a>';
    }

    window.operateEvents = {
        'click .remove': function (e, value, row, index) {

        }
    };
    


    $(window).load(function () {

    

        $('#form').validator().on('submit', function (e) {

           var o = $('#DEPART').selectivity('data');
            if (o.length == 0 ){
                alert('尚未選取適用廳別!');
                return false;
            }
            if (e.isDefaultPrevented()) {

            } else {
                bootbox.confirm("確認儲存?", function (result) {

                    if (result) {

                        var url;
                        var obj = getObj();


                       //var obj={};
                        if ($('#dgTitle').html() == "新增資料") {
                            url = '@Url.Action("doCreate", "QRCode")';
                        } else {
                            url = '@Url.Action("doEdit", "QRCode")';
                            obj.UUID = $('#UUID').val();
                        }


                        /*
                        $.ajax({
                            url: url,
                            type: "post",
                            data:  $('#form').serialize(),
                            dataType: "text/html",
                            //contentType: "application/json",
                            success: function (data, textStatus, jqXHR) {

                                if (data.status > 0) {
                                    $('#myModal').modal('hide');
                                    $('#table').bootstrapTable("refresh");
                                     showalert('資料已儲存更新', 'alert-success');
                                } else {
                                    $('#myModal').modal('hide');
                                    showalert(data.message, 'alert-danger');
                                }
                            }
                        });*/
                        
                      $('#form').ajaxSubmit({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data:obj,
                        contentType: "application/json",
                        success: function (data) {
                                if (data.status > 0) {
                                    $('#myModal').modal('hide');
                                    $('#table').bootstrapTable("refresh");                                                                       
                                     showalert('資料已儲存更新', 'alert-success');
                                } else {
                                    $('#myModal').modal('hide');
                                    showalert(data.message, 'alert-danger');
                                }            
                        }
                    });


                    }
                });
                return false;
            }
        });


        $('#form_dtl').validator().on('submit', function (e) {

            if (e.isDefaultPrevented()) {

            } else {
                bootbox.confirm("確認儲存?", function (result) {

                    if (result) {

                        var url;
                        var obj = getObjDTL();

                        if ($('#dgTitleDTL').html() == "新增資料") {
                            url = '@Url.Action("doCreateDTL", "QRCode")';
                        } else {
                            url = '@Url.Action("doEditDTL", "QRCode")';
                            obj.UUID_DTL = $('#UUID_DTL').val();
                        }
                       



                        $.ajax({
                            url: url,
                            type: "post",
                            data: JSON.stringify(obj),
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data, textStatus, jqXHR) {

                                if (data.status > 0) {
                                    $('#myModalDTL').modal('hide');

                                    if ($('#dgTitleDTL').html() == "新增資料") {                                     
                                         //getGoogl(data.status);                               
										 getBitly(data.status);
                                    }else{
                                    var o={};
                                    o.UUID= $('#QRCODE_UUID').val();
                                    
                                    $('#dtltable').bootstrapTable("refresh",{ query:o });
                                        showalert('資料已儲存更新', 'alert-success');
                                    }
                                } else {
                                    $('#myModalDTL').modal('hide');
                                    showalert(data.message, 'alert-danger');
                                }
                            }
                        });

                    }
                });
                return false;
            }
        });



    });

    



    function initForm() {
        $('#UUID').val('');
        $('#UUID2').val('');
        $('#EDMURL').val('');
        $('#SUBJECT').val('');
        $('#CONTENT').val('');
        $('#QA_EMAIL').val('');
        $('#SDT').val('');
        $('#EDT').val('');
        $('#CUS_SAVE').bootstrapSwitch('state', true, true);
        $('#ISSHOW').bootstrapSwitch('state', true, true);
    }

    function getObj() {
     
        var obj = {};
        
        obj.URL = "---";
        obj.EDMURL = $('#EDMURL').val();
        obj.SUBJECT = $('#SUBJECT').val();
        obj.CONTENT = $('#CONTENT').val();
        obj.QA_EMAIL = $('#QA_EMAIL').val();
        obj.SDT = $('#SDT').val();
        obj.EDT = $('#EDT').val();
        if ($('#CUS_SAVE').bootstrapSwitch('state')) {
            obj.CUS_SAVE = "1";
        } else {
            obj.CUS_SAVE = "0";
        }
        if ($('#ISSHOW').bootstrapSwitch('state')) {
          obj.ISSHOW = "1";
        }else {
          obj.ISSHOW = "0";
        }
        var o =$('#DEPART').selectivity('data');       
        $('#ary').val(JSON.stringify(o));
        return obj;
    }


    function getObjDTL() {
     
        var obj = {};
        obj.QRCODE_UUID= $('#QRCODE_UUID').val();
     //   obj.UUID_DTL = $('#UUID_DTL').val();
        obj.URL_DTL = "---";
        
        obj.SUBJECT_DTL = $('#SUBJECT_DTL').val();
        
        if ($('#ISSHOW_DTL').bootstrapSwitch('state')) {
            obj.ISSHOW_DTL = "1";
        } else {
            obj.ISSHOW_DTL = "0";
        }
        return obj;
    }


    /*
    function showModel2(){ 
        $('#pdfModal').modal('toggle');
    }
    */
    function openModel() {
 
        $('#myModal').modal('toggle');
    }

    function doSave() {
       
        $('#form').validator('validate');

        if (valid) {


            bootbox.confirm("確認儲存?", function (result) {

                if (result) {

                    var url;
                    var obj = getObj();

                    if ($('#dgTitle').html() == "新增資料") {
                        url = '@Url.Action("doCreate", "QRCode")';
                    } else {
                        url = '@Url.Action("doEdit", "QRCode")';
                        obj.UUID = $('#UUID').val();
                    }




                    $.ajax({
                        url: url,
                        type: "post",
                        data: JSON.stringify(obj),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data, textStatus, jqXHR) {
                            
                            if (data.status > 0) {
                                $('#myModal').modal('hide');
                                $('#table').bootstrapTable("refresh");                                
                                if ($('#dgTitle').html() == "新增資料") {
                                   showalert('資料新增完成!產生短網址,請稍後...', 'alert-success');

                                }else{
                                   showalert('資料已儲存更新', 'alert-success');
                                }
                            } else {
                                $('#myModal').modal('hide');
                                showalert(data.message, 'alert-danger');
                            }
                        }, beforeSend: function (xhr, settings) {
                           settings.data =
                          settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
                         }
                    });

                }
            });
        }
    }


 function getBitly(UUID){
   //Bitly 短網址帳密 howardimc / center2075 

   var aurl='https://api-ssl.bitly.com/v3/shorten?access_token=8cf08ab7b86ebe2826804e081434d429a921dbd3&longUrl=http://reservation.howard-hotels.com.tw/WebBooking/index.php/QRCode/index/' + UUID;
   
                    $.ajax({
                        url: aurl,
                        type: "get",
                       // data: JSON.stringify(obj),
                        dataType: "jsonp",
                        contentType: "application/json",
                        success: function (data, textStatus, jqXHR) {
						    console.info(data);
						    if(data.status_code == 200)
							{
							
							url = '@Url.Action("doEditURL", "QRCode")';
							var obj={};
							obj.URL_DTL=data.data.url;
							obj.UUID_DTL=UUID;
									$.ajax({
										url: url,
										type: "post",
										data: JSON.stringify(obj),
										dataType: "json",
										contentType: "application/json",
										success: function (data, textStatus, jqXHR) {                            
										if (data.status > 0) {
											var o={};
											o.UUID= $('#QRCODE_UUID').val();
											$('#dtltable').bootstrapTable("refresh",{ query:o });
											showalert('資料已儲存更新', 'alert-success');                           
										}
									}, beforeSend: function (xhr, settings) {
									settings.data =
									settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
									}
								});           
							}
							else
							{
								showalert('產生短網址出現錯誤!', 'alert-danger');            
							} 
                        }
                    });

 }
 
 
 function getGoogl(UUID) {
    gapi.client.setApiKey('AIzaSyC609e_6-82BmUSxqtVz7McpcrflJA5IBw');  //API key
    gapi.client.load('urlshortener', 'v1').then(
    function(){
      var aurl='http://reservation.howard-hotels.com.tw/WebBooking/index.php/QRCode/index/' + UUID;
    
       var request = gapi.client.urlshortener.url.insert({
          'resource': {'longUrl': aurl}
       });
    


    request.execute(function(response) 
    { 
        if(response.id != null)
        {
        url = '@Url.Action("doEditURL", "QRCode")';
        var obj={};
          obj.URL_DTL=response.id;
          obj.UUID_DTL=UUID;
                    $.ajax({
                        url: url,
                        type: "post",
                        data: JSON.stringify(obj),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data, textStatus, jqXHR) {                            
                            if (data.status > 0) {
                               var o={};
                               o.UUID= $('#QRCODE_UUID').val();
                               $('#dtltable').bootstrapTable("refresh",{ query:o });
                                showalert('資料已儲存更新', 'alert-success');                           
                            }
                        }, beforeSend: function (xhr, settings) {
                           settings.data =
                          settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
                         }
                    });           
        }
        else
        {
            showalert(response.error + ' : 產生短網址出現錯誤!', 'alert-danger');            
        } 
      });
      }
    );  
  } 

      /*
      function auth() {
        var config = {
          'client_id': 'howard-1274',
          'scope': 'https://www.googleapis.com/auth/urlshortener'
        };
        gapi.auth.authorize(config, function() {
          console.log('login complete');
          console.log(gapi.auth.getToken());
        });
      }*/



      function selectDtl(row){        
        $("#create").removeClass("disabled");
        var obj = {};
        $('#SUBJECT_').val(row.SUBJECT);
        $('#QRCODE_UUID').val(row.UUID);
        obj.UUID = row.UUID;        
        $('#dtltable').bootstrapTable("refresh",
         {
             query: obj
         });
      }

      function doRemove(UUID){
            bootbox.confirm("確認刪除?", function (result) {
                if (result) {
                    var obj = {};
                    obj.UUID=UUID;

                    $.ajax({
                        url: '@Url.Action("doRemove", "QRCode")',
                        type: "post",
                        data: JSON.stringify(obj),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data, textStatus, jqXHR) {
                          if(data.status !="0"){
                            var ids = getIdSelections();
                            $('#table').bootstrapTable('remove', {
                                field: 'UUID',
                                values: ids
                            });
                            $('#table').bootstrapTable("refresh");
                            showalert('選取資料已下架', 'alert-success');
                          }else{                        
                             showalert(data.message, 'alert-danger');
                          }
                        }
                    });
                }
            });
      }

      function doRemoveDTL(UUID){
            bootbox.confirm("確認刪除?", function (result) {
                if (result) {
                    var obj = {};
                    obj.UUID=UUID;

                    $.ajax({
                        url: '@Url.Action("doRemoveDTL", "QRCode")',
                        type: "post",
                        data: JSON.stringify(obj),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data, textStatus, jqXHR) {
                          if(data.status !="0"){
                          /*
                            var ids = getIdSelections();
                            $('#dtltable').bootstrapTable('remove', {
                                field: 'UUID_DTL',
                                values: ids
                            });*/
                                var o={};
                               o.UUID= $('#QRCODE_UUID').val();
                               $('#dtltable').bootstrapTable("refresh",{ query:o });
                            showalert('選取資料已下架', 'alert-success');
                          }else{                        
                             showalert(data.message, 'alert-danger');
                          }
                        }
                    });
                }
            });
      }


      function doAddDTL(UUID){
      
      $('#dgTitleDTL').html('新增資料');
        $('#QRCODE_UUID').val(UUID);
        $('#UUID_DTL').val('');
        $('#URL_DTL').val('');
        $('#SUBJECT_DTL').val('');                    
        $('#ISSHOW_DTL').bootstrapSwitch('state', true, true);
        $('#myModalDTL').modal('toggle');
      }

   function openRptModel(){
       $('#rptModel').modal('toggle');
   }


    function doRunReport() {
    
        var urlStr = "@Url.Action("doRunReport","QRCode")";
           //開啟PDF
           var SDT =  $('#RPT_SDT').val();
           var EDT =  $('#RPT_EDT').val();
           var SUBJECT = $('#RPT_SUBJECT').val();

         window.open(urlStr + "?SUBJECT="+SUBJECT + "&SDT="+SDT + "&EDT="+EDT);

    }


    //取得部門資料
    
    function getDepart() {
       /*
        if (DptValue == '') {
            $('#DEPART').selectivity('clear');
        }
        */
        var obj = {};        
        $.ajax({
            url: '@Url.Action("getDepartSelect", "QRCode")',
            type: "post",            
            dataType: "json",
            contentType: "application/json",
            sync: false,
            success: function (data, textStatus, jqXHR) {
             
                $('#DEPART').selectivity({
                    items: data,
                    multiple: true,
                    placeholder: '請選擇適用廳別',
                    showSearchInputInDropdown: true,
                    //selectivity-selected:function 
                });

                 

               // $('#DEPART').selectivity('data', data);
                $.each(data, function (index, value) {
                   // $("#DEPART").append("<option value='" + value.CODE + "'>" + value.NAME + "</option>");
                })
                /*
                if (DptValue != '') {
                    //$("#DEPART").val(DptValue);
                }*/
            }
        });
    }
    

    //列出已選擇部門
    function getDepartCurrent(uuid) {
        var obj = {};
        obj.UUID = uuid;
        $('#DEPART').selectivity('clear');
        $.ajax({
            url: '@Url.Action("getDepartCurrent", "QRCode")',
            type: "post",
            data:JSON.stringify(obj),
            dataType: "json",
            contentType: "application/json",
            sync: false,
            success: function (data, textStatus, jqXHR) {
              //console.info(data);
                $('#DEPART').selectivity('data', data);
            }
        });
    }


</script>
<div id="toolbar">

    <button id="create" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> 新增活動
    </button>
      <!--
    <button id="remove" class="btn btn-danger" disabled>
        <i class="glyphicon glyphicon-remove"></i> 下架
    </button>
-->
    <button id="report" class="btn btn-danger">
        <i class="glyphicon glyphicon-stats"></i> 報表
    </button>

</div>
<div class="panel panel-default col-md-12">
 <div class="panel-body collapse in" id="pb">
    <table id="table"
       data-toolbar="#toolbar"
       data-classes="table table-hover table-condensed"
       data-height="400"
       data-search="true"
       
       data-unique-id="UUID"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-show-export="true"
       data-minimum-count-columns="2"
       
       data-pagination="true"
       data-id-field="UUID"
       data-page-size="20"
       data-page-list="[20, 50, 100,All]"
       data-show-footer="false"
       data-side-pagination="server"
       data-click-to-select="true"
       data-single-select="true"
       data-response-handler="responseHandler"></table>
    </div>
</div>
<div class="panel panel-default col-md-12">    
    <div class="panel-body">
    <table id="dtltable"
      
       data-classes="table table-hover table-condensed"
       data-height="300"
       data-search="false"
       
       data-unique-id="UUID_DTL"
       data-show-refresh="false"
       data-show-toggle="false"
       data-show-columns="false"
       data-show-export="false"
       data-minimum-count-columns="2"
       
       data-pagination="false"
       data-id-field="UUID_DTL"
       data-page-size="20"

       data-show-footer="false"
       data-side-pagination="server"
       data-click-to-select="true"
       data-single-select="true"
       data-response-handler="responseHandlerDTL"></table>
    </div>
</div>
<form data-toggle="validator" id="form" class="form-horizontal" role="form" enctype="multipart/form-data">

     <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
             <input type="hidden" id="UUID" name="UUID" >
             <input type="hidden" id="ary" name="ary" >
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title" id="dgTitle"></h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="UUID2">編號</label>
                        <div class="col-sm-10">                                                        
                            <input type="text" class="form-control" id="UUID2" name="UUID2" disabled >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="EDMURL">活動網址</label>
                        <div class="col-sm-10">                            
                           <input type="text" class="form-control" id="EDMURL" name="EDMURL" placeholder="活動網址" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SUBJECT">活動標題</label>
                        <div class="col-sm-10">                            
                           <input type="text" class="form-control" id="SUBJECT" name="SUBJECT" placeholder="活動標題" required>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="DEPART">限用廳別</label>
                        <div class="col-sm-10">
                            <span id="DEPART" class="selectivity-input" required></span>                            
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="CONTENT">活動內容</label>
                        <div class="col-sm-10">
                           <textarea cols="50"  class="jqte-test" rows="30" id="CONTENT" name="CONTENT" placeholder="內容請明確輸入優惠內容、 適用廳別、 適用活動、 適用條件、使用期間"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SDT">生效日期</label>
                        <div class="col-sm-10">                            
                          <input type="text" class="form-control" id="SDT" name="SDT" placeholder="YYYY-MM-DD" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="EDT">截止日期</label>
                        <div class="col-sm-10">                            
                           <input type="text" class="form-control" id="EDT" name="EDT" placeholder="YYYY-MM-DD" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="IMG">圖片上傳</label>
                        <div class="col-sm-10">
                           <input type="file" id="IMG" name="IMG" class="filestyle" data-buttonName="btn-primary" data-buttonText="選取圖片">
                        </div>
                    </div>
                    <div class="form-group" id="dfile" name="dfile">
                        <label class="control-label col-sm-2" for="IMG2">兌換券圖片</label>
                        <div class="col-sm-10">
                           <input type="file" id="IMG2" name="IMG2" class="filestyle" data-buttonName="btn-primary" data-buttonText="選取圖片">
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="QA_EMAIL">留言收件人</label>
                        <div class="col-sm-10">                            
                           <input type="text" class="form-control" id="QA_EMAIL" name="QA_EMAIL" placeholder="可加入多筆收件人,結束後方加上; ">
                        </div>
                    </div>


	<div class="row">
		<div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CUS_SAVE">留下客人資料</label>
                        <div class="col-sm-4">
                            <input type="checkbox" id="CUS_SAVE" name="CUS_SAVE" checked>                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ISSHOW">啟用</label>
                        <div class="col-sm-4">
                            <input type="checkbox" id="ISSHOW" name="ISSHOW" checked>                            
                        </div>
                    </div>
		</div>
		<div class="col-md-3" id="dimg" name="dimg">
			<img title="兌換券預覽圖" id="img2" name="img2" src="" class="img-thumbnail" />
		</div>

		<div class="col-md-3" >
			<img title="預覽圖" id="img" name="img" src="" class="img-thumbnail" />
		</div>



	</div>


                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 儲存</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 關閉</button>
                </div>
            </div>

        </div>

    </div>
</form> 

<form data-toggle="validator" id="form_dtl" class="form-horizontal" role="form_dtl">
     <div id="myModalDTL" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <input type=hidden id="QRCODE_UUID" name="QRCODE_UUID">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title" id="dgTitleDTL"></h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="UUID_DTL">編號</label>
                        <div class="col-sm-10">                            
                            <input type="text" class="form-control" id="UUID_DTL" name="UUID_DTL" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SUBJECT">活動名稱</label>
                        <div class="col-sm-10">                            
                          <input type="text" class="form-control" id="SUBJECT_" name="SUBJECT_" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="SUBJECT_DTL">活動通路名稱</label>
                        <div class="col-sm-10">                            
                           <input type="text" class="form-control" id="SUBJECT_DTL" name="SUBJECT_DTL" placeholder="活動通路名稱" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="ISSHOW_DTL">啟用</label>
                        <div class="col-sm-10">
                            <input type="checkbox" id="ISSHOW_DTL" name="ISSHOW_DTL" checked>                            
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 儲存</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 關閉</button>
                </div>
            </div>

        </div>

    </div>
</form>

    <div id="rptModel" class="modal fade" role="dialog">
        <div class="modal-dialog">        

    
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title" id="請選擇輸出條件"></h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="RPT_SUBJECT">選擇活動</label>
                        <div class="col-sm-10">                            
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="RPT_SDT">啟始日期</label>
                        <div class="col-sm-10">                            
                          <input type="text" class="form-control" id="RPT_SDT_" name="RPT_SDT">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="RPT_EDT">結束日期</label>
                        <div class="col-sm-10">                            
                           <input type="text" class="form-control" id="RPT_EDT" name="RPT_EDT">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 確認送出</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 關閉</button>
                </div>
            </div>

        </div>

    </div> 