@{
    ViewBag.Title = "Frm208 廠商付款作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    var tx;
    $(document).ready(function () {



        $.ajax({
            url: '@Url.Action("getTX", "Frm208")',
            type: "post",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                tx = data;
                $('#txtTX').text(tx);
            }
        });





        //人員列表
        $('#LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });


        //付款對象
        $('#MKRNM').combogrid({
            panelWidth: 300,
            idField: 'CNO',
            textField: 'CNM',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            url: '@Url.Action("getMAKR", "Frm208")',
            columns: [[
                { field: 'CNO', title: '編號', width: 60 },
                { field: 'CNM', title: '對象名稱', width: 250 }
            ]],
            /*
            onChange: function (newValue, oldValue) {

                if (newValue != "") {
                    var obj = {};
                    obj.MKRNO = $.trim(newValue);
                    $('#f208DG1').datagrid('reload', obj);
                }
            }*/
            onSelect: function (record) {
                /*
                if (record != "") {
                    var obj = {};
                    obj.MKRNO = $.trim(record);
                    $('#f208DG1').datagrid('reload', obj);
                }*/
            }
        });





        //費用類別
        $('#ACCTPNM').combobox({
            url: '@Url.Action("getACCTP", "Frm208")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false,
            onSelect: function (record) {

                //費用科目
                $('#ACCNM').combobox({
                    url: '@Url.Action("getV_ACCF", "Frm208")',
                    valueField: 'CNO',
                    textField: 'CNM',
                    editable: false,
                    onBeforeLoad: function (param) {
                        param.CNO = record.CNO;
                    }
                });
            }
        });


        //費用類別查詢
        $('#ACCTPNM_QRY').combobox({
            url: '@Url.Action("getACCTP", "Frm208")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        //費用科目
        $('#ACCNM').combobox({
            url: '@Url.Action("getV_ACCF", "Frm208")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });








    });   //ready end

    $(window).load(function () {
        var YM="@ViewData["YM"]";
        var ACCNO="@ViewData["ACCNO"]";
        var ACCTP="@ViewData["ACCTP"]";

        console.info(YM);

        var dt = new Date();
        var nowDate = DateTimeUtil.convertDateToISOString(dt);
        $('#QTX_YMS').val(nowDate.substr(0, 4) + nowDate.substr(5, 2));

        if (YM != "") {
            f208DG1initByFrm302(YM,ACCNO,ACCTP);
        } else {
            f208DG1init();
        }

        


        $('#AMTSUM').bind('blur', function () {
            //THISFORM.FEEAMT.VALUE = ROUND(THIS.VALUE * 100 / (TXRAT + 100), 0)
            //THISFORM.AMTTX.VALUE = THIS.VALUE - THISFORM.FEEAMT.VALUE

            $('#FEEAMT').val(Math.round((this.value * 100) / (Number(tx) + 100)));
            $('#AMTTX').val(this.value - $('#FEEAMT').val());

        });

    });

    function initUSEAMT() {
        var obj = {};
        obj.FEEYM = $('#FEEYM').val();
        obj.ACCTP = $('#ACCTPNM').combobox('getValue');
        obj.ACCNO = $('#ACCNM').combobox('getValue');
        $.ajax({
            url: '@Url.Action("getUSEAMT", "Frm208")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                $('#AMT1').val(data[0].AMT1);
                $('#AMT2').val(data[0].AMT2);
            }
        });
    }

    function f208DG1init() {
        var obj = {};
        obj.MKRNO = "";
        //obj.FEEYM = $('#QTX_YM').val();
        obj.FEEYMS = $('#QTX_YMS').val();
        obj.FEEYME = $('#QTX_YME').val();
        $('#f208DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm208")',
            width: '800',
            height: '180',
            rownumbers: true,
            queryParams: obj,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'MKRNM', title: '付款對象', sortable: true, width: 150, halign: "center", align: "left", sortable: true },
                { field: 'AMTSUM', title: '金額', sortable: true, width: 60, halign: "center", align: "right", sortable: true },
                { field: 'FEEYM', title: '費用月份', sortable: true, width: 80, halign: "center", align: "center", sortable: true },
                { field: 'VNO', title: '發票號碼', sortable: true, width: 100, halign: "center", align: "left", sortable: true },
                { field: 'PAYSTA', title: '付款', sortable: true, width: 50, halign: "center", align: "center", sortable: true },
                { field: 'NOTES', title: '付款說明', sortable: true, width: 200, halign: "center", align: "left", sortable: true },
                { field: 'INBUDG', title: '預算內', sortable: true, width: 50, halign: "center", align: "center", sortable: true },
                { field: 'TAGID', title: '流水編號', sortable: true, width: 150, halign: "center", align: "left", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                initf208FORM(row);
            }
        });
    }


    function f208DG1initByFrm302(YM,ACCNO,ACCTP) {
        var obj = {};
        obj.YM = YM;        
        obj.ACCNO = ACCNO;
        obj.ACCTP = ACCTP;
        $('#f208DG1').datagrid({
            url: '@Url.Action("getDG1ByFrm302", "Frm208")',
            width: '800',
            height: '180',
            rownumbers: true,
            queryParams: obj,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'MKRNM', title: '付款對象', sortable: true, width: 150, halign: "center", align: "left", sortable: true },
                { field: 'AMTSUM', title: '金額', sortable: true, width: 60, halign: "center", align: "right", sortable: true },
                { field: 'FEEYM', title: '費用月份', sortable: true, width: 80, halign: "center", align: "center", sortable: true },
                { field: 'VNO', title: '發票號碼', sortable: true, width: 100, halign: "center", align: "left", sortable: true },
                { field: 'PAYSTA', title: '付款', sortable: true, width: 50, halign: "center", align: "center", sortable: true },
                { field: 'NOTES', title: '付款說明', sortable: true, width: 200, halign: "center", align: "left", sortable: true },
                { field: 'INBUDG', title: '預算內', sortable: true, width: 50, halign: "center", align: "center", sortable: true },
                { field: 'TAGID', title: '流水編號', sortable: true, width: 150, halign: "center", align: "left", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                initf208FORM(row);
            }
        });
    }






    function initf208FORM(row) {

        $('#TAGID').val(row.TAGID);
        $('#MKRNM').combogrid('setValue', row.MKRNO);
        $('#AMTSUM').val(row.AMTSUM);

        if ($.trim(row.FIXAREA) == "1") {
            $('input[name=FIXAREA][value=1]').prop("checked", true);
        } else if ($.trim(row.FIXAREA) == "2") {
            $('input[name=FIXAREA][value=2]').prop("checked", true);
        } else if ($.trim(row.FIXAREA) == "3") {
            $('input[name=FIXAREA][value=3]').prop("checked", true);
        }

        if ($.trim(row.FIXQUIP) == "1") {
            $('input[name=FIXQUIP][value=1]').prop("checked", true);
        } else if ($.trim(row.FIXQUIP) == "2") {
            $('input[name=FIXQUIP][value=2]').prop("checked", true);
        }

        $('#VDT').datebox('setValue', row.VDT);
        $('#VNO').val(row.VNO);
        $('#FEEYM').val(row.FEEYM);
        $('#FEEYM').validatebox('validate');
        $('#ACCTPNM').combobox('setValue', $.trim(row.ACCTP));

        $('#ACCNM').combobox('setValue', $.trim(row.ACCNO));
        $('#ACCNM').combobox('setText', $.trim(row.ACCNM));

        $('#FEEAMT').val(row.FEEAMT);
        $('#AMTTX').val(row.AMTTX);
        $('#NOTES').val(row.NOTES);

        if ($.trim(row.PAYSTA) == "1") {
            $('input[name=PAYSTA][value=1]').prop("checked", true);
        } else if ($.trim(row.PAYSTA) == "2") {
            $('input[name=PAYSTA][value=2]').prop("checked", true);
        }

        if ($.trim(row.PAYSTA2) == "1") {
            $('input[name=PAYSTA2][value=1]').prop("checked", true);
        } else if ($.trim(row.PAYSTA) == "2") {
            $('input[name=PAYSTA2][value=2]').prop("checked", true);
        }
        $('#LOGUSR').combobox('setValue', row.LOGUSR);
        $('#KPISUB').combobox('setValue', row.KPISUB);
        $('#INBUDG').combobox('setValue', row.INBUDG);
        $('#REQUEST_NO').val(row.REQUEST_NO);

        initUSEAMT();
    }

    function doAdd() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認要新增資料?", function (r) {
                if (r) {
                    var obj = getObj();
                    obj.TAGID = null;
                    $.ajax({
                        url: '@Url.Action("doAdd", "Frm208")',
                        type: "post",
                        data: getObj(),
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f208DG1').datagrid('reload');
                                $.messager.alert('系統訊息', '資料已新增!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }






    function doSave() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "修改作業不提供[金額],[月份],[科目]等欄位的異動若有以上欄位必須異動,請改以[增],[刪]處理確認儲存?", function (r) {
                if (r) {
                    var obj = getObj();
                    obj.TAGID = $('#TAGID').val();
                    $.ajax({
                        url: '@Url.Action("doSave", "Frm208")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f208DG1').datagrid('reload');
                                $.messager.alert('系統訊息', '資料已儲存!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }

    function getObj() {
        var obj = {};


        obj.MKRNM = $.trim($('#MKRNM').combogrid('getText'));
        obj.MKRNO = $.trim($('#MKRNM').combogrid('getValue'));
        obj.AMTSUM = $('#AMTSUM').val();
        obj.FIXAREA = $("input[name='FIXAREA']:checked").val();
        obj.FIXQUIP = $("input[name='FIXQUIP']:checked").val();


        obj.VDT = $('#VDT').datebox('getValue');
        obj.VNO = $.trim($('#VNO').val());
        obj.FEEYM = $.trim($('#FEEYM').val());

        obj.ACCTP = $.trim($('#ACCTPNM').combobox('getValue'));
        obj.ACCNM = $.trim($('#ACCNM').combobox('getText'));
        obj.ACCNO = $.trim($('#ACCNM').combobox('getValue'));

        if ($('#AMTSUM').val() != "" && $('#AMTTX').val() != "") {
            //$('#FEEAMT').val($('#AMTSUM').val() - $('#AMTTX').val());
            obj.FEEAMT = $('#AMTSUM').val() - $('#AMTTX').val();
        }


        //M.FEEAMT = ROUND(M.AMTSUM * 100 / (100+TXRAT),0)

        obj.AMTTX = $.trim($('#AMTTX').val());

        obj.NOTES = $.trim($('#NOTES').val());
        obj.PAYSTA = $("input[name='PAYSTA']:checked").val();
        obj.PAYSTA2 = $("input[name='PAYSTA2']:checked").val();
        obj.LOGUSR = $.trim($('#LOGUSR').combobox('getText'));
        obj.KPISUB = $.trim($('#KPISUB').combobox('getValue'));
        obj.INBUDG = $.trim($('#INBUDG').combobox('getValue'));
        obj.REQUEST_NO = $.trim($('#REQUEST_NO').val());
        return obj;
    }


    function doClear() {
        $('#TAGID').val('');
        $('#MKRNM').combogrid('setValue', '');
        $('#AMTSUM').val('');
        $('#VDT').datebox('setValue', '');
        $('#VNO').val('');
        $('#FEEYM').val('');

        $('#ACCTPNM').combobox('setValue', '');
        $('#ACCNM').combobox('setValue', '');

        $('#FEEAMT').val('');
        $('#AMTTX').val('');
        $('#NOTES').val('');
        $('#LOGUSR').combobox('setValue', '');
        $('#REQUEST_NO').val('');
    }


    //作廢
    function doRemove() {
        var row = $('#f208DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認', '確定要刪除?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    obj.AMTSUM = $.trim(row.AMTSUM);
                    obj.ACCTP = $.trim(row.ACCTP);
                    obj.ACCNO = $.trim(row.ACCNO);
                    obj.FEEYM = $.trim(row.FEEYM);

                    $.ajax({
                        url: '@Url.Action("doRemove", "Frm208")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f208DG1').datagrid('reload');
                                doClear();
                                $.messager.alert('系統訊息', '選取資料已刪除!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }


    function doCheck() {
        var pass = false;

        if ($('#MKRNM').combogrid('isValid') == false) {
            $.messager.alert('系統訊息', '尚未選取付款對象!', 'warning');
        } else if ($('#VNO').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入發票號碼!', 'warning');
        } else if ($('#AMTSUM').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入款金額!', 'warning');
        } else if ($('#FEEYM').val().length != 6) {
            $.messager.alert('系統訊息', '費用年月份輸入錯誤!', 'warning');
        } else {
            pass = true;
        }

        if (pass == false) {
            return pass;
        }
        var obj = {};
        obj.FEEYM = $.trim($('#FEEYM').val());
        obj.VNO = $.trim($('#VNO').val());
        $.ajax({
            url: '@Url.Action("doCheckVNO", "Frm208")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if ($.trim(data) > 0) {
                    pass = false;
                    $.messager.alert('系統訊息', '當月發票號碼重複, 無法存檔, 請檢查發票號碼!', 'warning');
                } else {
                    pass = true;
                }
            }
        });

        return pass;
    }


    function doQuery() {
        $('#qVNO').val('');
        if ($('#QTX_YMS').val() != "" && $('#QTX_YME').val() != "") {
            var obj = {};
            //obj.MKRNO = $.trim($('#MKRNM').combogrid('getValue'));
            obj.FEEYMS = $.trim($('#QTX_YMS').val());
            obj.FEEYME = $.trim($('#QTX_YME').val());

            obj.QPAYSTA = $("input[name='QPAYSTA']:checked").val();
            obj.QPAYSTA2 = $("input[name='QPAYSTA2']:checked").val();
            $('#f208DG1').datagrid('reload', obj);
        } else {
            $.messager.alert('系統訊息', '請輸入年月份!', 'warning');
        }
    }


    function doQueryVNO() {
        $('#qVNO').val($.trim($('#VNO').val()));
        if ($('#QTX_YM').val() != "") {
            var obj = {};
            obj.MKRNO = $.trim($('#MKRNM').combogrid('getValue'));
            obj.FEEYM = $.trim($('#QTX_YM').val());
            obj.VNO = $.trim($('#VNO').val());
            $('#f208DG1').datagrid('reload', obj);
        } else {
            $.messager.alert('系統訊息', '請輸入年月份!', 'warning');
        }

    }


    function doQueryREQNO() {

        if ($('#REQUEST_NO').val() != "") {
            var obj = {};
            obj.REQUEST_NO = $.trim($('#REQUEST_NO').val());

            $('#f208DG1').datagrid('reload', obj);
        } else {
            $.messager.alert('系統訊息', '請輸入請求書編號!', 'warning');
        }

    }


    function doQueryACCTP() {

        if ($('#ACCTPNM').combobox('getValue') != "") {
            var obj = {};
            obj.ACCTP_NO = $('#ACCTPNM').combobox('getValue');

            $('#f208DG1').datagrid('reload', obj);
        } else {
            $.messager.alert('系統訊息', '請選取費用類別!', 'warning');
        }
    }



    function doQueryACCNM() {
        if ($('#ACCNM').combobox('getValue') != "") {
            var obj = {};
            obj.ACCNO = $('#ACCNM').combobox('getValue');

            $('#f208DG1').datagrid('reload', obj);
        } else {
            $.messager.alert('系統訊息', '請選取費用科目!', 'warning');
        }
    }

    function doQuery2() {
        $('#qVNO').val('');

        if ($('#ACCTPNM_QRY').combobox('getValue') != "") {
            var obj = {};
            //obj.MKRNO = $.trim($('#MKRNM').combogrid('getValue'));
            obj.ACCTP = $('#ACCTPNM_QRY').combobox('getValue');
            $('#f208DG1').datagrid('reload', obj);
        } else {
            $.messager.alert('系統訊息', '請選擇類別!', 'warning');
        }
    }

    function doExport() {
        var obj = {};
        obj.MKRNO = $.trim($('#MKRNM').combogrid('getValue'));
        obj.FEEYM = $.trim($('#QTX_YM').val());

        obj.VNO = $.trim($('#qVNO').val());

        window.location = "@Url.Action("doExport", "frm208")" + '?MKRNO=' + obj.MKRNO + '&FEEYM=' + obj.FEEYM + '&VNO=' + obj.VNO;
    }


    function dodtl() {
        var param = $.trim($('#MKRNM').combogrid('getValue'));
        if (param != "") {
            var obj = {};
            obj.MKRNO = $.trim(param);
            $('#f208DG1').datagrid('reload', obj);
        }
    }



</script>
<h2>Frm208 廠商付款作業</h2>

<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">存檔</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemove()">刪除</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'excel-icon'" onclick="doExport()">匯出Excel</a><br />
<br />

<input type="hidden" id="TAGID" name="TAGID" />
<input type="hidden" id="CONTRAH_TAGID" name="CONTRAH_TAGID" />
<input type="hidden" id="FEEAMT" name="FEEAMT" />
<input type="hidden" id="qVNO" name="qVNO" />
<table width="1280" border="1">
    <tr>
        <td width="450" valign="top">
            <table width="490" border="0">
                <tr>
                    <td bgcolor="#FFCC99"><div align="right">年度預算餘額</div></td>
                    <td bgcolor="#FFCC99"><input type="text" id="AMT1" name="AMT1" style="width:180px" readonly /></td>
                </tr>
                <tr>
                    <td bgcolor="#FFCC99"><div align="right">當月預算餘額</div></td>
                    <td bgcolor="#FFCC99"><input type="text" id="AMT2" name="AMT2" style="width:180px" readonly /></td>
                </tr>
                <tr>
                    <td><div align="right">付款對象</div></td>
                    <td><input type="text" id="MKRNM" name="MKRNM" style="width:200px;height:28px" data-options="required:true" />
                        <a id="btnq" href="#" class="easyui-linkbutton" onclick="dodtl()">列出付款對象所有資料</a>
                    </td>
                </tr>
                <tr>
                    <td><div align="right">維護區域</div></td>
                    <td>
                        <label>
                            <input name="FIXAREA" id="FIXAREA" type="radio" value="1" checked>
                            住宅
                            <input name="FIXAREA" id="FIXAREA" type="radio" value="2">
                            俱樂部
                            <input name="FIXAREA" id="FIXAREA" type="radio" value="3">
                            公共區
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><div align="right">維護項目</div></td>
                    <td>
                        <input name="FIXQUIP" id="FIXQUIP" type="radio" value="2">
                        其他
                        <input name="FIXQUIP" id="FIXQUIP" type="radio" value="1" checked>
                        設備
                    </td>
                </tr>
                <tr>
                    <td><div align="right">付款金額</div></td>
                    <td><input name="AMTSUM" type="text" class="easyui-validatebox" id="AMTSUM" style="width:80px;height:20px" value="0" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td><div align="right">應付稅額</div></td>
                    <td><input name="AMTTX" type="text" class="easyui-validatebox" id="AMTTX" style="width:80px" value="0" />(稅率<span id="txtTX"></span>%)</td>
                </tr>
                <tr>
                    <td width="105"><div align="right">請求書編號</div></td>
                    <td width="375">
                        <input type="text" name="REQUEST_NO" id="REQUEST_NO" style="width:160px" />  
                        <a id="btnQ2" href="#" class="easyui-linkbutton" data-options="iconCls:'search-icon'" onclick="doQueryREQNO()">請求書編號查詢</a>                     
                    </td>
                </tr>
                <tr>
                    <td width="105"><div align="right">發票號碼</div></td>
                    <td width="375">
                        <input type="text" name="VNO" id="VNO" style="width:160px" class="easyui-validatebox" data-options="required:true" />
                        <a id="btnQ2" href="#" class="easyui-linkbutton" data-options="iconCls:'search-icon'" onclick="doQueryVNO()">發票查詢</a>
                    </td>
                </tr>
                <tr>
                    <td><div align="right">發票日期</div></td>
                    <td><input type="text" name="VDT" id="VDT" class="easyui-datebox" style="width:150px;height:28px" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td><div align="right">費用年月份 ex:YYYYMM</div></td>
                    <td><input type="text" id="FEEYM" name="FEEYM" class="easyui-validatebox" style="width:80px" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td><div align="right">費用類別</div></td>
                    <td><input type="text" id="ACCTPNM" name="ACCTPNM" style="width:180px;height:28px" data-options="required:true" />
                        <a id="btnQ2" href="#" class="easyui-linkbutton" data-options="iconCls:'search-icon'" onclick="doQueryACCTP()">費用類別查詢</a>    
                    </td>
                </tr>
                <tr>
                    <td><div align="right">費用科目</div></td>
                    <td><input type="text" id="ACCNM" name="ACCNM" style="width:180px;height:28px" data-options="required:true" />
                        <a id="btnQ2" href="#" class="easyui-linkbutton" data-options="iconCls:'search-icon'" onclick="doQueryACCNM()">費用科目查詢</a> 
                    </td>
                </tr>
                <tr>
                    <td><div align="right">付款說明</div></td>
                    <td>
                        <textarea id="NOTES" name="NOTES" cols="20" rows="3" style="width:250px;height:50px" class="easyui-validatebox"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><div align="right">撥款狀態</div></td>
                    <td>
                        <input name="PAYSTA2" id="PAYSTA2" type="radio" value="1">
                        已撥
                        <input name="PAYSTA2" id="PAYSTA2" type="radio" value="2" checked>
                        未撥
                    </td>
                </tr>

                <tr>
                    <td><div align="right">付款狀態</div></td>
                    <td>
                        <input name="PAYSTA" id="PAYSTA" type="radio" value="1" checked>
                        已付
                        <input name="PAYSTA" id="PAYSTA" type="radio" value="2">
                        未付
                    </td>
                </tr>
                <tr>
                    <td><div align="right">績效費用項</div></td>
                    <td>
                        <select id="KPISUB" class="easyui-combobox" data-options="editable:false" name="KPISUB" style="width:120px;height:28px">
                            <option value="Y">Y 計算績效需扣除</option>
                            <option value="N">N 計算績效不扣除</option>
                        </select>
                        預算內執行
                        <select id="INBUDG" class="easyui-combobox" data-options="editable:false" name="INBUDG" style="width:180px;height:28px">
                            <option value="Y">Y 已編列年度預算直接動支</option>
                            <option value="N">N 未編列年度預算另案申請</option>
                        </select>
                    </td>
                </tr>


                <tr>
                    <td><div align="right">記錄人員</div></td>
                    <td><input type="text" id="LOGUSR" name="LOGUSR" style="width:180px;height:28px"  /></td>
                </tr>
            </table>
        </td>
        <td width="600" valign="top">
                付款狀態<input name="QPAYSTA" id="QPAYSTA" type="radio" value="1">  已付<input name="QPAYSTA" id="QPAYSTA" type="radio" value="2"> 未付<input name="QPAYSTA" id="QPAYSTA" type="radio" value="*" checked> 全部<br />
                撥款狀態<input name="QPAYSTA2" id="QPAYSTA2" type="radio" value="1"> 已撥<input name="QPAYSTA2" id="QPAYSTA2" type="radio" value="2"> 未撥<input name="QPAYSTA2" id="QPAYSTA2" type="radio" value="*" checked> 全部<br />
                <!-- 月份查詢<input type="text" id="QTX_YM" name="QTX_YM" style="width:80px;height:20px" /><br />-->
                年月查詢 (起YYYYMM)<input type="text" id="QTX_YMS" name="QTX_YMS" style="width:80px;height:20px" /> ~ (迄YYYYMM)<input type="text" id="QTX_YME" name="QTX_YME" style="width:80px;height:20px" />
                <a id="btnQuery" href="#" class="easyui-linkbutton" data-options="iconCls:'search-icon'" onclick="doQuery()">查詢</a> <br />
                費用類別查詢<input type="text" id="ACCTPNM_QRY" name="ACCTPNM_QRY" style="width:180px;height:28px" />
                <a id="btnQuery" href="#" class="easyui-linkbutton" data-options="iconCls:'search-icon'" onclick="doQuery2()">查詢</a>
                <table id="f208DG1" data-options="fit:true"></table>
</td>
    </tr>
</table>







