@{
    ViewBag.Title = "Frm301 市區資訊服務";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


        //人員列表
        $('#f301LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });


        //資訊分類
        $('#f301INFTP').combobox({
            url: '@Url.Action("getINFTP", "Frm301")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        f301DG1init();






    });   //ready end

    $(window).load(function () {


        //  $('#NOWDT').datebox('setValue', nowDate);




    });


    function f301DG1init() {
        $('#f301DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm301")',
            width: '1024',
            height: '500',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'INFTP', title: '資訊分類', sortable: true, width: 100, halign: "center", align: "center", sortable: true },
                { field: 'CNM', title: '中文名稱', sortable: true, width: 120, halign: "center", align: "left", sortable: true },
                { field: 'ENM', title: '英文名稱', sortable: true, width: 120, halign: "center", align: "left", sortable: true },
                { field: 'RUNTP', title: '營業種類', sortable: true, width: 100, halign: "center", align: "left", sortable: true },
                { field: 'TEL', title: '電話', sortable: true, width: 150, halign: "center", align: "left", sortable: true },
                { field: 'ADR', title: '地址', sortable: true, width: 300, halign: "center", align: "left", sortable: true },
                { field: 'LOCT', title: '地區別', sortable: true, width: 70, halign: "center", align: "left", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                initf301FORM(row);
            }
        });
    }






    function initf301FORM(row) {
        $('#f301INFTP').combobox('setValue', $.trim(row.INFTP));
        $('#f301CNM').val($.trim(row.CNM));
        $('#f301ENM').val($.trim(row.ENM));
        $('#f301RUNTP').val($.trim(row.RUNTP));
        $('#f301TEL').val($.trim(row.TEL));
        $('#f301ADR').val($.trim(row.ADR));
        $('#f301LOCT').val($.trim(row.LOCT));
        $('#f301WEBSITE').val($.trim(row.WEBSITE));
        //$('#f301AMTSUM').validatebox('validate');

        $('#f301TAGID').val($.trim(row.TAGID));

    }

    function doAdd() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認要新增資料?", function (r) {
                if (r) {
                    var obj = getObj();
                    obj.TAGID = null;
                    $.ajax({
                        url: '@Url.Action("doAdd", "Frm301")',
                        type: "post",
                        data: getObj(),
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f301DG1').datagrid('reload');
                                $.messager.alert('系統訊息', '資料已新增!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }




    function doQuery() {
        var obj = {};
        obj = getObj();
        $('#f301DG1').datagrid('reload', obj);
    }



    function doSave() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認儲存?", function (r) {
                if (r) {
                    var obj = getObj();

                    $.ajax({
                        url: '@Url.Action("doSave", "Frm301")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f301DG1').datagrid('reload');
                                $.messager.alert('系統訊息', '資料已儲存!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }

    function getObj() {
        var obj = {};
        obj.INFTP = $.trim($('#f301INFTP').combobox('getValue'));
        obj.CNM = $.trim($('#f301CNM').val());
        obj.ENM = $.trim($('#f301ENM').val());
        obj.RUNTP = $.trim($('#f301RUNTP').val());
        obj.TEL = $.trim($('#f301TEL').val());
        obj.ADR = $.trim($('#f301ADR').val());
        obj.LOCT = $.trim($('#f301LOCT').val());
        obj.WEBSITE = $.trim($('#f301WEBSITE').val());
        obj.TAGID = $.trim($('#f301TAGID').val());
        return obj;
    }


    function doClear() {
        $('#f301INFTP').combobox('setValue', '');
        $('#f301CNM').val('');
        $('#f301ENM').val('');
        $('#f301RUNTP').val('');
        $('#f301TEL').val('');
        $('#f301ADR').val('');
        $('#f301LOCT').val('');
        $('#f301WEBSITE').val('');
        $('#f301TAGID').val('');
    }


    //作廢
    function doRemove() {
        var row = $('#f301DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認', '確定要刪除資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    $.ajax({
                        url: '@Url.Action("doRemove", "Frm301")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f301DG1').datagrid('reload');
                                doClear();
                                $.messager.alert('系統訊息', '選取資料已刪除!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }


    function doCheck() {
        var pass = false;
        if (($('#f301CNM').val() == "" && $('#f301ENM').val()=="") || $('#f301INFTP').combobox('isValid')==false) {
            $.messager.alert('系統訊息', '資料輸入不完成!', 'warning');
        }else{
            pass = true;
        }
        return pass;
    }






</script>
<h2>Frm301 市區資訊服務</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'broom-icon'" onclick="doClear()">清空</a>
<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">存檔</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemove()">刪除</a>
<a id="btnQuery" href="#" class="easyui-linkbutton" data-options="iconCls:'search-icon'" onclick="doQuery()">查詢</a>
<br />
<br /><font color="red">*</font>可供查詢欄位(英文查詢無大小寫區分)
<input type="hidden" id="f301TAGID" name="f301TAGID" />
<input type="hidden" id="f301CONTRAH_TAGID" name="f301CONTRAH_TAGID" />
<input type="hidden" id="f301FEEYM" name="f301FEEYM" />
<table width="800" border="0">
    <tr>
        <td width="103"><font color="red">*</font> 資訊分類</td>
        <td width="209">
            <input type="text" name="f301INFTP" id="f301INFTP" style="width:160px;height:28px">
        </td>
        <td width="100">地址</td>
        <td width="370"><input type="text" name="f301ADR" id="f301ADR" style="width:350px"></td>
    </tr>
    <tr>
        <td><font color="red">*</font> 中文名稱</td>
        <td><input type="text" name="f301CNM" id="f301CNM"></td>
        <td>電話</td>
        <td><input type="text" name="f301TEL" id="f301TEL" style="width:350px"></td>
    </tr>
    <tr>
        <td><font color="red">*</font> 英文名稱</td>
        <td><input type="text" name="f301ENM" id="f301ENM"></td>
        <td><font color="red">*</font> 營業種類</td>
        <td><input type="text" name="f301RUNTP" id="f301RUNTP" style="width:350px"></td>
    </tr>
    <tr>
        <td><font color="red">*</font> 地區別</td>
        <td><input type="text" name="f301LOCT" id="f301LOCT"></td>
        <td>公司網址</td>
        <td><input type="text" name="f301WEBSITE" id="f301WEBSITE" style="width:350px"></td>
    </tr>
</table>
<table id="f301DG1"></table>