@model IList<IntranetSystem.Models.RequisitionAudit>
@{
    ViewBag.Title = "耗材申請審核一覽表";
    string menuId = "1";
    string mark1 = string.Empty;
    string mark2 = string.Empty;
    string mark3 = string.Empty;

    if (ViewContext.Controller.ValueProvider.GetValue("id") != null)
    {
        menuId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();
    }

    switch (menuId)
    {
        case "1":
            mark1 = "active";
            break;
        case "2":
            mark2 = "active";
            break;
        case "3":
            mark3 = "active";
            break;
    }
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <!-- 頁籤 -->
            <ul class="nav nav-tabs">
                <li class="@mark1">@Html.ActionLink("待審核", "Index", new { @id = 1 })</li>  
                <li class="@mark2">@Html.ActionLink("已審核", "Index", new { @id = 2 })</li> 
                <li class="@mark3">@Html.ActionLink("作廢單", "Index", new { @id = 3 })</li> 
            </ul>

            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                單號
                            </th>
                            <th>
                                申請人
                            </th>
                            <th>
                                狀態
                            </th>
                            <th>
                                建立日期
                            </th>
                            <th>
                                備註
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in this.Model)
                        {
                            <tr>
                                <td>@item.RID.ToString().PadLeft(8, '0')
                                </td>
                                <td>@item.CNAME
                                </td>
                                <td>@Html.Raw(item.STATUS_TEXT)
                                </td>
                                <td>@item.CREATE_DATE
                                </td>
                                <td>@item.REMARK
                                </td>
                                <td>
                                    <span class="pull-right">
                                    @if (item.STATUS.ToString() == "2")
                                    {
                                        @Html.ActionLink("操作", "Details", new { id = item.RID }, new { @class = "btn btn-sm btn-success", role = "button" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("僅供檢視", "Details", new { id = item.RID }, new { @class = "btn btn-sm btn-success", role = "button" })
                                    }
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Raw(ViewData["pageList"])
            </div>
        </div>
    </div>
</div>
