   @Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
        initDepartmentDataGrid();
    });

    $(window).load(function () {
    });

    function initDepartmentDataGrid() {
        $('#ListDG').datagrid({
            url: '@Url.Action("getPhr", "Phr")',
            nowrap:false,
            sortName: 'UUID',
            sortOrder: 'asc',
            remoteSort: true,
            rownumbers: true,
            border: false,
            singleSelect: true,
            striped: true,
            showPageList: true,
            pagePosition: 'bottom',
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            columns: [[            
                {field: 'CONTENT', title: '片語', width: 250, sortable: true },
                { field: 'COMPANY_CODE', title: '適用範圍', width: 60, sortable: true },
            ]],
            onSelect: function (rowIndex, row) {
                displayForm(row);
            }
        });
    }

    function displayForm(row) {
        $('#cc').layout('panel', 'center').panel('setTitle', '編輯');
        $('#CONTENT').textbox('setValue', row.CONTENT);
        $('#UUID').val(row.UUID);
        if (row.COMPANY_CODE == "*") {            
            $('input[name="COMPANY_CODE"]')[0].checked = true;
        } else {
            $('input[name="COMPANY_CODE"]')[1].checked = true;
        }
    }
    function doAdd() {
        $('#cc').layout('panel', 'center').panel('setTitle', '新增');
        $('#ff').form('clear');
    }


    function doSave() {
        $('#ff').form('submit', {
            url: '@Url.Action("doSave", "Phr")',
            onSubmit: function () {
                return $(this).form('enableValidation').form('validate');
            },
            success: function (data) {
                if (data.result != "0") {
                    $.messager.alert('系統訊息', '資料儲存完成!', 'info');
                    $('#ListDG').datagrid('reload');
                }
            }
        });
    }

    function doDelete() {
        var row = $('#ListDG').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('系統訊息', '確定刪除資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.UUID = row.UUID;
                    $.ajax({
                        url: '@Url.Action("doDelete", "Phr")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.result != "0") {
                                $.messager.alert('系統訊息', '資料已刪除!', 'info');
                                doAdd();
                                $('#ListDG').datagrid('reload');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選擇資料!', 'warning');
        }
    }

    /*
    function chkCode(code) {
        var obj = {};
        obj.CODE = code;
        $.messager.progress({ text: '檢查中,請稍後...' });
        $.ajax({
            url: '@Url.Action("chkCode", "Phr")',
            type: "post",
            data: obj,
            dataType: "json",
            async: false,
            success: function (data, textStatus, jqXHR) {
                $.messager.progress('close');
                if (data != "0") {
                    $('#divCode').html('代碼 ' + code + ' 已存在,請重新輸入!');
                    $('#CODE').textbox('setValue', '');
                    return false;
                } else {
                    $('#divCode').html('');
                }

            }
        });
    }*/
</script>
}

<h2>兌換券使用說明片語維護</h2>
<div id="cc" class="easyui-layout" data-options="fit:true" style="padding-bottom:17em;"  > 
    <div data-options="region:'west',title:'說明片語列表',fitColumns:true,split:true"  style="background:#eee;width:30%; height:100%">
        <table id="ListDG"  data-options="fit:true" ></table>
    </div>            
    <div data-options="region:'center',title:'新增'"  style="width:70%; padding:1em 1em 1em 1em" >
    <div class="easyui-panel" style="padding:5px;">
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'add-icon'" onclick="doAdd()">新增</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'save-icon'" onclick="doSave()">儲存</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'delete-icon'" onclick="doDelete()">刪除</a>
    </div>
   <form id="ff" method="post" >    
      <input id="UUID" name="UUID"  type="hidden" />
            <table cellpadding="5">
                <tr>
                    <td style="vertical-align:top"><strong>片語:</strong></td>
                    <td><input id="CONTENT" name="CONTENT" type="text" class="easyui-textbox" data-options="missingMessage:'該輸入項為必輸項',multiline:true" required="required" style="width:400px;height:150px"/></td>
                </tr>
                <tr>
                    <td><strong>適用範圍:</strong></td>
                    <td align="left"><div align="left"><label><input name="COMPANY_CODE" id="COMPANY_CODE" type="radio" value="*" />通用</label>
                      <label><input name="COMPANY_CODE" id="COMPANY_CODE" type="radio" value="01" />本店專用</label></div>
                    </td>
                </tr>        
            </table>
        </form>
    </div>
</div>
