@model IntranetSystem.Models.RequisitionOrder
@{
    ViewBag.Title = "編輯耗材申請單";
    string WebSiteRootPath = (Request.ApplicationPath == "/") ? "" : Request.ApplicationPath;
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            <!-- Form Start -->
            @using (Html.BeginForm("Edit", "RequisitionOrder", FormMethod.Post, new { @class = "form-horizontal", role = "from" }))
            {        
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="DNAME" class="col-sm-2 control-label">
                                部 門<br>
                                DEPARTMENT</label>
                            <div class="col-sm-2" style="font-size: large;">
                                @Model.DNAME
                            </div>
                            <label for="CODE" class="col-sm-2 control-label">
                                單 號<br>
                                ORDER NO</label>
                            <div class="col-sm-2" style="font-size: x-large;">@Model.RID.ToString().PadLeft(8, '0')</div>
                            <label for="CREATE_DATE" class="col-sm-2 control-label">
                                建 立 日 期<br>
                                CREATE DATE</label>
                            <div class="col-sm-2" style="font-size: large;">
                                @Model.CREATE_DATE
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-success col-sm-12 col-sm-offset-1">
                        <div id="MaterialLists">
                        </div>
                    </div>
                </div>

                
                <div class="panel-footer">
                    <div class="row">
                        <div class="form-group">
                            <label for="REMARK" class="col-sm-2 control-label">
                                申請單備註</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="remark" id="remark" value="@Model.REMARK" />
                                <input name="RID" id="RID" type="hidden" value="@Model.RID.ToString()" />
                                <input name="STATUS" id="STATUS" type="hidden" value="@Model.STATUS.ToString()" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            @if (Model.STATUS.ToString() == "1")
                            {                        
                                <div class="col-md-3 col-md-offset-2">
                                    <button type="button" class="btn btn-block btn-success" onclick="tempSave();">
                                        暫存資料</button>
                                </div>
                                <div class="col-md-3">
                                    @Html.ActionLink("回上層", "Index", "RequisitionOrder", null, new { @class = "btn btn-block btn-default" })
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="verify" class="btn btn-block btn-danger" onclick="toVerify();"
                                        data-toggle="tooltip" data-original-title="●送出審核後才能幫您保留耗材，但就無法反悔了。　●有審核權限的人員可以直接領料不用等待審核。"
                                        data-placement="bottom">
                                        送出審核</button>
                                </div>
                        
                            }
                            else
                            {
                                <div class="col-md-12">
                                    @Html.ActionLink("回上層", "Index", "RequisitionOrder", null, new { @class = "btn btn-block btn-default" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            <!-- Form Stop -->
        </div>
    </div>
</div>
@section header {
    @Scripts.Render("~/bundles/jbval")
    <script type="text/javascript">        $(function () {
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        });
    </script>
}
@section scripts {
    @Scripts.Render("~/bundles/requisition")
    <script type="text/javascript">
        $(document).ready(function () {
            refreshMaterial()
        });

        function refreshMaterial() {
            $.post("@WebSiteRootPath/RequisitionOrder/MaterialLists", { did: @Model.DID.ToString(), rid:@Model.RID.ToString() })
                .done(function (data) {
                    $("div#MaterialLists").html(data);
                });
        }
    </script>
}
