@model IList<IntranetSystem.Poco.BulletinPoco>
@{
    ViewBag.Title = "系統公佈欄";

    string menuId = "1";
    string mark = string.Empty;

    if (ViewContext.Controller.ValueProvider.GetValue("id") != null)
    {
        menuId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();
    }
}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title
                <span class="pull-right"><span class="pull-right"><span class="glyphicon glyphicon-plus">
                </span>@Html.ActionLink("新增", "Upload", null, new { @class = "btn btn-xs btn-default" })</span>
            </div>
             <!-- 頁籤 -->
            <ul class="nav nav-tabs">
                @foreach (var item in (IList<IntranetSystem.Poco.BulletinTypePoco>)ViewData["tabs"])
                {
                    //當前頁籤加入active樣式
                    if (item.UUID.ToString() == ViewData["menuId"].ToString()) { mark = "class='active'"; } else { mark = ""; }
                    <li @Html.Raw(mark) >@Html.ActionLink(item.NAME, "Index", new { @id = item.UUID })</li>
                }
            </ul>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                發布日期
                            </th>
                            <th>
                                標題
                            </th>
                            <th>
                                備註
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in this.Model)
                        {
                            <tr>
                                <td>@item.BDATE.ToShortDateString()
                                </td>
                                <td>@item.NAME
                                </td>
                                <td>@item.REMARK
                                </td>
                                <td>
                                    <span class="pull-right"><a href="~/Uploads/@item.CATEGORY/@item.PATH" class="btn btn-success" title="下載檔案">
                                        <span class="glyphicon glyphicon-download"></span></a>
                                        @Html.Raw(" | ")
                                        <a href='@Url.Action("Delete", "Bulletin", new { id = item.UUID })' class="btn btn-danger" title="刪除檔案">
                                            <span class="glyphicon glyphicon-remove-sign"></span></a></span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
