@model IntranetSystem.Models.Material
@{
    ViewBag.Title = "物料資料編輯";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            <!-- Form Start -->
            @using (Html.BeginForm("Edit", "Material", FormMethod.Post, new { @class = "form-horizontal", role = "from" }))
            {
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            料號</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="code" id="code" value="@Model.CODE" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            名稱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name" value="@Model.NAME" required />
                        </div>
                    </div>
                    <div class="form-group has-error">
                        <label class="col-sm-2 control-label">
                            類型</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="tid" id="tid">
                                @Html.Raw(ViewData["TYPE"])
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            規格</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="spec" id="spec" value="@Model.SPEC" placeholder="有需要說明規格才輸入">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            單位</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="unit" id="unit" value="@Model.UNIT" placeholder="台、支、個、綑、包...等單位">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            安全庫存量</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="safety" id="safety" value="@Model.SAFETY" placeholder="小於安全庫存量，系統會通知補貨(預設為0，不通知)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            備註</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="remark" id="remark" value="@Model.REMARK" />
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <button type="submit" class="btn btn-block btn-success">
                                確認送出</button>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("回上層", "Index", "Material", null, new { @class = "btn btn-block btn-default" })
                        </div>
                    </div>
                </div>
            }
            <!-- Form Stop -->
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jbval")
    <script type="text/javascript">
        $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); });
    </script>
}
