@model IList<IntranetSystem.Models.Material>
@if (this.Model != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    料號
                </th>
                <th>
                    名稱
                </th>
                <th>
                    規格
                </th>
                <th>
                    單位
                </th>
                @if (ViewData["menuId"].ToString() == "2")
                {
                    <th>
                        安全量
                    </th>
                }
                <th>
                    目前存貨
                </th>
                @if (ViewData["menuId"].ToString() == "2")
                {
                    <th>
                        &nbsp;
                    </th>
                }
                <th>
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.Model)
            {
                <tr>
                    <td>@item.CODE
                    </td>
                    <td>@item.NAME
                    </td>
                    <td>@item.SPEC
                    </td>
                    <td>@item.UNIT
                    </td>
                    @if (item.TID == 2)
                    {
                        <td>@item.SAFETY
                        </td>
                    }
                    <td>
                        @if (item.TID == 2)
                        {
                            if (item.INVENTORY < item.SAFETY)
                            {
                            <font style="color: #C9302C;">@item.INVENTORY</font>
                            }
                            else
                            {
                            <font style="color: #357EBD;">@item.INVENTORY</font>
                            }
                        }
                        else
                        {
                            <font style="color: #357EBD;">@item.PQTY</font>
                        }
                    </td>
                    @if (item.TID == 2)
                    {                                        
                        <td>
                            <a href='@Url.Action("TonerRef", "Material", new { id = item.MID })' target="_blank" class="colorboxAjax btn btn-sm btn-success" role = "button" >
                                <span class="glyphicon glyphicon-print"></span></a>
                        </td>
                    }
                    <td>
                        <span class="pull-right">
                            @if (ViewData["menuId"].ToString() == "1")
                            {
                                @Html.ActionLink("耗材", "Edit", "PrinterMapping", new { id = item.MID }, new { @class = "btn btn-sm btn-success", role = "button", title = "耗材對應" })
                                @Html.Raw(" | ");
                                @Html.ActionLink("部門", "Edit", "PrinterDepartment", new { id = item.MID }, new { @class = "btn btn-sm btn-info", role = "button", title = "部門對應" })
                                @Html.Raw(" | ");
                            }
                            @Html.ActionLink("編輯", "Edit", new { id = item.MID }, new { @class = "btn btn-sm btn-warning", role = "button" })
                            | @Html.ActionLink("刪除", "Delete", new { id = item.MID }, new { @class = "btn btn-sm btn-danger", role = "button", onclick = "return confirm('確定要刪除這筆資料?');" })
                        </span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>
        查無資料...</h3>
}
