@{
    ViewBag.Title = "Frm213 水費輸入作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {

        f213DG1init();
        //人員列表
        $('#f213LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });


        //水費地址
        $('#f213ADR').combobox({
            url: '@Url.Action("getLOCT", "Frm213")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });





    });   //ready end

    $(window).load(function () {


        //  $('#NOWDT').datebox('setValue', nowDate);


        

        var dt = new Date();
        var nowDate = DateTimeUtil.convertDateToISOString(dt);
        //$('#f213FEEDT').datebox('setValue', nowDate);
        $('#f213FEEYM').val(nowDate.substr(0, 4) + nowDate.substr(5, 2));
        $('#f213FEEYM2').val(nowDate.substr(0, 4) + nowDate.substr(5, 2));
        $('#f213FEEYM').validatebox('validate');
        doQueryYm();


    });



    function f213DG1init() {
        var obj = {};
        obj.q = "";
        $('#f213DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm213")',
            width: '550',
            height: '500',
            queryParams: obj,
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'FEEYM', title: '年月', sortable: true, width: 100, halign: "center", align: "center", sortable: true },
                { field: 'AMTSUM', title: '金額', sortable: true, width: 60, halign: "center", align: "center", sortable: true },
                { field: 'ADR', title: '用水地址', sortable: true, width: 100, halign: "center", align: "right", sortable: true },
                { field: 'WATRNO', title: '水表號碼', sortable: true, width: 100, halign: "center", align: "right", sortable: true },
                { field: 'DGRESN', title: '用水度數', sortable: true, width: 100, halign: "center", align: "right", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                initf213FORM(row);
            }
        });
    }






    function initf213FORM(row) {
        // $('#f213OTHERN').combobox('setText', $.trim(row.OTHERN));
        $('#f213FEEDT1').datebox('setValue', $.trim(row.FEEDT1));
        $('#f213FEEDT2').datebox('setValue', $.trim(row.FEEDT2));
        $('#f213FEEYM').val($.trim(row.FEEYM));
        $('#f213FEEYM').validatebox('validate');
        $('#f213AMTSUM').val($.trim(row.AMTSUM));
        $('#f213AMTSUM').validatebox('validate');

        $('#f213DGRES1').val($.trim(row.DGRES1));
        $('#f213DGRES2').val($.trim(row.DGRES2));
        $('#f213DGRESN').val($.trim(row.DGRESN));
        $('#f213WATRNO').val($.trim(row.WATRNO));
        $('#f213ADR').combobox('setValue',row.ADR);
        

        $('#f213NOTES').val($.trim(row.NOTES));
        $('#f213LOGUSR').combobox('setText', $.trim(row.LOGUSR));
        $('#f213TAGID').val(row.TAGID);

    }

    function doAdd() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認要新增資料?", function (r) {
                if (r) {
                    var obj = getObj();
                    obj.TAGID = null;
                    $.ajax({
                        url: '@Url.Action("doAdd", "Frm213")',
                        type: "post",
                        data: getObj(),
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                doQueryYm();
                                $.messager.alert('系統訊息', '資料已新增!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }



    function doQuery() {
        var obj = {};
        obj.q = "*";
        $('#f213DG1').datagrid('reload', obj);
    }

    function doQueryYm() {
        var obj = {};
        obj.q = $('#f213FEEYM').val();
        $('#f213DG1').datagrid('reload', obj);
    }

    function doQueryYm2() {
        var obj = {};
        obj.q = $('#f213FEEYM2').val();
        $('#f213DG1').datagrid('reload', obj);
    }


    function doSave() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認儲存?", function (r) {
                if (r) {
                    var obj = getObj();

                    $.ajax({
                        url: '@Url.Action("doSave", "Frm213")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                doQueryYm();
                                $.messager.alert('系統訊息', '資料已儲存!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }

    function getObj() {
        var obj = {};        
        obj.FEEYM =  $.trim($('#f213FEEYM').val());
        obj.AMTSUM = $.trim($('#f213AMTSUM').val());

        obj.FEEDT1 = $('#f213FEEDT1').datebox('getValue');
        obj.FEEDT2 = $('#f213FEEDT2').datebox('getValue');

        obj.DGRES1= $.trim($('#f213DGRES1').val());
        obj.DGRES2= $.trim($('#f213DGRES2').val());
        obj.DGRESN= $.trim($('#f213DGRESN').val());
        obj.WATRNO= $.trim($('#f213WATRNO').val());
        obj.ADR = $('#f213ADR').combobox('getValue');
        obj.NOTES = $.trim($('#f213NOTES').val());
        obj.LOGUSR = $.trim($('#f213LOGUSR').combobox('getText'));
        obj.TAGID = $.trim($('#f213TAGID').val());
        return obj;
    }


    function doClear() {        
        $('#f213FEEYM').val('');
        $('#f213AMTSUM').val('');
        $('#f213FEEDT1').datebox('setValue', '');
        $('#f213FEEDT2').datebox('setValue', '');
        $('#f213DGRES1').val('');
        $('#f213DGRES2').val('');
        $('#f213DGRESN').val('');
        $('#f213WATRNO').val('');
        $('#f213NOTES').val('');
        $('#f213LOGUSR').combobox('setValue', '');
        $('#f213TAGID').val('');

    }


    //作廢
    function doRemove() {
        var row = $('#f213DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認', '確定要刪除資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    $.ajax({
                        url: '@Url.Action("doRemove", "Frm213")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f213DG1').datagrid('reload');
                                doClear();
                                $.messager.alert('系統訊息', '選取資料已刪除!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }


    function doCheck() {
        var pass = false;
        if ($('#f213FEEYM').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入收費年月!', 'warning');
        } else if ($('#f213AMTSUM').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入應繳金額!', 'warning');
        } else if ($('#f213ADR').combobox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未選取用水地址!', 'warning');
        } else {
            pass = true;
        }
        return pass;
    }






</script>
<h2>Frm213 計時停車收入作業</h2>

<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">存檔</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemove()">刪除</a>
<br />
<br />
<input type="hidden" id="f213TAGID" name="f213TAGID" />
<input type="hidden" id="f213CONTRAH_TAGID" name="f213CONTRAH_TAGID" />
<table width="1024" height="500" border="1">
    <tr>
        <td width="490" valign="top">
            <table width="490" border="0">
                <tr>
                    <td width="105"><div align="right">收費年月</div></td>
                    <td width="375">
                        <input type="text" name="f213FEEYM" id="f213FEEYM" class="easyui-validatebox" style="width:90px;height:20px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">應繳金額</div></td>
                    <td>
                        <input type="text" id="f213AMTSUM" name="f213AMTSUM" class="easyui-validatebox" data-options="required:true" />
                        (含稅)
                    </td>
                </tr>
                <tr>
                    <td><div align="right">用水地址</div></td>
                    <td><input type="text" id="f213ADR" name="f213ADR" style="width:150px;height:28px" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td><div align="right">水表號碼</div></td>
                    <td><input type="text" id="f213WATRNO" name="f213WATRNO" /></td>
                </tr>
                <tr>
                    <td><div align="right">本期指針</div></td>
                    <td><input type="text" id="f213DGRES2" name="f213DGRES2"  /></td>
                </tr>
                <tr>
                    <td><div align="right">上期指針</div></td>
                    <td><input type="text" id="f213DGRES1" name="f213DGRES1"  /></td>
                </tr>
                <tr>
                    <td><div align="right">用水度數</div></td>
                    <td><input type="text" id="f213DGRESN" name="f213DGRESN" /></td>
                </tr>
                <tr>
                    <td><div align="right">計費日起</div></td>
                    <td><input type="text" name="f213FEEDT1" id="f213FEEDT1" class="easyui-datebox" style="width:150px;height:28px" /></td>
                </tr>
                <tr>
                    <td><div align="right">計費日迄</div></td>
                    <td><input type="text" name="f213FEEDT2" id="f213FEEDT2" class="easyui-datebox" style="width:150px;height:28px"  /></td>
                </tr>
                <tr>
                    <td><div align="right">記錄人員</div></td>
                    <td><input type="text" id="f213LOGUSR" name="f213LOGUSR" style="width:180px;height:28px"  /></td>
                </tr>
            </table>
        </td>
        <td width="518" valign="top">
            月份查詢<input type="text" id="f213FEEYM2" name="f213FEEYM2" /><a id="btnCqy" href="#" class="easyui-linkbutton" onclick="doQueryYm2()">查詢</a>
            <table id="f213DG1"></table>
        </td>
    </tr>
</table>
