@model IList<IntranetSystem.Models.DeliveryOrder>
@{
    ViewBag.Title = "耗材補單及刪單";

    string menuId = "2";
    string mark1 = string.Empty;
    string mark2 = string.Empty;

    if (ViewContext.Controller.ValueProvider.GetValue("id") != null)
    {
        menuId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();
    }

    switch (menuId)
    {
        default:
        case "2":
            mark1 = "active";
            break;
        case "4":
            mark2 = "active";
            break;
    }
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1">
                            <img src="~/Content/images/printer_add.png" height="45" />
                        </div>
                        <div class="col-md-10">
                            @Html.ActionLink("按此進行耗材補單", "Create", null, new { @class = "btn btn-lg btn-block btn-warning active" })
                        </div>
                    </div>
                </div>
            </div>
            <!-- 頁籤 -->
            <ul class="nav nav-tabs">
                <li class="@mark1">@Html.ActionLink("已領料", "Index", new { @id = 2 })</li>
                <li class="@mark2">@Html.ActionLink("作廢單", "Index", new { @id = 4 })</li>
            </ul>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                單號
                            </th>
                            <th>
                                申請人
                            </th>
                            <th>
                                部門
                            </th>
                            <th>
                                狀態
                            </th>
                            <th>
                                領料日期
                            </th>
                            <th>
                                財務單號
                            </th>
                            <th>
                                備註
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in this.Model)
                        {
                            <tr>
                                <td>@item.RID.ToString().PadLeft(8, '0')
                                </td>
                                <td>@item.CNAME
                                </td>
                                <td>@item.DNAME
                                </td>
                                <td>@Html.Raw(item.STATUS_TEXT)
                                </td>
                                <td>@item.RECECIVE_DATE
                                </td>
                                <td>@item.FNO
                                </td>
                                <td>@item.REMARK
                                    @if (item.CXNL != "" && item.CXNL != null)
                                    {
                                        @Html.Raw(" <font color='#FF3030' title='領用後作廢'><span class='glyphicon glyphicon-trash'></sapn>")  @item.CXNL @Html.Raw("</font>")
                                    }
                                </td>
                                <td>
                                    @if (menuId == "2")
                                    {
                                        <a href="~/Reports/OrderRpt1.aspx?rid=@item.RID" target="_blank" class="colorboxAjax btn btn-sm btn-warning" role = "button">查看領料單</a>
                                        @Html.Raw(" | ");
                                        <a href="~/DeliveryAdd/Deny/?id=@item.RID&chkno=@item.CHKNO" target="_blank" class="cancelAjax btn btn-sm btn-danger" role = "button">
                                            作廢</a>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("檢視", "Details", new { id = item.RID }, new { @class = "btn btn-sm btn-success", role = "button" });
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Raw(ViewData["pageList"])
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Styles.Render("~/Content/colorbox")
    @Scripts.Render("~/bundles/colorbox")
    <script type="text/javascript">
        $(".colorboxAjax").colorbox({
            iframe: true,
            innerWidth: 915,
            innerHeight: 1310,
            onClosed: function () { window.location.reload(); }
        });

        $(".cancelAjax").colorbox();
    </script>
}
