@{
    ViewBag.Title = "Frm202 住戶交辦事項";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {



        $('#ttf202').tabs({
            onSelect: function (title, index) {
                switch (index) {
                    case 0:

                        break;
                    case 1:
                        break;
                    case 2:
                        break;
                }
            }
        });

        $("#f202DT3").datebox({
            onSelect: function (date) {
                f202DG1init();
            }
        });
        $("#f202DT4").datebox({
            onSelect: function (date) {
                f202DG2init();
            }
        });


        //房屋編號下拉選單
        $('#f202HOUSE').combogrid({
            panelWidth: 200,
            idField: 'CNO',
            textField: 'CNO',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            url: '@Url.Action("Grid", "Frm107")',
            columns: [[
                { field: 'CNO', title: '房屋編號', width: 60 },
                { field: 'DOOR', title: '門號', width: 60 },
                { field: 'FLOR', title: '樓層', width: 60 }
            ]],
            onSelect: function (index, row) {
                initCONTRAH();
            }
        });



        //人員列表
        $('#f202LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });








    });   //ready end

    $(window).load(function () {
        var dt = new Date();
        //nowDate.setDate(edtDate.getDate());
        var nowDate = DateTimeUtil.convertDateToISOString(dt);
        $('#f202DT1').datebox('setValue', nowDate);
        $('#f202DT2').datebox('setValue', nowDate);
        $('#f202DT3').datebox('setValue', nowDate);
        $('#f202DT4').datebox('setValue', nowDate);
        $('#NOWDT').datebox('setValue', nowDate);

        f202DG1init();
        f202DG2init();



    });

    function f202DG1init() {
        var obj1 = {};
        obj1.DT = $('#f202DT3').datebox('getValue');
        $('#f202DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm202")',
            queryParams: obj1,
            width: '600',
            height: '180',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'RMNO', title: '房號', sortable: true, width: 60, halign: "center", align: "center", sortable: true },
                { field: 'MAN', title: '住戶姓名', sortable: true, width: 150, halign: "center", align: "left", sortable: true },
                { field: 'NOTETP', title: '交辦種類', sortable: true, width: 60, halign: "center", align: "left", sortable: true },
                { field: 'NOTES', title: '交辦事項', sortable: true, width: 300, halign: "center", align: "left", sortable: true },
                { field: 'DT1', title: '開始日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DT2', title: '結束日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'LOGUSR', title: '記錄人', sortable: true, width: 120, halign: "center", align: "left", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {              
                initf202FORM(row);
            }
        });
    }

    function f202DG2init() {
        var obj2 = {};
        obj2.DT = $('#f202DT4').datebox('getValue');
        $('#f202DG2').datagrid({
            url: '@Url.Action("getDG2", "Frm202")',
            queryParams: obj2,
            width: '600',
            height: '180',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: true,
            singleSelect: true,
            sortName: 'DT1',
            sortOrder: 'asc',
            columns: [[
                { field: 'RMNO', title: '房號', sortable: true, width: 60, halign: "center", align: "center", sortable: true },
                { field: 'MAN', title: '住戶姓名', sortable: true, width: 150, halign: "center", align: "left", sortable: true },
                { field: 'NOTETP', title: '交辦種類', sortable: true, width: 60, halign: "center", align: "left", sortable: true },
                { field: 'NOTES', title: '交辦事項', sortable: true, width: 300, halign: "center", align: "left", sortable: true },
                { field: 'DT1', title: '開始日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DT2', title: '結束日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'LOGUSR', title: '記錄人', sortable: true, width: 120, halign: "center", align: "left", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {

            }
        });
    }


    //房屋合約
    function initCONTRAH() {
        var value = $('#f202HOUSE').combogrid('getValue');
        if (value != null) {
            var obj = {};
            obj.CNO = $.trim(value);
            $.ajax({
                url: '@Url.Action("getCONTRAH", "Frm201")',
                type: "post",
                data: obj,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data.length > 0) {
                        $('#f202CONTRAH_TAGID').val($.trim(data[0].TAGID));
                        var obj1 = {};
                        obj1.TAGID = $.trim(data[0].TAGID);
                        //姓名列表
                        $('#f202NAME').combobox({
                            url: '@Url.Action("getOWNER2", "Frm201c")',
                            valueField: 'CNM',
                            textField: 'CNM',
                            editable: false,
                            required: true,
                            onBeforeLoad: function (param) {
                                param.TAGID = obj1.TAGID;
                            }
                        });
                    }
                }
            });
        }
    }

    function initf202FORM(row) {


        $('#f202NAME').combobox('setText', $.trim(row.MAN));

        $('#f202HOUSE').combogrid('setValue', $.trim(row.RMNO));
        $('#f202NOTETP').combobox('setValue', $.trim(row.NOTETP));
        $('#f202NOTES').val($.trim(row.NOTES));
        $('#f202NOTES').validatebox('validate');
        $('#f202DT1').datebox('setValue', row.DT1);
        $('#f202DT2').datebox('setValue', row.DT2);
        $('#f202LOGUSR').combobox('setText', $.trim(row.LOGUSR));
        $('#f202TAGID').val(row.TAGID);
    }

    function doAdd() {
        if (doCheck()) {
            var obj = getObj();
            obj.TAGID = null;
            $.ajax({
                url: '@Url.Action("doAdd", "Frm202")',
                type: "post",
                data: obj,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data.status != '0') {
                        $('#f202DG1').datagrid('reload');
                        $.messager.alert('系統訊息', '資料已新增!', 'info');
                    }
                }
            });
        }
    }

    function doSave() {
        if (doCheck()) {
            var obj = getObj();
            obj.TAGID = $('#f202TAGID').val();
            $.ajax({
                url: '@Url.Action("doSave", "Frm202")',
                type: "post",
                data: obj,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data.status != '0') {
                        $('#f202DG1').datagrid('reload');
                        $.messager.alert('系統訊息', '資料已儲存!', 'info');
                    }
                }
            });
        }
    }

    function getObj() {
        var obj = {};
        obj.MAN = $('#f202NAME').combobox('getText');
        obj.RMNO = $('#f202HOUSE').combogrid('getValue');
        obj.NOTETP = $('#f202NOTETP').combobox('getValue');
        obj.NOTES = $('#f202NOTES').val();
        obj.DT1 = $('#f202DT1').datebox('getValue');
        obj.DT2 = $('#f202DT2').datebox('getValue');
        obj.LOGUSR = $('#f202LOGUSR').combobox('getText');
        return obj;
    }


    function doClear() {
        $('#f202NAME').combobox('setValue', '');
        $('#f202HOUSE').combogrid('setValue', '');
        $('#f202NOTETP').combobox('setValue', '');
        $('#f202NOTES').val('');
        $('#f202DT1').datebox('setValue', '');
        $('#f202DT2').datebox('setValue', '');
        $('#f202LOGUSR').combobox('setValue', '');
    }

    //完成交辦
    function doSuccess() {

        var row = $('#f202DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認','選取房號:'+ row.RMNO +' 您已完成本項工作了嗎?確認要完成交辦?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    $.ajax({
                        url: '@Url.Action("doSuccess", "Frm202")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f202DG1').datagrid('reload');
                                $.messager.alert('系統訊息','房號:'+ row.RMNO +',已完成交辦!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }

    //取消交辦
    function doRemove() {
        var row = $('#f202DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認', '選取房號:'+ row.RMNO +' 確定要取消交辦?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    $.ajax({
                        url: '@Url.Action("doRemove", "Frm202")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f202DG1').datagrid('reload');
                                doClear();
                                $.messager.alert('系統訊息', '房號:' + row.RMNO + ',已取消交辦!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }

    function doCheck() {
        var b=false;
        if ($('#f202HOUSE').combogrid('isValid') == false) {
            $.messager.alert('系統訊息', '尚未選取房屋編號!', 'warning');
        } else if ($('#f202NAME').combobox('getText')=='') {
            $.messager.alert('系統訊息', '尚未輸入住戶姓名!', 'warning');
        } else if ($('#f202NOTES').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入交辦事項!', 'warning');
        } else {
            b = true;
        }
        return b;
    }



</script>
<h2>Frm202 住戶交辦事項</h2>
今天日期 <input type="text" id="NOWDT" name="NOWDT" class="easyui-datebox" style="width:160px;height:28px" data-options="disabled:true" /><br /><br />

   <input type="hidden" id="f202TAGID" name="f202TAGID" />
    <div id="ttf202" class="easyui-tabs" fit="true" style="height:170px">
        <div title="本日交辦" style="padding:10px" data-options="iconCls:'Calendar-icon',fit:true" >
            <a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
            <a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">存檔</a>
            <table width="800" border="1">
                <tr>
                    <td width="136"><div align="right">房屋編號</div></td>
                    <td width="500">
                        <input type="text" name="f202HOUSE" id="f202HOUSE" style="width:80px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">住戶姓名</div></td>
                    <td>
                        <input type="text" id="f202NAME" name="f202NAME" class="easyui-combobox" style="width:250px;height:28px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">交辦種類</div></td>
                    <td>
                        <select id="f202NOTETP" class="easyui-combobox" data-options="editable:false" name="f202NOTETP" style="width:60px;height:28px">
                            <option value="代辦">代辦</option>
                            <option value="代繳">代繳</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td valign="top"><div align="right">交辦事項</div></td>
                    <td valign="top">
                        <label>
                            <textarea id="f202NOTES" name="f202NOTES" cols="50" rows="10" class="easyui-validatebox" data-options="required:true"></textarea>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><div align="right">執行日期</div></td>
                    <td>
                        起
                        <input type="text" id="f202DT1" name="f202DT1" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',validType:['date']" />
                        迄
                        <input type="text" id="f202DT2" name="f202DT2" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',validType:['date']" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">記錄人員</div></td>
                    <td>
                        <input type="text" id="f202LOGUSR" name="f202LOGUSR" style="width:180px;height:28px" />
                    </td>
                </tr>
            </table>
        </div>
        <div title="本日待辦" style="padding:10px" data-options="iconCls:'Calendar-icon'">
            <p>
                待辦日期
                <input type="text" id="f202DT3" name="f202DT3" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',validType:['date']" />
                <a id="btnCok" href="#" class="easyui-linkbutton" data-options="iconCls:'accept-icon'" onclick="doSuccess()">完成交辦</a>
                <a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'note-delete-icon'" onclick="doRemove()">取銷交辦</a>

            </p>
            <table id="f202DG1" data-options="fit:true"></table>
        </div>
        <div title="本日完成" style="padding:10px" data-options="iconCls:'Calendar-icon'">
            <p>
                完成日期
                <input type="text" id="f202DT4" name="f202DT4" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',validType:['date']" />
            </p>
            <table id="f202DG2" data-options="fit:true"></table>

        </div>
    </div>


