@{
    string WebSiteRootPath = (Request.ApplicationPath == "/") ? "" : Request.ApplicationPath;

    string controller = ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString();
    string action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();

    string id = "0";
    if (ViewContext.Controller.ValueProvider.GetValue("id") != null)
    {
        id = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();
    }

    //驗證是否有程式授權
    if (controller != "Home" && !User.Identity.IsAuthenticated && (controller != "User" && action != "ChangePwd"))
    {
        Response.Redirect(WebSiteRootPath + "/Home/Login");
    }
    else if (controller != "Home" && !IntranetSystem.Models.NavigationMenu.chkUserAuth(User.Identity.Name, controller, id) && (controller != "User" && action != "ChangePwd"))
    {
        Response.Redirect(WebSiteRootPath + "/");
    }
    
}
<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>內部管理網站</title>@*    
    @Scripts.Render("~/bundles/modernizr")    
    @Scripts.Render("~/bundles/jquery")
    *@
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/bootstrap")
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
        rel="stylesheet">
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
    @Scripts.Render("~/bundles/ie8down")
    <![endif]-->
    <script type="text/javascript">
        function LoadNavMenu() {
            $.post("@WebSiteRootPath/NavigationMenu/NavMenu", function (data) {
                $("div#NavMenu").html(data);
            });
        }
        
    </script>
    @RenderSection("header", required: false)
</head>
<body onload="">
    <!-- Nav選單,Ajax生成 -->
    <div id="NavMenu">
        <nav role="navigation" class="navbar navbar-default navbar-static-top navbar-inverse">
            <img alt="loading" title="loading" src="~/Content/images/loader3.gif" />
        </nav>
    </div>

    <!-- 訊息列 -->
    @if (ViewData["message"] != "" && ViewData["message"] != null)
    {
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-info-sign"></span>@ViewData["message"]
                </div>
            </div>
        </div>
    }
    
    @if (ViewData["error"] != "" && ViewData["error"] != null)
    {
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-info-sign"></span>@ViewData["error"]
                </div>
            </div>
        </div>
    }
    
    @if (TempData["message"] != "" && TempData["message"] != null)
    {
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="alert alert-warning">
                    <span class="glyphicon glyphicon-info-sign"></span>@TempData["message"]
                </div>
            </div>
        </div>
    }
    
    @if (TempData["error"] != "" && TempData["error"] != null)
    {
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-info-sign"></span>@TempData["error"]
                </div>
            </div>
        </div>
    }
    
    @RenderBody()
    
    @RenderSection("scripts", required: false)
    <script type="text/ecmascript">
        LoadNavMenu();
    </script>
</body>
</html>
