   @Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
<script type="text/javascript" src="~/Content/easyui/exts/datagrid-filter.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/datebox-ext.js"></script>
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/js/jquery-migrate-1.2.1.min.js"></script>



<!--
<script type="text/javascript" src="~/Content/jHtmlArea/ui-lightness/jquery-ui-1.7.2.custom.min.js"></script>
<link rel="Stylesheet" type="text/css" href="~/Content/jHtmlArea/ui-lightness/jquery-ui-1.7.2.custom.css" />
-->
<!--
<script type="text/javascript" src="~/Content/jHtmlArea/jHtmlArea-0.8.min.js"></script>
<link rel="Stylesheet" type="text/css" href="~/Content/jHtmlArea/jHtmlArea.css" />
-->
<link rel="Stylesheet" type="text/css" href="~/Content/jQueryTE/jquery-te-1.4.0.css" />

<style>
#img {
    display: none;
}

#upload {

  cursor: pointer;
  z-index: 1;
  display: block;
  width: 16px;
  height: 16px;  
  background: url('/Content/easyui/themes/icons/upload-icon.png');
}
</style>
<script type="text/javascript" src="~/Content/jQueryTE/jquery-te-1.4.0.min.js"></script>

<script type="text/javascript">



    $(document).ready(function () {
        // $('.jqte-test').jqte();

        $(".jqte-test").jqte({
            placeholder: "請在此輸入或貼上文字",
            "titletext": true,
            "format": false,
            "color": false,
            "ol": false,
            "ul": false,
            "sub": false,
            "sup": false,
            "left": false,
            "right": false,
            "center": false,
            "outdent": false,
            "indent": false,
            "p": false,
            "br": true,
            "b": true,
            "i": true,
            "u": true,
            "link": false,
            "unlink": false,
            "remove": false,
            "rule": false,
            titletext: [
        { title: "格式" },
        { title: "字體大小" },
        { title: "字體顏色" },
        { title: "粗體", hotkey: "B" },
        { title: "斜體", hotkey: "I" },
        { title: "底線", hotkey: "U" },
        { title: "Ordered List", hotkey: "." },
        { title: "Unordered List", hotkey: "," },
        { title: "Subscript", hotkey: "down arrow" },
        { title: "Superscript", hotkey: "up arrow" },
        { title: "Outdent", hotkey: "left arrow" },
        { title: "Indent", hotkey: "right arrow" },
        { title: "靠左" },
        { title: "靠中" },
        { title: "靠右" },
        { title: "刪除線", hotkey: "K" },
        { title: "加入連結", hotkey: "L" },
        { title: "移除連結", hotkey: "" },
        { title: "Cleaner Style", hotkey: "Delete" },
        { title: "Horizontal Rule", hotkey: "H" },
        { title: "顯示Html標籤", hotkey: "" }
        ]
        });



       

        //企業
        $('#IENTID').combobox({
            url: '@Url.Action("getENT", "Isu")',
            valueField: 'CID',
            textField: 'NAME'
        });

        //兌換券種類
        $('#CCID').combogrid({
            url: '@Url.Action("getCCCODE", "Isu")',
            idField: 'CID',
            textField: 'NAME',
            remoteSort: false,
            columns: [[
                { field: 'NAME', title: '名稱', width: 120, sortable: true },
                { field: 'PRC', title: '單價', width: 40, sortable: true }
            ]],
            onSelect: function (index,row) {
              var use=$('#USE_CODE').combobox('getValue');
                if(row.TYPE=="0" && (use=="2" ||use=="4")){    //isuEdit.asp 395  
                   $('#SDT').datebox('enableValidation');
                   $('#EDT').datebox('enableValidation');
                }else{                   
                   $('#SDT').datebox('disableValidation');
                   $('#EDT').datebox('disableValidation');
                }
                showContent(row.TYPE);
                showSumPrice(row.PRC);
            }
        });

        //兌換券用途
        $('#USE_CODE').combobox({
            url: '@Url.Action("getUSECODE", "Isu")',
            valueField: 'CODE',
            textField: 'NAME',
            onSelect: function (record) {
                if (record.CODE == "3" || record.CODE == "4") {
                    $('#ACTAMT').numberbox({ prompt: '免費,不需輸入' });
                    $('#ACTAMT').numberbox('textbox').css({ "background-color": "#E3E3E3" });
                    $('#ACTAMT').numberbox('disable');
                    $('#SALE_RATE').textbox({ prompt: '免費,不需輸入' });

                    // $('#SALE_RATE').numberbox('disable');
                    $('#PAY_CODE').combobox({ prompt: '免費,不用選擇' });
                    $('#PAY_CODE').numberbox('textbox').css({ "background-color": "#E3E3E3" });
                    $('#PAY_CODE').combobox('disable');
                    $('input[name="INVOICE_TYPE"]').attr('disabled', true);
                    $('#invoice_lbl1').hide();
                    $('#invoice_lbl2').hide();
                } else {
                    $('#ACTAMT').numberbox({ prompt: '請輸入實收總額' });
                    $('#ACTAMT').numberbox('enable');
                    //  $('#SALE_RATE').numberbox({ prompt: '請輸入折扣率' });
                    //  $('#SALE_RATE').numberbox('enable');
                    $('#PAY_CODE').combobox({ prompt: '請選擇付款方式' });
                    $('#PAY_CODE').combobox('enable');
                    $('input[name="INVOICE_TYPE"]').attr('disabled', false);
                    $('#invoice_lbl1').show();
                    $('#invoice_lbl2').show();
                }

            }
        });

        //付款方式
        $('#PAY_CODE').combobox({
            url: '@Url.Action("getPAYCODE", "Isu")',
            valueField: 'CODE',
            textField: 'NAME'
        });

        //結帳方式1
        $('#REF_CODE').combobox({
            url: '@Url.Action("getREFCODE", "Isu")',
            valueField: 'CODE',
            textField: 'NAME'
        });

        //結帳方式2
        $('#REF2_CODE').combobox({
            url: '@Url.Action("getREFCODE", "Isu")',
            valueField: 'CODE',
            textField: 'NAME'
        });


        $('#CMPNAME_SEARCH').textbox({ onClickButton: function () {
            openCusCompanyDialog();
        }
        });

        $('#CUS_SEARCH').textbox({ onClickButton: function () {
            openCusDialog();
        }
        });


        $('#CusCompanyDG').datagrid({
            nowrap: false,
            sortName: 'CMPID',
            sortOrder: 'asc',
            remoteSort: true,
            rownumbers: true,
            border: false,
            singleSelect: true,
            striped: true,
            showPageList: true,
            pagePosition: 'bottom',
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            columns: [[
                { field: 'CMPID', title: '統編', width: 70, sortable: true },
                { field: 'CMPNAME', title: '公司名稱', width: 200, sortable: true },
                { field: 'TEL', title: '電話', width: 90, sortable: true }
            ]],
            onDblClickRow: function (index, row) {
                selectCusCompany();
                $('#CusCompanyDialog').dialog('close');
            },
            onLoadSuccess: function (data) {
                if (data.rows != "") {
                    $('#CusCompanyDialog').dialog({
                        title: '請選取公司客戶',
                        width: 450,
                        height: 500,
                        closed: false,
                        cache: false,
                        modal: true,
                        buttons: [
                  {
                      text: '選取',
                      iconCls: 'accept-icon',
                      handler: function () {
                          selectCusCompany();
                          $('#CusCompanyDialog').dialog('close');
                      }
                  },
                  {
                      text: '關閉',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#CusCompanyDialog').dialog('close');
                      }
                  }]
                     , onClose: function () {
                         $('#CusCompanyDG').datagrid('unselectAll');
                     }
                    });

                    $('#CusCompanyDG').datagrid('selectRow', 0);
                } else {
                    $.messager.alert('系統訊息', '查無資料!', 'warning');
                }
            }
        });

        $('#CusDG').datagrid({
            nowrap: false,
            sortName: 'CMPID',
            sortOrder: 'asc',
            remoteSort: true,
            rownumbers: true,
            border: false,
            singleSelect: true,
            striped: true,
            showPageList: true,
            pagePosition: 'bottom',
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            columns: [[
                { field: 'NAME', title: '姓名', width: 150, sortable: true },
                { field: 'TEL', title: '電話', width: 100, sortable: true },
                { field: 'EMAIL', title: '電子郵件', width: 120, sortable: true }
            ]],
            onDblClickRow: function (index, row) {
                selectCus();
                $('#CusDialog').dialog('close');
            },
            onLoadSuccess: function (data) {
                if (data.rows != "") {
                    $('#CusDialog').dialog({
                        title: '請選取客戶',
                        width: 450,
                        height: 500,
                        closed: false,
                        cache: false,
                        modal: true,
                        buttons: [
                  {
                      text: '選取',
                      iconCls: 'accept-icon',
                      handler: function () {
                          selectCus();
                          $('#CusDialog').dialog('close');
                      }
                  },
                  {
                      text: '關閉',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#CusDialog').dialog('close');
                      }
                  }]
                     , onClose: function () {
                         $('#CusDG').datagrid('unselectAll');
                     }
                    });

                    $('#CusDG').datagrid('selectRow', 0);
                } else {
                    $.messager.alert('系統訊息', '查無資料!', 'warning');
                }
            }
        });

        /*
        $('#PASTE').on('paste', function () {
        var element = this;
        setTimeout(function () {
        var text = $(element).val();
        text = nl2br(text);
        console.log(text);
        $('#CONTENT2').val(text);
        }, 100);

        });
        */
        /*
        $('#btn').bind('click', function () {
        openEditDialog();

        });
        */

        $('#ContentDG').datagrid({
            url: '@Url.Action("getPhr", "Phr")',
            nowrap: false,
            sortName: '',
            rownumbers: true,
            border: false,
            singleSelect: true,
            striped: true,
            fitColumns: true,
            showHeader: true,
            autoRowHeight: false,
            columns: [[
                { field: 'CONTENT', title: '說明片語', width: 300 },
            //{ field: 'COMPANY_CODE', title: '適用範圍', width: 60, sortable: true },
            ]],
            onSelect: function (rowIndex, row) {
                //   displayForm(row);
            },
            onDblClickRow: function (index, row) {
                $('#CONTENT' + $('#tmp').val()).val(row.CONTENT);
                $('#CONTENT' + $('#tmp').val()).tooltip({
                    content: $('<div></div>'),
                    onShow: function () {
                        $(this).tooltip('arrow').css('left', 20);
                        $(this).tooltip('tip').css('left', $(this).offset().left);
                    },
                    onUpdate: function (cc) {
                        cc.panel({
                            width: 500,
                            height: 'auto',
                            border: false,
                            content: $('#CONTENT' + $('#tmp').val()).val()
                        });
                    }
                });
                $('#ContentDialog').dialog('close');
            }
        });


        $("#CONTENT1").mouseover(function () {

            $('#CONTENT1').tooltip({
                content: $('<div></div>'),
                onShow: function () {
                    if (this.value != "") {
                        $(this).tooltip('arrow').css('left', 20);
                        $(this).tooltip('tip').css('left', $(this).offset().left);
                    } else {
                        $(this).tooltip('destroy');
                    }
                },
                onUpdate: function (cc) {
                    cc.panel({
                        width: 400,
                        height: 'auto',
                        border: false,
                        content: $("#CONTENT1").val()
                    });
                }
            });

        });


        $("#CONTENT2").mouseover(function () {
            $('#CONTENT2').tooltip({
                content: $('<div></div>'),
                onShow: function () {
                    if (this.value != "") {
                        $(this).tooltip('arrow').css('left', 20);
                        $(this).tooltip('tip').css('left', $(this).offset().left);
                    } else {
                        $(this).tooltip('destroy');
                    }
                },
                onUpdate: function (cc1) {
                    cc1.panel({
                        width: 400,
                        height: 'auto',
                        border: false,
                        content: $("#CONTENT2").val()
                    });
                }
            });
        });
        $("#CONTENT3").mouseover(function () {
            $('#CONTENT3').tooltip({
                content: $('<div></div>'),
                onShow: function () {
                    if (this.value != "") {
                        $(this).tooltip('arrow').css('left', 20);
                        $(this).tooltip('tip').css('left', $(this).offset().left);
                    } else {
                        $(this).tooltip('destroy');
                    }
                },
                onUpdate: function (cc) {
                    cc.panel({
                        width: 400,
                        height: 'auto',
                        border: false,
                        content: $("#CONTENT3").val()
                    });
                }
            });
        });



        $("#CONTENT4").mouseover(function () {
            $('#CONTENT4').tooltip({
                content: $('<div></div>'),
                onShow: function () {
                    if (this.value != "") {
                        $(this).tooltip('arrow').css('left', 20);
                        $(this).tooltip('tip').css('left', $(this).offset().left);
                    } else {
                        $(this).tooltip('destroy');
                    }
                },
                onUpdate: function (cc) {
                    cc.panel({
                        width: 400,
                        height: 'auto',
                        border: false,
                        content: $("#CONTENT4").val()
                    });
                }
            });
        });

        $("#CONTENT5").mouseover(function () {
            $('#CONTENT5').tooltip({
                content: $('<div></div>'),
                onShow: function () {
                    if (this.value != "") {
                        $(this).tooltip('arrow').css('left', 20);
                        $(this).tooltip('tip').css('left', $(this).offset().left);
                    } else {
                        $(this).tooltip('destroy');
                    }
                },
                onUpdate: function (cc) {
                    cc.panel({
                        width: 400,
                        height: 'auto',
                        border: false,
                        content: $("#CONTENT5").val()
                    });
                }
            });
        });

        $("#CONTENT6").mouseover(function () {
            $('#CONTENT6').tooltip({
                content: $('<div></div>'),
                onShow: function () {
                    if (this.value != "") {
                        $(this).tooltip('arrow').css('left', 20);
                        $(this).tooltip('tip').css('left', $(this).offset().left);
                    } else {
                        $(this).tooltip('destroy');
                    }
                },
                onUpdate: function (cc) {
                    cc.panel({
                        width: 400,
                        height: 'auto',
                        border: false,
                        content: $("#CONTENT6").val()
                    });
                }
            });
        });



    });                       //ready end

function nl2br (str, is_xhtml) {   
    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';    
    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
}


$(window).load(function () {
    $("#UPRC").numberbox({ onChange: function (newValue, oldValue) {
        showSumPrice(newValue);
    }
    });

    $("#ACTAMT").numberbox({ onChange: function (newValue, oldValue) {
        showRate();
    }
    });

    $("#QTY").numberbox({ onChange: function (newValue, oldValue) {
        var prc = $("#UPRC").numberbox('getValue');
        showSumPrice(prc);
    }
    });

    $("#MCHGRATE").numberbox({ onChange: function (newValue, oldValue) {
        var prc = $("#UPRC").numberbox('getValue');
        showSumPrice(prc);
    }
    });


    $("#CMPID").textbox({ onChange: function (newValue, oldValue) {   
        selectCusCompany();
    }
    });


    $('#SALE_RATE').textbox('textbox').css({ "background-color": "#E3E3E3" });
    $('#MCHARGE').textbox('textbox').css({ "background-color": "#E3E3E3" });
    $('#TOT').numberbox('textbox').css({ "background-color": "#E3E3E3" });
    /*
    var Today = new Date();
    var NowDate = DateTimeUtil.convertDateToISOString(Today);
    $('#APPLY_DT').datebox('setValue', NowDate);
    */

    $("#CMPNAME_SEARCH").textbox('textbox').bind('keypress', function (e) {
        if (e.which == 13) {
            var row = $('#CusCompanyDG').datagrid('getSelected');
            if (row != null) {
                selectCusCompany();
                $('#CusCompanyDialog').dialog('close');
            } else {
                openCusCompanyDialog(this.value);
            }
        }

    });

    $("#CUS_SEARCH").textbox('textbox').bind('keypress', function (e) {
        if (e.which == 13) {
            var row = $('#CusDG').datagrid('getSelected');
            if (row != null) {
                selectCus();
                $('#CusDialog').dialog('close');
            } else {
                openCusDialog(this.value);
            }
        }
    });








    $('#img').change(function (event) {
        $('#imgDiv').text($('#img').val());
        $('#imgDiv2').text('');
        $('#delDiv2').hide();
    });


     initDepartmentDataGrid();


    $(function () {
        var dg = $('#ContentDG').datagrid();
        var dg2 = $('#ListDG').datagrid();
        dg.datagrid('enableFilter', [{
            field: 'A1',
            type: 'textbox',            
            //options: { precision: 1 },
            op: ['equal', 'notequal', 'less', 'greater']        
        }]);

        dg2.datagrid('enableFilter', [{
            field: 'A1',
            type: 'textbox',            
            //options: { precision: 1 },
            op: ['equal', 'notequal', 'less', 'greater']        
        }]);
    });

});                              //load end

    function initDepartmentDataGrid() {
        $('#ListDG').datagrid({
            url: '@Url.Action("getIsu", "IsuCheck")',
            nowrap: false,
            sortName: 'UUID',
            sortOrder: 'desc',
            remoteSort: false,
            rownumbers: true,
            border: false,
            singleSelect: true,
            striped: true,
            idField:'UUID',
          //  showPageList: true,
          //  pagePosition: 'bottom',
          //  pagination: true,
          //  pageSize: 20,
          //  pageList: [20, 50, 100],
            columns: [[
            //{ field: 'UUID', width: 40, checkbox: true },
                {field: 'UUID', title: '編號', width: 40, sortable: true },
                { field: 'CCID', title: '券別', width: 120, sortable: true ,
                    formatter: function (value, objRow, iIndex) {
                        return value + " " + objRow.CC_NAME;
                    }                
                },
                { field: 'CUS_CMP_NAME', title: '對象', width: 120, sortable: true },
                { field: 'QTY', title: '數量', width: 60, sortable: true, align: "right" },
                //{ field: 'CONTENT1', title: '內容', width: 300, sortable: true, align: "left" },
                { field: 'IENTID', title: '申請關係企業', width: 90, sortable: true, align: "center",
                    formatter: function (value, objRow, iIndex) {
                        return value + " " + objRow.IENT_NAME;
                    }              
                },
                { field: 'ADPTID', title: '申請部門', width: 90, sortable: true,
                   formatter: function (value, objRow, iIndex) {  
                     return value + " " +objRow.ADPT_NAME;
                   }                
                },
                { field: 'AUSERID', title: '申請人', width: 90, sortable: true,
                   formatter: function (value, objRow, iIndex) {  
                     return value + " " +objRow.AUSER_NAME;
                   }                
                }
            ]],
            onSelect: function (rowIndex, row) {                               
              if(row!=null){
                displayForm(row);                
                }
            },
            onLoadSuccess:function(data){             
             var row;
             
              row=$('#ListDG').datagrid('getSelected'); 
              
              if(row!=null){
                displayForm(row);
              }else{                
                if(data.total > 0){
                 $('#ListDG').datagrid('selectRow',0);
                 }                
              }
             
            }
        });
    }

      

    function displayForm(row) {
        
          /*
        
        if (row.STATUS == "2") {
            $('#EditBtn').menubutton('disable');
        } else {
            $('#EditBtn').menubutton('enable');
        }*/

        var obj = {};
        obj.f = row.UUID;
        $.ajax({
            url: '@Url.Action("chkFile", "Isu")',
            data: obj,
            type: "post",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data != "") {
                    d = new Date();
                    $('#imgDiv2').text(data);
                    $('#imgPreview').attr('src', "../CouponTemplateImage/" + data + "?" + d.getTime());
                    $('#delDiv2').show();
                } else {
                    $('#imgDiv2').text("");
                    $('#delDiv2').hide();
                }
                $('#imgDiv').text("");
                $('#img').val('');
            }
        });

        $('#uploadLabel').show();
        $('#UUID_DIV').html(row.UUID);
        $('#UUID').val(row.UUID);     
        $('#ACTAMT').numberbox('setValue', row.ACTAMT);
        $('#IENTID').combobox('setValue',row.IENTID);
        $('#ADPTID').html(row.ADPTID);
        $('#AENTID').html(row.AENTID);
        $('#AUSERID').html(row.AUSERID);
        $('#CCID').combogrid('setValue',row.CCID);
        $('#CONTENT1').val(row.CONTENT1);
        $('#CONTENT2').val(row.CONTENT2);
        $('#CONTENT3').val(row.CONTENT3);
        $('#CONTENT4').val(row.CONTENT4);
        $('#CONTENT5').val(row.CONTENT5);
        $('#CONTENT6').val(row.CONTENT6);
        
        $('#CONTRACT_SDT').datebox('setValue',row.CONTRACT_SDT);
        $('#CONTRACT_EDT').datebox('setValue',row.CONTRACT_EDT);  
        
        
              
        $('#PAY_CODE').combobox('setValue', row.PAY_CODE);
        $('#QTY').numberbox('setValue', row.QTY);
        $('#REMARK').textbox('setValue', row.REMARK);

        $('#UPRC').numberbox('setValue', row.UPRC);
        $('#USE_CODE').combobox('setValue', row.USE_CODE);

        $('#AUSERID').html(row.AUSERID + " " + row.AUSER_NAME);

        $('#AENTID').html(row.AENTID + " "+row.AENT_NAME);
        $('#ADPTID').html(row.ADPTID + " "+row.ADPT_NAME);
        $('#CMPNAME').textbox('setValue', row.CUS_CMP_NAME);
        $('#CMPID').textbox('setValue', row.CMPID);

        $('#CUS_CMP_UUID').val(row.CUS_CMP_UUID);
        $('#CUS_UUID').textbox('setValue', row.CUS_UUID);
        $('#CUSNAME').textbox('setValue', row.CUS_NAME);
        $('#APPLY_DT').datebox('setValue', row.APPLY_DT);

        //$('#CONTRACT_SDT').datebox('setValue', row.CONTRACT_SDT);
        //$('#CONTRACT_EDT').datebox('setValue', row.CONTRACT_EDT);

        $('#SDT').datebox('setValue', row.SDT);
        $('#EDT').datebox('setValue', row.EDT);

        if (row.UPRC != null && row.UPRC != "") {
            $('#UPRC').numberbox('setValue', row.UPRC);
        } else {
            $('#UPRC').numberbox('setValue', '');
        }

        /*
        if (row.SCHGRATE != null && row.SCHGRATE != "") {
            $('#SCHGRATE').numberbox('setValue', row.SCHGRATE);
        } else {
            $('#SCHGRATE').numberbox('setValue', '');
        }
        */
        
        //MCHARGE
        if (row.MCHGRATE != null && row.MCHGRATE != "") {
            $('#MCHGRATE').numberbox('setValue', row.MCHGRATE);
        } else {
            $('#MCHGRATE').numberbox('setValue', '');
        }

        $('#REF_CODE').combobox('setValue', row.REF_CODE);
        $('#REF2_CODE').combobox('setValue', row.REF2_CODE);
        $('#TEMPLATE').textbox('setValue', row.TEMPLATE);
        $('#INVOICE').textbox('setValue', row.INVOICE);

        if (row.UPRC != null && row.UPRC != "") {
           showSumPrice(row.UPRC);
        }else{
           showSumPrice(null);
        }

        //$('#TEMPLATE').val(row.TEMPLATE);

    //    $('#NAME').validatebox('validate');
        //$('#CID').textbox('validate');
        //$('#CID').textbox('readonly', true);
        showContent(row.CC_TYPE);
  //      $('#UPRC').numberbox('setValue', record.CC_PRC);   //種類更換時變動單價與總額計算

    }


    function initForm() {

        $.ajax({
            url: '@Url.Action("doAdd", "Isu")',
            type: "post",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {

                $('#ADPTID').html(data[0].ADPTID + ' ' + data[0].ADPTNAME);
                $('#AENTID').html(data[0].AENTID + ' ' + data[0].AENTNAME);
                $('#AUSERID').html(data[0].AUSERID + ' ' + data[0].AUSERNAME);
                

            }
        });

       // if ($('#img').attr('src', ''))
        //$('#img').attr('src', ); 

        $('#EditBtn').menubutton('enable');
        $('#UUID_DIV').html('');
        $('#UUID').val('');
        $('#ACTAMT').numberbox('setValue', '0');
        $('#IENTID').combobox('setValue', '');

        $('#CCID').combogrid('setValue', '');
        $('#CONTENT1').val('');
        $('#CONTENT2').val('');
        $('#CONTENT3').val('');
        $('#CONTENT4').val('');
        $('#CONTENT5').val('');
        $('#CONTENT6').val('');

        $('#CONTRACT_SDT').datebox('setValue', '');
        $('#CONTRACT_EDT').datebox('setValue', '');
        $('#PAY_CODE').combobox('setValue', '');
        $('#QTY').numberbox('setValue', '0');
        $('#REMARK').textbox('setValue', '');

        $('#UPRC').numberbox('setValue', '0');
        $('#USE_CODE').combobox('setValue', '');

        $('#CMPNAME').textbox('setValue', '');
        $('#CMPID').textbox('setValue', '');

        $('#CUS_CMP_UUID').val('');
        $('#CUS_UUID').textbox('setValue', '');
        $('#CUSNAME').textbox('setValue', '');
        
        $('#SDT').datebox('setValue', '');
        $('#EDT').datebox('setValue', '');


            $('#UPRC').numberbox('setValue', '');

            $('#uploadLabel').hide();
            $('#imgDiv').text('');
            $('#imgDiv2').text('');
            $('#img').val('');
            $('#delDiv2').hide();
        
    }

    function showSumPrice(PRC) {

     //   var row = $('#ListDG').datagrid('getSelected');
        var prc = 0;
    //    if (row != null) {
            if (PRC != null) {
               prc = PRC;
            } else {
              var row = $('#ListDG').datagrid('getSelected');
              if (row != null) {
                 prc = row.CC_PRC;
               }
            }

           $('#UPRC').numberbox('setValue', prc);

           var mchgrate= $('#MCHGRATE').numberbox('getValue');

            var qty = $('#QTY').numberbox('getValue');
            var tot = 0;            
            if (qty != "" && qty > 0) {
                tot = qty * prc;     
              if(mchgrate > 0){
                 var mc=((prc * qty) * mchgrate) / 100;
                 $('#MCHARGE').numberbox('setValue', mc);            
               }else{
                  $('#MCHARGE').numberbox('setValue', 0);
               }
            }

            
            if($('#ACTAMT').numberbox('getValue')=="" || prc > 0){
              $('#ACTAMT').numberbox('setValue', tot);
            }
            $('#TOT').numberbox('setValue',tot);
            showRate();
     //   }
    }

    function showRate() {
        var actamt = $('#ACTAMT').numberbox('getValue');
        var tot = $('#TOT').numberbox('getValue');
        var rate=0;
       if (actamt!="" && tot > 0) {
        rate = ((actamt / tot) - 1) * 100;
       }
       $('#SALE_RATE').textbox('setValue', Math.round(rate) + "%"); 
    }

    function showContent(cc_type) {
        for (var i = 1; i <= 6; i++) {
            if (cc_type == "0") {  //非定型化
                $('#CONTENT' + i).attr('disabled', false);
                $('#CONTENT' + i).css({ "background-color": "#ffffff" });
                $('#CONTENT' + i).attr('placeholder', '說明文字' + i);
                $('#CONTENT_BTN' + i).linkbutton('enable');
                $('#HtmlEditorBtn').linkbutton('enable');
                $('#ClearContentBtn').linkbutton('enable');
                $('#UPRC').numberbox('textbox').css({ "background-color": "#ffffff" });
                $('#UPRC').numberbox('textbox').attr("readonly",false);
               // $('#UPRC').numberbox('enable');

                $('#MCHGRATE').numberbox('textbox').css({ "background-color": "#ffffff" });
                $('#MCHGRATE').numberbox('textbox').attr("readonly",false); 

            } else {
                $('#CONTENT' + i).attr('disabled', true);
                $('#CONTENT' + i).css({ "background-color": "#E3E3E3" });
                $('#CONTENT' + i).attr('placeholder', '定型化契約無法編輯');
                $('#CONTENT_BTN' + i).linkbutton('disable');
                $('#HtmlEditorBtn').linkbutton('disable');
                $('#ClearContentBtn').linkbutton('disable');
                $('#UPRC').numberbox('textbox').css({ "background-color": "#E3E3E3" });
                $('#UPRC').numberbox('textbox').attr("readonly",true);
              
                $('#MCHGRATE').numberbox('textbox').css({ "background-color": "#E3E3E3" });
                $('#MCHGRATE').numberbox('textbox').attr("readonly",true);                

               // $('#UPRC').numberbox('disable');
            }
        } 
    }
    function doAdd() {
        $('#ListDG').datagrid('clearSelections');
        $('#cc').layout('collapse','west');
        $('#CID').textbox('readonly', false);
        $('#cc').layout('panel', 'center').panel('setTitle', '新增');
        //$('#ff').form('clear');
        /*
        var Today=new Date();
        var NowDate=DateTimeUtil.convertDateToISOString(Today);
        $('#APPLY_DT').datebox('setValue', NowDate);
        */
        initForm();
        
    }


    function doSave(status) {
        var isSubmit = true;
        if (vaildate()) {                      
            if (status == "3") {
                $.messager.confirm('系統訊息', '確定核准申請單資料?', function (r) {
                    if (r) {
                      doSubmit(status);
                    }
                });
            }else if(status == "0"){
                $.messager.confirm('系統訊息', '確定駁回申請單資料?', function (r) {
                    if (r) {
                      doSubmit(status);
                    }
                });
            } else {
               doSubmit(status);
           }
        }
    }



    function doSubmit(status){            
                $('#STATUS').val(status);                
                $('#ff').form('submit', {
                    url: '@Url.Action("doSave", "Isu")',
                    onSubmit: function () {

                        return $(this).form('enableValidation').form('validate');
                    },
                    success: function (data) {
                        if (data.result != "0") {
                          var i=0;
                           var row=$('#ListDG').datagrid('getSelected');  
                           var uuid;
                            $.messager.alert('系統訊息', '資料儲存完成!', 'info');
                            $('#ListDG').datagrid('reload');
                            
                                                
                            if(row!=null){
                               uuid=row.UUID;                               
                               $('#ListDG').datagrid('selectRecord',uuid);
                            }
                            
                            
                            
                        }
                }
           });
            
    }
    function doCopy() {
        var row = $('#ListDG').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('系統訊息', '確定複製申請單編號 ' + row.UUID + ' 資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.UUID = row.UUID;
                    $.ajax({
                        url: '@Url.Action("doCopy", "Isu")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.result != "0") {
                                $.messager.alert('系統訊息', '已複製產生一筆申請單!', 'info');                                
                                $('#ListDG').datagrid('reload');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選擇資料!', 'warning');
        }
    }
    function doDelete() {
        var row = $('#ListDG').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('系統訊息', '確定刪除編號 ' + row.UUID + ' 申請單資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.UUID = row.UUID;
                    $.ajax({
                        url: '@Url.Action("doDelete", "Isu")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.result != "0") {
                                $.messager.alert('系統訊息', '資料已刪除!', 'info');                                
                                $('#ListDG').datagrid('reload');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選擇資料!', 'warning');
        }
    }

    /*
    function chkCode(code) {
        var obj = {};
        obj.CID = code;
        $.messager.progress({ text: '檢查中,請稍後...' });
        $.ajax({
            url: '@Url.Action("chkCode", "Isu")',
            type: "post",
            data: obj,
            dataType: "json",
            async: false,
            success: function (data, textStatus, jqXHR) {
                $.messager.progress('close');
                if (data != "0") {
                    $('#divCode').html('代碼 ' + code + ' 已存在,請重新輸入!');
                    $('#CID').textbox('setValue', '');
                    return false;
                } else {
                    $('#divCode').html('');
                }

            }
        });
    }
    */

    $.extend($.fn.datebox.defaults.rules, {
        validDate: {
            validator: function (value) {
                var date = $.fn.datebox.defaults.parser(value);
                var s = $.fn.datebox.defaults.formatter(date);
                return s == value;
            },
            message: '請輸入正確的日期格式(YYYY-MM-DD)'
        }
    });


    function vaildate() {

        if (!$('#IENTID').combobox('isValid')) {
            $.messager.alert('系統訊息', "請選擇發行關係企業!", 'error');
            return false;
        }

       if (!$('#USE_CODE').combobox('isValid')) {
           $.messager.alert('系統訊息', "請選擇兌換券用途!", 'error');
           return false;
       }


       if (!$('#CCID').combobox('isValid')) {
           $.messager.alert('系統訊息', "請選擇兌換券種類!", 'error');
           return false;
       }
       
       

        var SDT = $("#SDT").datebox("getValue");
        var EDT = $("#EDT").datebox("getValue");

        if (!(SDT.match(/^(\d{4})-(\d{2})-(\d{2})$/))) {
            $.messager.alert('系統訊息', "請填寫正確日期格式(YYYY-MM-DD)", 'error');
            $("#SDT").focus();
            return false;
        }

        if (!(EDT.match(/^(\d{4})-(\d{2})-(\d{2})$/))) {
            $.messager.alert('系統訊息', "請填寫正確日期格式(YYYY-MM-DD)", 'error');
            $("#EDT").focus();
            return false;
        }

        if (SDT != "" && EDT != "") {
            if (dateDiff(SDT, EDT) < 0) {
                $.messager.alert('系統訊息', "開始日期不得晚於結束日期", 'error');
                $("#SDT").focus();
                return false;
            }
        }
        return true;
    }


    function dateDiff(dateStr1, dateStr2) {
        dateStr1 = DateTimeUtil.transferIsoDate(dateStr1);
        dateStr2 = DateTimeUtil.transferIsoDate(dateStr2);
        var date1 = new Date(dateStr1);
        var date2 = new Date(dateStr2);
        if (isNaN(date1)) {
            date1 = new Date(dateStr1.replace(/[-]/g, '/'));
        }
        if (isNaN(date2)) {
            date2 = new Date(dateStr2.replace(/[-]/g, '/'));
        }
        return (date2 - date1) / 86400000;
    }


    function openCusCompanyDialog(searchStr) {
    
        if (searchStr == null) {
            searchStr = $('#CMPNAME_SEARCH').textbox('getValue');
        }
        var obj = {};        
       if (searchStr != "" ) {
         obj.SEARCH=searchStr;
        }
        
     $('#CusCompanyDG').datagrid({
         url: '@Url.Action("getCusCompany", "CusCompany")',
         queryParams: obj         
     });

 }

 function openCusDialog(searchStr) {

     if (searchStr == null) {
         searchStr = $('#CUS_SEARCH').textbox('getValue');
     }
     var obj = {};
     
     if (searchStr != "" ) {
         obj.SEARCH = searchStr;
     }
     if($('#CMPID').textbox('getValue')!=""){
         obj.CMPID = $('#CMPID').textbox('getValue');
     }
     

     $('#CusDG').datagrid({
         url: '@Url.Action("getCus", "Cus")',
         queryParams: obj
     });

 }


    function selectCusCompany() {        
       var row=  $('#CusCompanyDG').datagrid('getSelected');
       if (row != null) {
           $('#CUS_CMP_UUID').val(row.UUID);
           $('#CMPID').textbox('setValue', row.CMPID);
           $('#CMPNAME').textbox('setValue', row.CMPNAME);
       }
   }

   function selectCus() {
       var row = $('#CusDG').datagrid('getSelected');
      
       if (row != null) {
           $('#CUS_UUID').textbox('setValue', row.UUID);
           $('#CUSNAME').textbox('setValue', row.NAME);
     
           if (row.CMPID != "") {
               var obj = {};
               obj.CMPID = row.CMPID;
               $.ajax({
                   url: '@Url.Action("getCusCompany", "CusCompany")',
                   type: "post",
                   data: obj,
                   dataType: "json",
                   success: function (data, textStatus, jqXHR) {                       
                       if (data.rows != "") {
                           $('#CMPID').textbox('setValue', data.rows[0].CMPID);
                           $('#CMPNAME').textbox('setValue', data.rows[0].CMPNAME);
                       }
                   }
               });              
           }
       }
   }

   function openContentDialog(ContentNo) {
       $('#tmp').val(ContentNo);
       $('#ContentDialog').dialog({
           title: '歷史片語選擇(可輸入關鍵字查詢,滑鼠連點兩下即可完成選取)',           
           width: 800,
           height: 300,
           closed: false,
           cache: false,
           modal: true,
           buttons: [
                  {
                      text: '確認選取',
                      iconCls: 'add-icon',
                      handler: function () {
                        var row=$('#ContentDG').datagrid('getSelected');
                          if(row!=null){
                          $('#CONTENT' + $('#tmp').val()).val(row.CONTENT);
                          $('#CONTENT' + $('#tmp').val()).tooltip({
                            content: $('<div></div>'),
                            onShow: function () {
                                $(this).tooltip('arrow').css('left', 20);
                                $(this).tooltip('tip').css('left', $(this).offset().left);
                            },
                            onUpdate: function (cc) {
                                cc.panel({
                                    width: 500,
                                    height: 'auto',
                                    border: false,
                                    content: $('#CONTENT' + $('#tmp').val()).val()
                                });
                            }
                        });
                        $('#ContentDialog').dialog('close');  
                        }                        
                      }
                  },
                  {
                      text: '關閉',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#ContentDialog').dialog('close');
                      }
                  }]
       });
   }


    function openDialog() {
        var template;
        template = "/Content/template/" + $('#TEMPLATE').val();
        $('#dialog').dialog({
            title: '樣板預覽',
            href: template,
            width: 800,
            height: 500,
            closed: false,
            cache: false,
            modal: true,
            buttons: [
                  {
                      text: '關閉',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#dialog').dialog('close');
                      }
                  }]
        });
    }

    function openEditDialog() {
        var tmpStr="";
        for (i = 1; i <= 6; i++) {
           var str=$('#CONTENT' + i).val();
             
            if (str != "") {
                if (str.trim().indexOf("<br>") > 0) {
                    tmpStr += $('#CONTENT' + i).val();
                } else {
                    tmpStr += $('#CONTENT' + i).val() + "<br>";
                }
                
            }
        }

        $("#PASTE").jqteVal(tmpStr);

            $('#EditDialog').dialog({
                title: '說明文字編輯器',
                width: 800,
                height: 450,
                closed: false,
                modal: true,
                shadow: false,
                //  href: '@Url.Action("htmlEditor", "Isu")',
                buttons: [
                  {
                      text: '確認貼上取代說明',
                      iconCls: 'paste-icon',
                      handler: function () {
                       //   $.messager.confirm('系統訊息', '目前的說明文字將會被取代,請確認?', function (r) {
                       //       if (r) {

                                  StringSplit($("#PASTE").val(), "<br>");
                                  $('#EditDialog').dialog('close');
                      //        }
                      //    });
                      }
                  },
                  {
                      text: '關閉',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#EditDialog').dialog('close');
                      }
                  }]
            });
            //  $("#PASTE").htmlarea();
          }



          function loadImage(e) {
              var image = new Image();
              image.src = e.target.result;
              $('#imgPreview').attr('src', e.target.result);
          }
          function previewImage() {
              
              var reader = new FileReader();
              var file1 = document.getElementById("img").files[0];
              
              reader.readAsDataURL(file1);
              reader.onload = loadImage;
          }
          function showPreview(str) {
              if (str == "1") {                  
                  previewImage();
              }
              $('#PreviewDialog').dialog({
                  title: '圖片預覽',
                  //  href: '@Url.Action("fileupload", "FileUpload")',            
                  width: 700,
                  height: 500,
                  closed: false,
                  resizable: true,
                  cache:false,
                  modal: true,
                  maximizable:true,
                  buttons: [
                  {
                      text: '關閉',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#PreviewDialog').dialog('close');
                      }
                  }]
              });              

          }


    function StringSplit(str,p){
        var n = str.split(p);
      var i = 0;
      clearContent();

        $.each(n, function (index, value) {
            if (index == 0 && value == "") {
                i = 0;
            } else {
                i = i + 1;
            }            
            if (i <= 6) {
                $('#CONTENT' + i).val(value);
            }
        });
    }

    function clearContent(){
        for (t = 1; t <= 6; t++) {
            $('#CONTENT' + t).val('');
        }       
    }



    function preview() {
        window.location = '/Coupon/Page/Report.aspx';
    }
  

  function doRunReport(title){
    $('#STATUS').val('');
    $('#ff').form('submit', {
           url: '@Url.Action("doSave", "Isu")',
           onSubmit: function () {
             return $(this).form('enableValidation').form('validate');
          },
          success: function (data) {  
             var urlStr="@Url.Action("doRunReport","Isu")";
                var data = eval('(' + data + ')');
                $('#CC_NEW_TEMPLATE').val(data.CC_NEW_TEMPLATE);             
             if (data.CC_NEW_TEMPLATE != "" && data.CC_NEW_TEMPLATE!=null || title =="預覽申請單") {                
                  $('#ListDG').datagrid('reload');
                  $('#ListDG').datagrid('selectRecord',data.UUID);
                var x = document.getElementById("frameAttachment");
                var y = (x.contentWindow || x.contentDocument);
                if (y.document)y = y.document;
                y.body.style.backgroundColor = "white";
                y.body.innerHTML = "讀取中...請稍候!";                
                var RPT=data.CC_NEW_TEMPLATE;

                  
                 if (RPT.toLowerCase().indexOf("pdf") > 0 && title!="預覽申請單"){                 
                    urlStr="@Url.Action("PreviewPDF","Isu")";
                 }else{
                    if(title=="預覽申請單"){
                        RPT="PreviewApplyReport";
                    }else{
                        RPT="Preview" + RPT;
                    }
                 }
                var UUID=data.UUID;
                var CCID = $('#CCID').combobox('getValue');
                $('#win').window('setTitle',title);
                //開啟PDF       
                    $('#frameAttachment').attr('src',urlStr +'?RPT=' + RPT + '&UUID=' +UUID+'&CCID='+CCID);
                    $('#win').window('open'); 
                    $('#win').window('refresh');
               }else{
                  
                   $.messager.alert('系統訊息', '檔案不存在,無法預覽!', 'error');
               }
             }
         });
   }

   /*
  function doRunReport(rptCode,title) {     
      var row=$('#ListDG').datagrid('getSelected');

   if(row!=null){
        var x = document.getElementById("frameAttachment");
        var y = (x.contentWindow || x.contentDocument);
        if (y.document)y = y.document;
        y.body.style.backgroundColor = "white";
        y.body.innerHTML = "讀取中...請稍候!";
        
        var RPT=rptCode;
        var UUID=$('#UUID').val();
        
        $('#win').window('setTitle',title);

       //開啟PDF       
        $('#frameAttachment').attr('src',"@Url.Action("doRunReport","Isu")"+'?RPT=' + RPT + '&UUID=' +UUID );
        $('#win').window('open'); 
        $('#win').window('refresh');

     }else{
        $.messager.alert('系統訊息', '尚未選擇或資料未儲存!', 'warning');
     }
   }
   */
   function doDelPic(){
     var f=$('#imgDiv2').text();
     $.messager.confirm('系統訊息', '確定刪除樣板圖片 ' + f + '?', function (r) {
        if (r) {
        var obj = {};
        obj.f = f;
        $.ajax({
            url: '@Url.Action("delFile", "Isu")',
            data: obj,
            type: "post",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data == "1") {
                    $('#imgDiv2').text("");
                    $('#delDiv2').hide();
                } else {
                   $.messager.alert('系統訊息', '檔案刪除發生錯誤!', 'error');
                }
            }
        });           
        }
     });
   }




</script>
}
<meta name="viewport" content="width=device-width" />
<h2>申請單審核</h2>
<div id="cc" class="easyui-layout" data-options="fit:true" style="padding-bottom:11em;"> 
    <div data-options="region:'west',title:'申請待審核列表',fitColumns:true,split:true"  style="background:#eee;width:300px; height:100%">
        <table id="ListDG"  data-options="fit:true" ></table>
    </div>            
    <div data-options="region:'center',border:false"  style="width:75%;" >
    <div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',split:false,border:false" style="overflow:hidden" >
    <!--
    <div class="easyui-panel" style="padding:5px;width:100%">
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'add-icon'" onclick="doAdd()">新增</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'save-icon'" onclick="doSave()">存檔</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'save-icon'" onclick="doSave()">預覽申請單</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'save-icon'" onclick="doSave()">預覽申請單</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'delete-icon'" onclick="doDelete()">作廢</a>
    </div>
    -->
    <div class="easyui-panel" style="padding:5px;width:100%">        
        <a id="EditBtn" href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'application-edit-icon'">動作</a>
        <a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-search'">預覽</a>        
    </div>
    <div id="mm1" style="width:150px;">
        <div data-options="iconCls:'save-icon'" onclick="doSave('')">存檔</div>
        <div data-options="iconCls:'accept-icon'" onclick="doSave('3')">申請核准</div>        
        <div class="menu-sep"></div>   
        <div data-options="plain:true,iconCls:'delete-icon'" onclick="doSave('0')">申請駁回</div>
        <div class="menu-sep"></div>
    </div>
    <div id="mm2" style="width:100px;">
        <div data-options="iconCls:'icon-search'" onclick="doRunReport('預覽兌換券')">預覽兌換券</div>
        <div data-options="iconCls:'icon-search'" onclick="doRunReport('預覽申請單')">預覽申請單</div>
    </div>
    </div>
     <div data-options="region:'center',title:''"  >
<form id="ff" method="post" enctype="multipart/form-data">    
      <input type="hidden" id="tmp" name="tmp" />
      <input type="hidden" id="STATUS" name="STATUS" />
      <input id="UUID" name="UUID"  type="hidden" />
      <table cellpadding="3" width="960">
                <tr>
                  <td width="150" bgcolor="#EAEAEA"><strong>申請編號 </strong></td>
                  <td  colspan="2" ><div id="UUID_DIV"></div></td>
                  <td bgcolor="#EAEAEA"><strong>申請人員 </strong></td>
                  <td colspan="2"><div id="AUSERID"></div></td>
                </tr>
                <tr>
                  <td bgcolor="#EAEAEA"><strong>申請關係企業</strong></td>
                  <td colspan="2"><div id="AENTID"></div></td>
                  <td bgcolor="#EAEAEA"><strong>申請部門</strong></td>
                  <td colspan="2"><div id="ADPTID"></div></td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"><strong>申請日期</strong></td>
                    <td colspan="2"><input id="APPLY_DT" name="APPLY_DT" type="text" class="easyui-datebox" data-options="readonly:true" style="width:180px;height:30px"/>                      <div id="divCode" style="color:Red"></div></td>
                    <td bgcolor="#EAEAEA"><strong>發行關係企業</strong></td>
                    <td colspan="2"><input id="IENTID" name="IENTID" type="text" class="easyui-combobox" data-options="prompt:'請選擇發行關係企業',missingMessage:'該輸入項為必輸項',editable:false" required="required" style="width:180px;height:30px"/></td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"><strong>用途</strong></td>
                    <td colspan="2"><input id="USE_CODE" name="USE_CODE" type="text" class="easyui-combobox" data-options="prompt:'請選擇用途',editable:false" required="required" style="width:180px;height:28px"/></td>
                    <td bgcolor="#EAEAEA"><strong>兌換券種類</strong></td>
                    <td colspan="2"><input id="CCID" name="CCID" type="text" class="easyui-combogrid" data-options="prompt:'請選擇兌換券種類',editable:false" required="required" style="width:180px;height:28px"/></td>
                </tr>        
                <tr>
                    <td bgcolor="#EAEAEA"><strong>公司客戶查詢</strong></td>
                    <td colspan="2"><input id="CMPNAME_SEARCH" name="CMPNAME_SEARCH" type="text" class="easyui-textbox" data-options="prompt:'請輸入關鍵字',buttonText:'查詢',buttonIcon:'icon-search',disabled:true" style="width:200px;height:28px"/></td>
                    <td bgcolor="#EAEAEA"><strong>統一編號 / 公司客戶</strong></td>
                    <td width="100" bgcolor="#EAEAEA"><input id="CMPID" name="CMPID" type="text" class="easyui-textbox" data-options="editable:false"  style="width:90px;height:28px"/><input type="hidden" id="CUS_CMP_UUID" name="CUS_CMP_UUID" /></td>
                    <td width="199" bgcolor="#EAEAEA"><input id="CMPNAME" name="CMPNAME" type="text" class="easyui-textbox" data-options="editable:false,multiline:true" style="width:180px;height:28px"/>                    </td>
                </tr>        
                <tr>
                    <td bgcolor="#EAEAEA"><strong>個人客戶</strong></td>
                    <td colspan="2"><input id="CUS_SEARCH" name="CUS_SEARCH" type="text" class="easyui-textbox" data-options="prompt:'請輸入關鍵字',buttonText:'查詢',buttonIcon:'icon-search',disabled:true" style="width:200px;height:28px"/></td>
                    <td bgcolor="#EAEAEA"><strong>連絡人代碼/ 姓名</strong></td>
                    <td bgcolor="#EAEAEA"><input id="CUS_UUID" name="CUS_UUID" type="text" class="easyui-textbox" data-options="editable:false" style="width:90px;height:28px"/></td>
                    <td bgcolor="#EAEAEA"><input id="CUSNAME" name="CUSID" type="text" class="easyui-textbox" data-options="editable:false" style="width:180px;height:28px"/></td>
                </tr>            
                <tr>
                    <td bgcolor="#EAEAEA"><strong>說明</strong></td>
                    <td colspan="5">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                    <td style="height:22px"><a id="HtmlEditorBtn" href="#" title="說明文字編輯器" class="easyui-linkbutton" data-options="iconCls:'paste-icon'" onclick="openEditDialog()"></a>
                         <a id="ClearContentBtn" href="#" title="清空所有說明文字" class="easyui-linkbutton" data-options="iconCls:'broom-icon'" onclick="clearContent()"></a>                         
                        <label id="uploadLabel" title="圖片上傳" class="easyui-linkbutton" data-options="iconCls:'upload-icon'" for="img" style="display:none" ></label>
                       <input type="file" id="img" name="img" onchange="$('#imgDiv').text(this.value)"  /><a href='#' onclick="showPreview('1')"><span id="imgDiv"></span></a>
                       <a href='#' title="預覽樣板圖片" onclick="showPreview('2')"><span id="imgDiv2"></span></a>
                       <a id="delDiv2" href='#' title="刪除樣板圖片"  onclick="doDelPic()" style="display:none"><img src="../Content/easyui/themes/icons/clear.png" width="10" height="10"  /></a>                    </td>
                    <td></td>
                    </tr>
                    </table>                    </td>
                </tr>  
                <tr>
                  <td bgcolor="#EAEAEA"><strong>1</strong></td>
                  <td colspan="5"><input id="CONTENT1" name="CONTENT1" type="text" placeholder="說明文字1" style="width:450px;height:20px"/>
                  <a id="CONTENT_BTN1" href="#" title="說明歷史片語" class="easyui-linkbutton" data-options="iconCls:'list-icon'" onclick="openContentDialog('1')" ></a>                  </td>
                </tr>
                <tr>
                  <td bgcolor="#EAEAEA"><strong>2</strong></td>
                  <td colspan="5"><input id="CONTENT2" name="CONTENT2" type="text" placeholder="說明文字2"  style="width:450px;height:20px"/>
                  <a id="CONTENT_BTN2" href="#" title="說明歷史片語" class="easyui-linkbutton" data-options="iconCls:'list-icon'" onclick="openContentDialog('2')"></a>                  </td>
                </tr>
                <tr>
                  <td bgcolor="#EAEAEA"><strong>3</strong></td>
                  <td colspan="5"><input id="CONTENT3" name="CONTENT3" type="text" placeholder="說明文字3"  style="width:450px;height:20px"/>
                  <a id="CONTENT_BTN3" href="#" title="說明歷史片語" class="easyui-linkbutton" data-options="iconCls:'list-icon'" onclick="openContentDialog('3')"></a>                  </td>
                </tr>
                <tr>
                  <td bgcolor="#EAEAEA"><strong>4</strong></td>
                  <td colspan="5"><input id="CONTENT4" name="CONTENT4" type="text" placeholder="說明文字4"  style="width:450px;height:20px"/>
                  <a id="CONTENT_BTN4" href="#" title="說明歷史片語" class="easyui-linkbutton" data-options="iconCls:'list-icon'" onclick="openContentDialog('4')"></a>                  </td>
                </tr>
                <tr>
                  <td bgcolor="#EAEAEA"><strong>5</strong></td>
                  <td colspan="5"><input id="CONTENT5" name="CONTENT5" type="text" placeholder="說明文字5"  style="width:450px;height:20px"/>
                  <a id="CONTENT_BTN5" href="#" title="說明歷史片語" class="easyui-linkbutton" data-options="iconCls:'list-icon'" onclick="openContentDialog('5')"></a>                  </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"><strong>6</strong></td>
                    <td colspan="5"><input id="CONTENT6" name="CONTENT6" type="text" placeholder="說明文字6"  style="width:450px;height:20px"/>
                    <a id="CONTENT_BTN6" href="#" title="說明歷史片語" class="easyui-linkbutton" data-options="iconCls:'list-icon'" onclick="openContentDialog('6')"></a>                    </td>
                </tr>  
                <tr>
                  <td bgcolor="#EAEAEA"><strong>履約保證期限</strong></td>
                  <td colspan="5"><input id="CONTRACT_SDT" name="CONTRACT_SDT" type="text" class="easyui-datebox" data-options="prompt:'履約起始日YYYY-MM-DD'" style="width:180px;height:28px"/>
~
  <input id="CONTRACT_EDT" name="CONTRACT_EDT" type="text" class="easyui-datebox" data-options="prompt:'履約截止日YYYY-MM-DD'" style="width:180px;height:28px"/></td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"><strong>有效期限</strong></td>
                    <td colspan="5"><input id="SDT" name="SDT" type="text" class="easyui-datebox" data-options="prompt:'有效起始日YYYY-MM-DD'" style="width:180px;height:28px" data-options="missingMessage:'該輸入項為必輸項'" required="required"/>
                    ~
                    <input id="EDT" name="EDT" type="text" class="easyui-datebox" data-options="prompt:'有效截止日YYYY-MM-DD'" style="width:180px;height:28px" data-options="missingMessage:'該輸入項為必輸項'" required="required"/></td>
                </tr> 
                <tr>
                  <td bgcolor="#EAEAEA"><strong>數量</strong></td>
                  <td  align="left"><input id="QTY" name="QTY" type="text" class="easyui-numberbox" data-options="prompt:'請輸入數量'" style="width:70px;height:28px"/></td>
                  <td width="81" align="left" bgcolor="#EAEAEA"><strong>單價 </strong></td>
                  <td align="left" ><input id="UPRC" name="UPRC" type="text" class="easyui-numberbox" data-options="prompt:'請輸入單價'"  style="width:180px;height:28px"/></td>
                  <td align="left">&nbsp;</td>
				  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td bgcolor="#EAEAEA"><strong>應總額收</strong></td>
                  <td width="180" align="left"><input id="TOT" name="TOT" type="text" class="easyui-numberbox"  style="width:180px;height:28px;"/></td>
                  <td width="81" align="left" bgcolor="#EAEAEA"><strong>實收總額 </strong></td>
                  <td width="180" align="left"><input id="ACTAMT" name="ACTAMT" type="text" class="easyui-numberbox" data-options="prompt:'請輸入實收總額'"  style="width:180px;height:28px"/></td>
                  <td align="left" bgcolor="#EAEAEA"><strong>折扣率</strong></td>
                  <td align="left"><input id="SALE_RATE" name="SALE_RATE" type="text" class="easyui-textbox"  style="width:180px;height:28px" data-options="disabled:true"/></td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA"><strong>付款方式</strong></td>
                    <td align="left"><input id="PAY_CODE" name="PAY_CODE" type="text" class="easyui-combobox" data-options="prompt:'請選擇付款方式',editable:false" style="width:180px;height:28px" /></td>
                    <td align="left" bgcolor="#EAEAEA"><strong>發票開立</strong></td>
                    <td align="left"><div align="left">
                      <label id="invoice_lbl1">
                        <input name="INVOICE_TYPE" id="INVOICE_TYPE" type="radio" value="2" checked="checked"/>
                        二聯式</label>
                      <label id="invoice_lbl2">                       
                        <input name="INVOICE_TYPE" id="INVOICE_TYPE" type="radio" value="3" />
                        三聯式</label>
                    </div></td>
                     <td align="left"></td>
					 <td></td>
                </tr>  
                <tr>
                    <td bgcolor="#EAEAEA"><strong>備註:</strong></td>
                    <td colspan="5" align="left"><input id="REMARK" name="REMARK" type="text" class="easyui-textbox" data-options="prompt:'輸入備註',multiline:true"  style="width:450px;height:42px"/></td>
                </tr>
                <tr>
                  <td bgcolor="#FF9900"><strong>手續費率<br />
                  </strong> </td>
                  <td align="left" bgcolor="#FFE7D7">
                  <input id="MCHGRATE" name="MCHGRATE" type="text" class="easyui-numberbox" data-options="prompt:'請輸入手續費率'"  style="width:150px;height:28px"/>%</td>
                  <td align="left" bgcolor="#FF9900" valign="middle"><strong>結帳方式1 </strong></td>
                  <td align="left" bgcolor="#FFE7D7"><input id="REF_CODE" name="REF_CODE" type="text" class="easyui-combobox" data-options="prompt:'請選擇結帳方式1',editable:false" style="width:180px;height:28px" /></td>
                  <td align="left" bgcolor="#FF9900"><strong>發票號碼</strong></td>
                  <td align="left" bgcolor="#FFE7D7"><input id="INVOICE" name="INVOICE" type="text" class="easyui-textbox" data-options="prompt:'請輸入發票號碼'"  style="width:180px;height:28px"/></td>
                </tr>
                <tr>
                  <td bgcolor="#FF9900"><strong>手續費</strong></td>
                  <td align="left" bgcolor="#FFE7D7"><input id="MCHARGE" name="MCHARGE" type="text" class="easyui-numberbox" data-options="disabled:true"  style="width:150px;height:28px"/></td>
                  <td align="left" bgcolor="#FF9900" valign="middle"><strong>結帳方式2</strong></td>
                  <td align="left" bgcolor="#FFE7D7"><input id="REF2_CODE" name="REF2_CODE" type="text" class="easyui-combobox" data-options="prompt:'請選擇結帳方式2',editable:false" style="width:180px;height:28px" /></td>
                  <td align="left" bgcolor="#FF9900"><strong>自訂樣板檔</strong></td>
                  <td align="left" bgcolor="#FFE7D7"><input id="TEMPLATE" name="TEMPLATE" type="text" class="easyui-textbox" data-options="prompt:'請輸入樣版檔'"  style="width:180px;height:28px"/></td>
                </tr>     
            </table>
</form>
</div>
</div>
    </div>
</div>
<div id="dialog"></div>

<div id="CusCompanyDialog" style="padding:10px">
   <table id="CusCompanyDG"  data-options="fit:true,modal:true" ></table>
</div>

<div id="CusDialog" style="padding:10px">
   <table id="CusDG"  data-options="fit:true,modal:true" ></table>
</div>

<div id="EditDialog" >
    <textarea cols="50" rows="30" id="PASTE" name="PASTE" class="jqte-test"></textarea>
</div>

<div id="ContentDialog" >
    <table id="ContentDG"  data-options="fit:true,modal:true" ></table>
</div>

<div id="PreviewDialog" >
    <img id="imgPreview"/>
</div>
<!--
<SPAN class=spanclass id=AD_L4EVER><script src="~/Content/js/init.js"></script></SPAN> 
-->

<div id="win" class="easyui-window"  style="width:800px;height:600px"
        data-options="iconCls:'pdf-icon',modal:true,closed:true,shadow:true,cache: false,minimizable:false">        
<iframe id="frameAttachment" name="frameAttachment" frameborder="0" style="display:block; width: 100%; height: 100%; vertical-align: top; border: 0px">
</iframe>
</div>