@{
    ViewBag.Title = "Frm401 會員入會作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {
        
        //房屋編號下拉選單
        $('#HOUSE').combogrid({
            queryParams: '',
            panelWidth: 200,
            idField: 'CNO',
            textField: 'CNO',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            url: '@Url.Action("Grid", "Frm107")',
            columns: [[
                { field: 'CNO', title: '房屋編號', width: 60 },
                { field: 'DOOR', title: '門號', width: 60 },
                { field: 'FLOR', title: '樓層', width: 60 }
            ]],
            onSelect: function (index, row) {
                initCONTRAH();
            }
        });

        //姓名
        $('#CNM').combogrid({
            queryParams: '',
            panelWidth: 400,
            idField: 'USER',            
            textField: 'USER',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            editable: false,
            required:true,
            url: '@Url.Action("getCNM", "Frm201f")',
            columns: [[
                { field: 'TYPE', title: '角色', width: 50 },
                { field: 'USER', title: '姓名', width: 350 }
            ]]
        });

        //人員列表
        $('#LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });


        //國籍
        $('#CNTRY').combobox({
            url: '@Url.Action("getCNTRY", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        //卡別
        $('#TPNM').combobox({
            url: '@Url.Action("getCARDTYPE", "Frm201f")',
            valueField: 'CNM',
            textField: 'CNM',
            editable: false
        });

        f401DG1init();






    });   //ready end

    $(window).load(function () {


        //  $('#NOWDT').datebox('setValue', nowDate);

        


    });

    //房屋合約
    function initCONTRAH() {
        var value = $('#HOUSE').combogrid('getValue');
        if (value != null) {
            var obj = {};
            obj.CNO = $.trim(value);
            $.ajax({
                url: '@Url.Action("getCONTRAH", "Frm201")',
                type: "post",
                data: obj,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {                    
                    var obj={};
                    obj.TAGID = $.trim(data[0].TAGID);
                    $('#CONTRAH_TAGID').val($.trim(data[0].TAGID));
                    $('#CNCNO').val($.trim(data[0].CNHNO));                  
                    var g = $('#CNM').combogrid('grid');                    
                    g.datagrid('reload', obj);
                    $('#CNM').combogrid('setValue', '');
                }
            });
        }
    }

    function f401DG1init() {
        $('#f401DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm401")',
            width: '700',
            height: '500',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'CNM', title: '姓名', sortable: true, width: 150, halign: "center", align: "left" },
                { field: 'SEX', title: '性別', sortable: true, width: 60, halign: "center", align: "center" },
                { field: 'BIRTH', title: '生日', sortable: true, width: 100, halign: "center", align: "center" },
                { field: 'EMAIL', title: 'EMAIL', sortable: true, width: 150, halign: "center", align: "left" },
                { field: 'CIDT', title: '入會日', sortable: true, width: 100, halign: "center", align: "left" },
                { field: 'TPNM', title: '卡別', sortable: true, width: 60, halign: "center", align: "left" }
            ]],
            onSelect: function (rowIndex, row) {
                initf401FORM(row);
            }
        });
    }






    function initf401FORM(row) {
        $('#HOUSE').combogrid('setValue', $.trim(row.RMNO));
        $('#CNM').combogrid('setValue', $.trim(row.CNM));
        $('#CNTRY').combobox('setValue', $.trim(row.CNTRY));
        $('#SEX').combobox('setValue', $.trim(row.SEX));
        $('#BLODTP').combobox('setValue', $.trim(row.BLODTP));
        $('#BIRTH').datebox('setValue', $.trim(row.BIRTH));
        $('#EMAIL').val($.trim(row.EMAIL));
        $('#CIDT').datebox('setValue', $.trim(row.CIDT));
        $('#CODT').datebox('setValue', $.trim(row.CODT));
        $('#PID').val($.trim(row.PID));
        if ($.trim(row.MARRI) == "1") {
            $('input[name=MARRI][value=1]').prop("checked", true);
        } else if ($.trim(row.MARRI) == "2") {
            $('input[name=MARRI][value=2]').prop("checked", true);
        }
        $('#TPNM').combobox('setValue', $.trim(row.TPNO));
        $('#MFEE').val($.trim(row.MFEE));
        $('#NOTES').val($.trim(row.NOTES));
        $('#LOGUSR').combobox('setText', $.trim(row.LOGUSR));
        $('#TAGID').val($.trim(row.TAGID));

    }

    function doAdd() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認要新增資料?", function (r) {
                if (r) {
                    var obj = getObj();
                    obj.TAGID = null;
                    
                    $.ajax({
                        url: '@Url.Action("doAdd", "Frm401")',
                        type: "post",
                        data: getObj(),
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f401DG1').datagrid('reload');
                                $.messager.alert('系統訊息', '資料已新增!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }








    function doSave() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認儲存?", function (r) {
                if (r) {
                    var obj = getObj();

                    $.ajax({
                        url: '@Url.Action("doSave", "Frm401")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f401DG1').datagrid('reload');
                                $.messager.alert('系統訊息', '資料已儲存!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }

    function getObj() {
        var obj = {};
        obj.CNM = $.trim($('#CNM').combogrid('getValue'));
        obj.CNTRY = $.trim($('#CNTRY').combobox('getValue'));
        obj.SEX = $.trim($('#SEX').combobox('getValue'));
        obj.BLODTP = $.trim($('#BLODTP').combobox('getValue'));
        obj.BIRTH = $.trim($('#BIRTH').datebox('getValue'));
        obj.POSL = $.trim($('#POSL').combobox('getValue'));
        obj.EMAIL = $.trim($('#EMAIL').val());
        obj.CIDT = $.trim($('#CIDT').datebox('getValue'));
        obj.CODT = $.trim($('#CODT').datebox('getValue'));
        obj.PID = $.trim($('#PID').val());
        obj.MARRI = $("input[name='MARRI']:checked").val();
        obj.TPNM = $.trim($('#TPNM').combobox('getText'));
        obj.TPNO = $.trim($('#TPNM').combobox('getValue'));
        obj.MFEE = $.trim($('#MFEE').val());
        obj.NOTES = $.trim($('#NOTES').val());        
        obj.TAGID = $.trim($('#TAGID').val());
        obj.LOGUSR = $.trim($('#LOGUSR').combobox('getText'));
        obj.RMNO = $.trim($('#HOUSE').combogrid('getValue'));
        obj.CNCNO = $.trim($('#CNCNO').val());
        obj.JOBTAG = $.trim($('#CONTRAH_TAGID').val());
        return obj;
    }


    function doClear() {
        $('#CNM').combogrid('setValue', '');
        $('#CNTRY').combobox('setValue', '');        
        $('#BLODTP').combobox('setValue', '');
        $('#BIRTH').datebox('setValue', '');
        $('#EMAIL').val('');
        $('#CIDT').datebox('setValue', '');
        $('#CODT').datebox('setValue', '');
        $('#PID').val('');
        $('#TPNM').combobox('setValue', '');
        $('#MFEE').val('');
        $('#NOTES').val('');
        $('#LOGUSR').combobox('setValue', '');
        $('#TAGID').val('');
        $('#HOUSE').combogrid('setValue','');
    }


    //作廢
    function doRemove() {
        var row = $('#f401DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認', '確定要終止資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    $.ajax({
                        url: '@Url.Action("doRemove", "Frm401")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f401DG1').datagrid('reload');
                                doClear();
                                $.messager.alert('系統訊息', '選取資料已終止!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }


    function doCheck() {
        var pass = false;        
        if ($('#CNM').combogrid('isValid') == false) {
            $.messager.alert('系統訊息', '請輸入姓名!', 'warning');
        }else if ($('#TPNM').combobox('isValid') == false) {
            $.messager.alert('系統訊息', '請選取卡別!', 'warning');
        } else if ($('#CODT').datebox('isValid') == false) {
            $.messager.alert('系統訊息', '請輸入終止日!', 'warning');
        } else {
            pass = true;
        }
        return pass;
    }






</script>
<h2>Frm401 會員入會作業</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'broom-icon'" onclick="doClear()">清空</a>
<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">存檔</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemove()">終止</a>

<br />
<br />
<input type="hidden" id="TAGID" name="TAGID" />
<input type="hidden" id="CONTRAH_TAGID" name="CONTRAH_TAGID" />
<input type="hidden" id="CNCNO" name="CNCNO" />
<table width="900" border="0">
    <tr>
        <td>房號</td>
        <td colspan="3"> <input type="text" name="HOUSE" id="HOUSE" style="width:80px" /></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td width="51">姓名</td>
        <td colspan="3">
            <input type="text" name="CNM" id="CNM" style="width:300px;height:28px">
        </td>
        <td width="70">卡別</td>
        <td width="213"><input type="text" name="TPNM" id="TPNM" style="width:150px;height:28px" data-options="required:true"></td>
    </tr>
    <tr>
        <td>國籍</td>
        <td width="168"><input type="text" id="CNTRY" name="CNTRY" style="width:160px;height:28px" /></td>
        <td width="88">入會日</td>
        <td width="184"><input type="text" name="CIDT" id="CIDT" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',validType:['date']"></td>
        <td>月費(季繳)</td>
        <td><input type="text" name="MFEE" id="MFEE" style="width:150px"></td>
    </tr>
    <tr>
        <td height="32">性別</td>
        <td>
            <select id="SEX" class="easyui-combobox" data-options="editable:false" name="SEX" style="width:60px;height:28px">
                <option value="男">男</option>
                <option value="女">女</option>
            </select>
        </td>
        <td>終止日</td>
        <td><input type="text" name="CODT" id="CODT" class="easyui-datebox" style="width:160px;height:28px" data-options="required:true,prompt:'YYYY-MM-DD',validType:['date']"></td>
        <td>備註</td>
        <td rowspan="4" valign="top">
            <label>
                <textarea name="NOTES" id="NOTES" rows="5" style="width:250px"></textarea>
            </label>
        </td>
    </tr>
    <tr>
        <td>血型</td>
        <td>
            <select id="BLODTP" class="easyui-combobox" data-options="editable:false" name="BLODTP" style="width:60px;height:28px">
                <option value=""></option>
                <option value="A">A型</option>
                <option value="B">B型</option>
                <option value="O">O型</option>
                <option value="AB">AB型</option>
            </select>
        </td>
        <td>證號</td>
        <td><input type="text" name="PID" id="PID" style="width:150px"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>生日</td>
        <td><input type="text" name="BIRTH" id="BIRTH" class="easyui-datebox" style="width:160px;height:28px" data-options="prompt:'YYYY-MM-DD',validType:['date']"></td>
        <td>婚姻</td>
        <td>
            <input name="MARRI" id="MARRI" type="radio" value="1" />
            已婚
            <input name="MARRI" id="MARRI" type="radio" value="2" />
            未婚
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>職稱</td>
        <td>
            <select id="POSL" name="POSL" class="easyui-combobox" data-options="editable:false" style="width:100px;height:28px">
                <option value="高階主管">高階主管</option>
                <option value="中階主管">中階主管</option>
                <option value="一般行政">一般行政</option>
            </select>
        </td>
        <td>承辦人</td>
        <td><input type="text" name="LOGUSR" id="LOGUSR" style="width:150px;height:28px"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>EMAIL</td>
        <td colspan="3"><input type="text" name="EMAIL" id="EMAIL" style="width:400px"></td>
        <td>&nbsp;</td>
        <td valign="top">&nbsp;</td>
    </tr>
</table>
<table id="f401DG1"></table>