@model IntranetSystem.Models.DepartPermit
@{
    ViewBag.Title = "部門權限編輯";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            
            <!-- Form Start -->
            @using (Html.BeginForm("Edit", "DepartPermit", FormMethod.Post, new { @class = "form-horizontal", role = "from", onsubmit = "return checkForm()" }))
            {
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">部門名稱</label>
                        <div class="col-sm-10"><p class="form-control-static">@Model.NAME</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">部門代碼</label>
                        <div class="col-sm-10"><p class="form-control-static">@Model.CODE</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">群組</label>
                        <div class="col-sm-4">
                            <select id="hasgroup" name="hasgroup" multiple size="10" class="form-control" ondblclick="delGroup();">
                            @Html.Raw(Model.HASGROUP)
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <p><a href="javascript:selGroup();" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span>新增</a></p>
                            <p><a href="javascript:delGroup();" class="btn btn-danger btn-block">移除<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                        </div>
                        <div class="col-sm-4">
                            <select id="group" name="group" multiple size="10" class="form-control" ondblclick="selGroup();">
                            @Html.Raw(Model.GROUP)
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">程式</label>
                        <div class="col-sm-4">
                            <select id="hasprogram" name="hasprogram" multiple size="15" class="form-control" ondblclick="delProgram();">
                            @Html.Raw(Model.HASPROGRAM)
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <p><a href="javascript:selProgram();" class="btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span>新增</a></p>
                            <p><a href="javascript:delProgram();" class="btn btn-danger btn-block">移除<span class="glyphicon glyphicon-chevron-right"></span></a></p>
                        </div>
                        <div class="col-sm-4">
                            <select id="program" name="program" multiple size="15" class="form-control" ondblclick="selProgram();">
                            @Html.Raw(Model.PROGRAM)
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <button class="btn btn-block btn-success" type="submit" >確認送出</button>
                        </div>
                        <div class="col-md-4">
                            @Html.ActionLink("回上層", "Index", "Department", null, new { @class = "btn btn-block btn-default" })
                        </div>
                    </div>
                </div>
            }
            <!-- Form Stop -->
            
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/dpermit.js" type="text/javascript"></script>
    <script>
        function checkForm() {
            //送出所有已選項目
            $("select#hasgroup").find("option").attr("selected", true);
            $("select#hasprogram").find("option").attr("selected", true);
            return true;
        }    
    </script>
}
