@{
    ViewBag.Title = "Frm212 計時停車收入作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


        //人員列表
        $('#f212LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });


        f212DG1init();


   


    });   //ready end

    $(window).load(function () {


        //  $('#NOWDT').datebox('setValue', nowDate);


        

        var dt = new Date();
        var nowDate = DateTimeUtil.convertDateToISOString(dt);
        $('#f212FEEDT').datebox('setValue', nowDate);
        $('#f212FEEYM').val(nowDate.substr(0, 4) + nowDate.substr(5, 2));
        $('#f212FEEYM2').val(nowDate.substr(0, 4) + nowDate.substr(5, 2));
        doQueryYm();


    });



    function f212DG1init() {
        var obj = {};
        obj.q = "";
        $('#f212DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm212")',
            width: '550',
            height: '500',
            queryParams: obj,
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'FEEDT', title: '日期', sortable: true, width: 100, halign: "center", align: "center", sortable: true },
                { field: 'AMTSUM', title: '金額', sortable: true, width: 60, halign: "center", align: "center", sortable: true },
                { field: 'VNO1', title: '發票起號', sortable: true, width: 100, halign: "center", align: "right", sortable: true },
                { field: 'VNO2', title: '發票迄號', sortable: true, width: 100, halign: "center", align: "right", sortable: true },
                { field: 'NOTES', title: '作廢發票號碼', sortable: true, width: 100, halign: "center", align: "right", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                initf212FORM(row);
            }
        });
    }






    function initf212FORM(row) {
       // $('#f212OTHERN').combobox('setText', $.trim(row.OTHERN));
        $('#f212FEEDT').datebox('setValue', $.trim(row.FEEDT));        
        $('#f212FEEDT').datebox('validate');
        $('#f212FEEYM').val($.trim(row.FEEYM));
        $('#f212AMTSUM').val($.trim(row.AMTSUM));
        $('#f212AMTSUM').validatebox('validate');

        $('#f212VNO1').val($.trim(row.VNO1));
        $('#f212VNO1').validatebox('validate');

        $('#f212VNO2').val($.trim(row.VNO2));
        $('#f212VNO2').validatebox('validate');

        $('#f212NOTES').val($.trim(row.NOTES));
        $('#f212LOGUSR').combobox('setText', $.trim(row.LOGUSR));
        $('#f212TAGID').val(row.TAGID);

    }

    function doAdd() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認要新增資料?", function (r) {
                if (r) {
                    var obj = getObj();
                    obj.TAGID = null;
                    $.ajax({
                        url: '@Url.Action("doAdd", "Frm212")',
                        type: "post",
                        data: getObj(),
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                doQueryYm();
                                $.messager.alert('系統訊息', '資料已新增!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }



    function doQuery() {
        var obj = {};
        obj.q = "*";
        $('#f212DG1').datagrid('reload',obj);
    }

    function doQueryYm() {
        var obj = {};
        obj.q = $('#f212FEEYM').val();
        $('#f212DG1').datagrid('reload', obj);
    }

    function doQueryYm2() {
        var obj = {};
        obj.q = $('#f212FEEYM2').val();
        $('#f212DG1').datagrid('reload', obj);
    }


    function doSave() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認儲存?", function (r) {
                if (r) {
                    var obj = getObj();
                    
                    $.ajax({
                        url: '@Url.Action("doSave", "Frm212")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                doQueryYm();
                                $.messager.alert('系統訊息', '資料已儲存!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }

    function getObj() {
        var obj = {};
        obj.FEEDT = $.trim($('#f212FEEDT').datebox('getValue'));
        obj.FEEYM = obj.FEEDT.substr(0, 4) + obj.FEEDT.substr(5, 2);
        obj.VNO1 = $.trim($('#f212VNO1').val());
        obj.VNO2 = $.trim($('#f212VNO2').val());
        obj.AMTSUM = $.trim($('#f212AMTSUM').val());
        obj.NOTES = $.trim($('#f212NOTES').val());
        obj.LOGUSR = $.trim($('#f212LOGUSR').combobox('getText'));
        obj.TAGID = $.trim($('#f212TAGID').val());
        return obj;
    }


    function doClear() {
        $('#f212FEEDT').datebox('setValue', '');
        $('#f212FEEYM').val('');
        $('#f212AMTSUM').val('');
        $('#f212VNO1').val('');
        $('#f212VNO2').val('');
        $('#f212NOTES').val('');        
        $('#f212LOGUSR').combobox('setValue','' );
        $('#f212TAGID').val('');
    }


    //作廢
    function doRemove() {
        var row = $('#f212DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認', '確定要刪除資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    $.ajax({
                        url: '@Url.Action("doRemove", "Frm212")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f212DG1').datagrid('reload');
                                doClear();
                                $.messager.alert('系統訊息', '選取資料已刪除!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }


    function doCheck() {
        var pass = false;
        if ($('#f212FEEDT').datebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未選取收入日期!', 'warning');
        } else if ($('#f212AMTSUM').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入收入金額!', 'warning');
        } else if ($('#f212VNO1').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入發票號碼(起)!', 'warning');
        } else if ($('#f212VNO2').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入發票號碼(迄)!', 'warning');
        }else{
            pass = true;
        }
        return pass;
    }






</script>
<h2>Frm212 計時停車收入作業</h2>

<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">存檔</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemove()">刪除</a>
<br />
<br />
<input type="hidden" id="f212TAGID" name="f212TAGID" />
<input type="hidden" id="f212CONTRAH_TAGID" name="f212CONTRAH_TAGID" />
<input type="hidden" id="f212FEEYM" name="f212FEEYM" />
<table width="1024" height="500" border="1">
    <tr>
        <td width="490" valign="top">
            <table width="490" border="0">
                <tr>
                    <td width="105"><div align="right">收入日期</div></td>
                    <td width="375">
                        <input type="text" name="f212FEEDT" id="f212FEEDT" class="easyui-datebox" style="width:150px;height:28px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">收入金額</div></td>
                    <td>
                        <input type="text" id="f212AMTSUM" name="f212AMTSUM" class="easyui-validatebox" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">發票號碼</div></td>
                    <td>
                        <input type="text" id="f212VNO1" name="f212VNO1" class="easyui-validatebox" data-options="required:true" />
                        ~ 迄
                        <input type="text" id="f212VNO2" name="f212VNO2" class="easyui-validatebox" data-options="required:true" />
                    </td>
                </tr>

                <tr>
                    <td><div align="right">作廢發票號碼備註</div></td>
                    <td><input type="text" id="f212NOTES" name="f212NOTES" style="width:300px;height:20px" /></td>
                </tr>
                <tr>
                    <td><div align="right">記錄人員</div></td>
                    <td><input type="text" id="f212LOGUSR" name="f212LOGUSR" style="width:180px;height:28px" /></td>
                </tr>
            </table>
        </td>
        <td width="518" valign="top">
            月份查詢<input type="text" id="f212FEEYM2" name="f212FEEYM2" /><a id="btnCqy" href="#" class="easyui-linkbutton" onclick="doQueryYm2()">查詢</a>
            <table id="f212DG1"></table>
        </td>
    </tr>
</table>
