@model IntranetSystem.Models.IncomingOrder
@{
    ViewBag.Title = "編輯進貨單";
    string WebSiteRootPath = (Request.ApplicationPath == "/") ? "" : Request.ApplicationPath;
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <label for="CODE" class="col-sm-2 control-label">
                            進貨單號：</label>
                        <div class="col-sm-2">@Model.IID.ToString().PadLeft(8, '0')</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="CNAME" class="col-sm-2 control-label">
                            建立人員：</label>
                        <div class="col-sm-2">@Model.CNAME</div>
                        <label for="CREATE_DATE" class="col-sm-2 control-label">
                            建立日期：</label>
                        <div class="col-sm-3">
                            @Model.CREATE_DATE
                            @if (Model.CREATE_DATE != Model.UPDATE_DATE)
                            {
                                <span class="glyphicon glyphicon-time" title="修改人員：@Model.UNAME@Html.Raw("\n")修改日期：@Model.UPDATE_DATE"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <fieldset>
                    <legend style="font-size: 1em; width: auto;">選擇物料</legend>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <select id="MaterialType" name="MaterialType" size="10" class="form-control" multiple
                                onclick="searchMaterial();" data-toggle="tooltip" data-original-title="1.先選擇類型">
                                @Html.Raw(ViewData["TypelLists"])
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <select id="Materials" name="Materials" size="10" class="form-control" multiple ondblclick="addMaterial();"
                                data-toggle="tooltip" data-original-title="2.滑鼠雙擊項目，可直接加入物料。">
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
            <!-- Form Start -->
            @using (Html.BeginForm("Edit", "IncomingOrder", FormMethod.Post, new { @class = "form-horizontal", role = "from" }))
            {                
                <div class="panel-body">
                    <fieldset>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        項次
                                    </th>
                                    <th>
                                        料號
                                    </th>
                                    <th>
                                        名稱
                                    </th>
                                    <th>
                                        數量
                                    </th>
                                    <th>
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.Raw(ViewData["Details"])
                            </tbody>
                        </table>
                    </fieldset>
                </div>

                
                <div class="panel-footer">
                    <div class="row">
                        <div class="form-group">
                            <label for="REMARK" class="col-sm-2 control-label">
                                備註說明</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="remark" id="remark" value="@Model.REMARK" />
                                <input name="IID" id="IID" type="hidden" value="@Model.IID.ToString()" />
                                <input name="STATUS" id="STATUS" type="hidden" value="@Model.STATUS.ToString()" />
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                            <button type="submit" class="btn btn-block btn-success">
                                暫存資料</button>
                        </div>
                        <div class="col-md-3">
                            @Html.ActionLink("回上層", "Index", "IncomingOrder", null, new { @class = "btn btn-block btn-default" })
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="store" class="btn btn-block btn-danger" onclick="toStore();" data-toggle="tooltip" data-original-title="點擊後物料才會入庫存，但此單將被鎖住無法編輯!!">
                                確定入庫</button>
                        </div>
                    </div>
                </div>
            }
            <!-- Form Stop -->
        </div>
    </div>
</div>
@section header {
    @Scripts.Render("~/bundles/jbval")
    <script type="text/javascript">        $(function () {
            $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
        }); </script>
}
@section scripts {
    <script type="text/javascript">
        function searchMaterial() {
            $.post("@WebSiteRootPath/SearchMaterial/MaterialLists/",
    { type: $("select#MaterialType").find(":selected").val() }).done(function (data)
    { $('select#Materials').html(data); });
        }
    </script>

    @Scripts.Render("~/bundles/material")

    <style type="text/css">
        .tooltip-inner
        {
            max-width: 800px;
        }
    </style>
}
