@model IList<IntranetSystem.Models.IncomingOrder>
@{
    ViewBag.Title = "進貨單一覽表";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title
            <span class="pull-right">
                <span class="pull-right"><span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("新增", "Create", null, new { @class = "btn btn-xs btn-default" })</span></span>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                單號
                            </th>
                            <th>
                                進貨人
                            </th>
                            <th>
                                狀態
                            </th>
                            <th>
                                建立日期
                            </th>
                            <th>
                                備註
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in this.Model)
                        {
                            <tr>
                                <td>@item.IID.ToString().PadLeft(8,'0')
                                </td>
                                <td>@item.CNAME
                                </td>
                                <td>@item.STATUS_TEXT
                                </td>
                                <td>@item.CREATE_DATE
                                @if (item.CREATE_DATE != item.UPDATE_DATE)
                                {
                                <span class="glyphicon glyphicon-time" title="修改人員：@item.UNAME@Html.Raw("\n")修改日期：@item.UPDATE_DATE"></span>
                                }
                                </td>
                                <td>@item.REMARK
                                </td>
                                <td><span class="pull-right">
                                @if (item.STATUS.ToString() == "1")
                                {
                                    @Html.ActionLink("編輯", "Edit", new { id = item.IID }, new { @class = "btn btn-sm btn-warning", role = "button" });
                                    @Html.Raw(" | ");
                                    @Html.ActionLink("刪除", "Delete", new { id = item.IID }, new { @class = "btn btn-sm btn-danger", role = "button", onclick = "return confirm('確定要刪除這筆資料?');" });
                                }
                                else
                                {
                                    @Html.ActionLink("檢視", "View", new { id = item.IID }, new { @class = "btn btn-sm btn-success", role = "button" });
                                }
                                
                                </span></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.Raw(ViewData["pageList"])
            </div>
        </div>
    </div>
</div>

