@model IList<IntranetSystem.Models.Program>
@{
    ViewBag.Title = "程式一覽表";
    string menuId = "1";
    string mark = string.Empty;
    
    if (ViewContext.Controller.ValueProvider.GetValue("id") != null)
    {
        menuId = ViewContext.Controller.ValueProvider.GetValue("id").RawValue.ToString();
    }

}


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title
                <span class="pull-right">
                    　|　<span class="glyphicon glyphicon-sort"></span>
                    <input class="btn btn-xs btn-default" type="submit" value="更新排序" onclick="forms['sortFrom'].submit();">
                    　|　<span class="glyphicon glyphicon-plus"></span>
                    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-xs btn-default" })
                </span>
            </div>
            <!-- 頁籤 -->
            <ul class="nav nav-tabs">
            @foreach (var item in (IList<IntranetSystem.Models.Menu>)ViewData["tabs"])
            {
                //當前頁籤加入active樣式
                if(item.MID.ToString() == menuId) { mark = "class='active'"; } else { mark = ""; }
                <li @Html.Raw(mark) >@Html.ActionLink(item.NAME, "Index", new { @id = item.MID })</li>
            }
                <li>@Html.ActionLink("未分類", "Index", new { @id = 0 })</li>        
            </ul>

            <!-- 內容  -->
            <div class="panel-body">
            @using (Html.BeginForm("UpdateSort", "Program", FormMethod.Post, new { @id = "sortFrom", @class = "form-horizontal", role = "from" }))
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                程式名稱
                            </th>
                            <th>
                                路徑(Controllers)
                            </th>
                            <th>
                                備註
                            </th>
                            <th>
                                排序
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in this.Model)
                        {
                            <tr>
                                <td>@item.NAME
                                @if (item.EXTRA != "") { <span class="glyphicon glyphicon-link"></span> } 
                                </td>
                                <td>@item.CODE
                                </td>
                                <td>@item.REMARK
                                </td>
                                <td>
                                <input type="number" class="form-control" name="@item.PID" value="@item.SORT" style="width:60px" />
                                </td>
                                <td><span class="pull-right">
                                @Html.ActionLink("編輯", "Edit", new { id = item.PID }, new { @class = "btn btn-sm btn-warning", role = "button" })
                                 | @Html.ActionLink("刪除", "Delete", new { id = item.PID }, new { @class = "btn btn-sm btn-danger", role = "button", onclick = "return confirm('確定要刪除這筆資料?');" })
                                </span></td>
                            </tr>          
                        }
                    </tbody>
                </table>
            }
            </div>
        </div>
    </div>
</div>