   @Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
               
        initCusCompanyDataGrid();
        initCity(null);
    });

    $(window).load(function () {
        $("#ID").bind('blur', function (e) {
            if ($('#ID').textbox("textbox").attr("readonly") != "readonly") {
                var code = $("#ID").val();
                chkCode(code);
            }
        });
    });


    function initCusCompanyDataGrid() {
        var obj = {};
        obj.CMPID = '@ViewBag.CMPID';
        obj.UUID = '@ViewBag.UUID'; 
        $('#ListDG').datagrid({
            url: '@Url.Action("getCus", "Cus")',
            nowrap: false,
            queryParams: obj,
            sortName: 'NAME',
            sortOrder: 'asc',
            remoteSort: true,
            rownumbers: true,
            border: false,
            singleSelect: true,
            striped: true,
            showPageList: true,
            pagePosition: 'bottom',
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            columns: [[
            //{ field: 'UUID', width: 40, checkbox: true },
                {field: 'NAME', title: '姓名', width: 120, sortable: true },
                { field: 'TEL', title: '電話', width: 100, sortable: true },
                { field: 'TEL_M', title: '行動電話', width: 100, sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                displayForm(row);
            },
            onLoadSuccess: function (data) {
                if (obj.CMPID != null && data.rows.length > 0) {                    
                    $('#ListDG').datagrid('selectRow', 0);
                }
            }
        });
    }

    function displayForm(row) {
        
        $('#cc').layout('panel', 'center').panel('setTitle', '編輯:' + row.NAME);
        //$('#CMPID').textbox('setValue', row.CMPID);        
        //$('#CMPID').textbox('readonly', true);

        $('#NAME').val(row.NAME);
        $('#TEL').val(row.TEL);
        $('#FAX').val(row.FAX);
        $('#EMAIL').val(row.EMAIL);
        $('#UUID').val(row.UUID);
        $('#ADDR').val(row.ADDR);
        $('#TEL_M').val(row.TEL_M);
        $('#NAME').validatebox('validate');
        initCity(row.ZIP);
        $('#divCode').html('');
    }


    function initCity(ZIP) {
        var NAME;
        $('#CITY').combobox({
            url: '@Url.Action("getCityList", "CusCompany")',
            valueField: 'CODE',
            textField: 'NAME',
            onSelect: function (record) {
                initZIP(null, record.NAME);
                NAME = record.NAME;
                $('#ADDR').val(record.NAME );                
            },
            onLoadSuccess: function () {
                if (ZIP != null) {
                    var obj = {};
                    obj.ZIP = ZIP;
                    $.ajax({
                        url: '@Url.Action("getCity", "Cus")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            $('#CITY').combobox('setValue', data[0].NAME);
                            initZIP(ZIP, data[0].NAME);
                        }
                    });
                } else {
                   
                   initZIP(null, NAME);
                }
            }
        });

    }

    function initZIP(ZIP, NAME) {      
        $('#ZIP').combobox({
            url: '@Url.Action("getZIPList", "Cus")',
            valueField: 'CODE',
            textField: 'NAME',
            onSelect: function (record) {
                initZIP(null, record.NAME);
            },
            onBeforeLoad: function (param) {
                param.NAME = NAME;
            },
            onLoadSuccess: function () {
                if (ZIP != null) {
                    var obj = {};
                    obj.ZIP = ZIP;
                    $.ajax({
                        url: '@Url.Action("getZIP", "Cus")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {                            
                            $('#ZIP').combobox('setValue', data[0].CODE);
                        }
                    });
                }
            }
        });
    }

    function doAdd() {
       // $('#CMPID').textbox('readonly', false);
        $('#cc').layout('panel', 'center').panel('setTitle', '新增');
        $('#ff').form('clear');
        
    }


    function doSave() {
        $('#ff').form('submit', {
            url: '@Url.Action("doSave", "Cus")',
            onSubmit: function () {
                return $(this).form('enableValidation').form('validate');
            },
            success: function (data) {                
                if (data.result != "0") {
                    $.messager.alert('系統訊息', '資料儲存完成!', 'info');
                    $('#ListDG').datagrid('reload');
                }
            }
        });       
    }

    function doDelete() {
        var row = $('#ListDG').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('系統訊息', '確定刪除 '+row.CMPNAME+' 資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.UUID = row.UUID;
                    $.ajax({
                        url: '@Url.Action("doDelete", "Cus")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.result != "0") {
                                $.messager.alert('系統訊息', '資料已刪除!', 'info');
                                doAdd();
                                $('#ListDG').datagrid('reload');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選擇資料!', 'warning');
        }  
    }


    function chkCode(code) {
    
        $.messager.progress({text: '檢查中,請稍後...'});       
        var obj = {};
        obj.ID = code;
        $.ajax({
            url: '@Url.Action("chkCode", "Cus")',
            type: "post",
            data: obj,
            dataType: "json",
            async: false,
            success: function (data, textStatus, jqXHR) {                
                $.messager.progress('close');
                if (data != "0") {
                    $('#divCode').html('代碼 ' + code + ' 已存在,請重新輸入!');
                    $('#CMPID').textbox('setValue', '');
                    return false;
                } else {
                    $('#divCode').html('');
                }

            }
        });
    }



    function findCus(){
       var obj = {};
       obj.SEARCH = $('#SEARCH').val();        
       $('#ListDG').datagrid('reload', obj);
    }

</script>
}

<h2>個人客戶資料維護</h2>
    <input id="SEARCH" class="easyui-searchbox" data-options="prompt:'請輸入查詢字串',searcher:findCus" style="width:250px;height:25px">
 </input>            
<div id="cc" class="easyui-layout" data-options="fit:true" style="padding-bottom:17em;"  > 
    <div data-options="region:'west',title:'個人客戶列表',fitColumns:true,split:true"  style="background:#eee;width:30%; height:100%">
   
        <table id="ListDG"  data-options="fit:true" ></table>
    </div>            
    <div data-options="region:'center',title:'新增'"  style="width:70%; padding:1em 1em 1em 1em" >
    <div class="easyui-panel" style="padding:5px;">
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'add-icon'" onclick="doAdd()">新增</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'save-icon'" onclick="doSave()">儲存</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'delete-icon'" onclick="doDelete()">刪除</a>
    </div>
   <form id="ff" method="post" >    
      <input id="UUID" name="UUID"  type="hidden" />
            <table cellpadding="5">
                <tr>
                    <td><strong>身份證字號:</strong></td>
                    <td><input id="ID" name="ID" type="text" class="easyui-textbox" style="width:180px;height:30px"/><div id="divCode" style="color:Red"></div></td>
                </tr>
                <tr>
                    <td><strong>名稱:</strong></td>
                    <td><input id="NAME" name="NAME"  type="text" class="easyui-validatebox" required="required" style="width:300px"/></td>
                </tr>
                <tr>
                    <td><strong>電話:</strong></td>
                    <td><input id="TEL" name="TEL" type="text" class="easyui-validatebox"  style="width:180px"/></td>
                </tr>
                <tr>
                    <td><strong>行動電話:</strong></td>
                    <td><input id="TEL_M" name="TEL_M" type="text" class="easyui-validatebox" style="width:180px"/></td>
                </tr>
                <tr>
                    <td><strong>EMail:</strong></td>
                    <td><input id="EMAIL" name="EMAIL" type="text" class="easyui-validatebox" style="width:300px"/></td>
                </tr>   
                <tr>
                    <td><strong>縣市:</strong></td>
                    <td><input id="CITY" name="CITY" class="easyui-combobox" data-options="editable:false" style="width:180px;height:30px"/></td>
                </tr>                            
                <tr>
                    <td><strong>鄉鎮:</strong></td>
                    <td><input id="ZIP" name="ZIP" class="easyui-combobox" data-options="editable:false" style="width:180px;height:30px"/></td>
                </tr>                            
                <tr>
                    <td><strong>街道門牌:</strong></td>
                    <td><input id="ADDR" name="ADDR" style="width:300px"/></td>
                </tr>   

            </table>
        </form>
    </div>
</div>
