@model HowardCoupon_vs2010.Models.LocalPasswordModel
@{
    ViewBag.Title = "管理帳戶";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>您已利用 <strong>@User.Identity.Name</strong>. 的身分登入。</p>


    @Html.Partial("_ChangePasswordPartial")




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
