   @Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{

<style>
#img {
    display: none;
}

#upload {

  cursor: pointer;
  z-index: 1;
  display: block;
  width: 16px;
  height: 16px;  
  background: url('/Content/easyui/themes/icons/upload-icon.png');
}
</style>

<script type="text/javascript" src="~/Content/easyui/exts/datebox-ext.js"></script>
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        initDepartmentDataGrid();
    });

    $(window).load(function () {
        $("#CID").textbox('textbox').bind('blur', function (e) {
            var code = $("#CID").textbox('getValue');
            chkCode(code);
        });
    });

    function initDepartmentDataGrid() {
        $('#ListDG').datagrid({
            url: '@Url.Action("getCc", "Cc")',
            nowrap: false,
            sortName: 'CID',
            sortOrder: 'asc',
            remoteSort: true,
            rownumbers: true,
            border: false,
            singleSelect: true,
            striped: true,
            showPageList: true,
            pagePosition: 'bottom',
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            columns: [[
            //{ field: 'UUID', width: 40, checkbox: true },
                {field: 'CID', title: '代碼', width: 50, sortable: true },
                { field: 'NAME', title: '券名', width: 120, sortable: true },
                { field: 'TYPE', title: '契約類型', width: 120, sortable: true,
                    halign: "center",
                    align: "left",
                    formatter: function (value, objRow, iIndex) {
                        var strValue;
                        if (value == "1") {
                            strValue = value + " 定型化契約";
                        } else {
                            strValue = value + " 非定型化契約";
                        }
                        return strValue;
                    }                
                 },
                { field: 'SCOPE', title: '使用範圍', width: 120, sortable: true,
                    halign: "center",
                    align: "left",
                    formatter: function (value, objRow, iIndex) {
                        var strValue;
                        if (value == "1") {
                            strValue = value + " 可跨店使用";
                        } else {
                            strValue = value + " 限本店使用";
                        }
                        return strValue;
                    }
                },
                { field: 'SIGN', title: '授權發行', width: 70, sortable: true,
                    halign: "center",
                    align: "center"
                },
            ]],
            onSelect: function (rowIndex, row) {
                displayForm(row);
            }
        });
    }

    function displayForm(row) {
        var obj = {};
        obj.f = row.NEW_TEMPLATE;
        obj.CID =row.CID;
        $.ajax({
            url: '@Url.Action("chkTemplateFile", "Isu")',
            data: obj,
            type: "post",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {                
                if (data != "") {
                    d = new Date();
                    $('#imgDiv2').text(data);
                    $('#delDiv2').show();
                } else {
                    $('#imgDiv2').text("");
                    $('#delDiv2').hide();
                }
                $('#imgDiv').text("");
                $('#img').val('');
            }
        });
        $('#uploadLabel').show();
        
        $('#cc').layout('panel', 'center').panel('setTitle', '編輯:' + row.NAME);

        $('#UUID').val(row.UUID);
        $('#CID').textbox('setValue', row.CID);

        $('#NAME').val(row.NAME);
        if (row.TYPE == "0") {
            $('input[name="TYPE"]')[0].checked = true;
        } else {
            $('input[name="TYPE"]')[1].checked = true;
        }

        if (row.SCOPE == "0") {
            $('input[name="SCOPE"]')[0].checked = true;
        } else {
            $('input[name="SCOPE"]')[1].checked = true;
        }

        if (row.PROTECT == "0") {
            $('input[name="PROTECT"]')[0].checked = true;
        } else {
            $('input[name="PROTECT"]')[1].checked = true;
        }


        $('#SDT').datebox('setValue', row.SDT);
        $('#EDT').datebox('setValue', row.EDT);

        if (row.PRC != null && row.PRC != "") {
            $('#PRC').numberbox('setValue', row.PRC);
        } else {
            $('#PRC').numberbox('setValue', '');
        }

        if (row.SCHGRATE != null && row.SCHGRATE != "") {
            $('#SCHGRATE').numberbox('setValue', row.SCHGRATE);
        } else {
            $('#SCHGRATE').numberbox('setValue', '');
        }
        if (row.MCHGRATE != null && row.MCHGRATE != "") {
            $('#MCHGRATE').numberbox('setValue', row.MCHGRATE);
        } else {
            $('#MCHGRATE').numberbox('setValue', '');
        }
        $('#TEMPLATE').val(row.TEMPLATE);
        $('#NEW_TEMPLATE').val(row.NEW_TEMPLATE);

        $('#NAME').validatebox('validate');
        $('#CID').textbox('validate');
        $('#CID').textbox('readonly', true);
        $('#divCode').html('');
    }
    function doAdd() {
        $('#CID').textbox('readonly', false);
        $('#cc').layout('panel', 'center').panel('setTitle', '新增');
        $('#ff').form('clear');
    }


    function doSave() {
        if (vaildate()) {
            $('#ff').form('submit', {
                url: '@Url.Action("doSave", "Cc")',
                onSubmit: function () {
                    return $(this).form('enableValidation').form('validate');
                },
                success: function (data) {
                    if (data.result != "0") {
                        $.messager.alert('系統訊息', '資料儲存完成!', 'info');
                        $('#ListDG').datagrid('reload');
                    }
                }
            });
        }
    }

    function doDelete() {
        var row = $('#ListDG').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('系統訊息', '確定刪除 ' + row.NAME + ' 資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.UUID = row.UUID;
                    $.ajax({
                        url: '@Url.Action("doDelete", "Cc")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.result != "0") {
                                $.messager.alert('系統訊息', '資料已刪除!', 'info');
                                doAdd();
                                $('#ListDG').datagrid('reload');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選擇資料!', 'warning');
        }
    }


    function chkCode(code) {
        var obj = {};
        obj.CID = code;
        $.messager.progress({ text: '檢查中,請稍後...' });
        $.ajax({
            url: '@Url.Action("chkCode", "Cc")',
            type: "post",
            data: obj,
            dataType: "json",
            async: false,
            success: function (data, textStatus, jqXHR) {
                $.messager.progress('close');
                if (data != "0") {
                    $('#divCode').html('代碼 ' + code + ' 已存在,請重新輸入!');
                    $('#CID').textbox('setValue', '');
                    return false;
                } else {
                    $('#divCode').html('');
                }

            }
        });
    }


    $.extend($.fn.datebox.defaults.rules, {
        validDate: {
            validator: function (value) {
                var date = $.fn.datebox.defaults.parser(value);
                var s = $.fn.datebox.defaults.formatter(date);
                return s == value;
            },
            message: '請輸入正確的日期格式(YYYY-MM-DD)'
        }
    });


    function vaildate() {
        var SDT = $("#SDT").datebox("getValue");
        var EDT = $("#EDT").datebox("getValue");
        if(SDT!=""){
          if (!(SDT.match(/^(\d{4})-(\d{2})-(\d{2})$/))) {
            $.messager.alert('系統訊息', "請填寫正確日期格式(YYYY-MM-DD)", 'error');
            $("#SDT").focus();
            return false;
          }
        }

        if(EDT!=""){
          if (!(EDT.match(/^(\d{4})-(\d{2})-(\d{2})$/))) {
            $.messager.alert('系統訊息', "請填寫正確日期格式(YYYY-MM-DD)", 'error');
            $("#EDT").focus();
            return false;
          }
        }
      

        if (SDT != "" && EDT != "") {
            if (dateDiff(SDT, EDT) < 0) {
                $.messager.alert('系統訊息', "開始日期不得晚於結束日期", 'error');
                $("#SDT").focus();
                return false;
            }
        }
        return true;
    }


    function dateDiff(dateStr1, dateStr2) {
        dateStr1 = DateTimeUtil.transferIsoDate(dateStr1);
        dateStr2 = DateTimeUtil.transferIsoDate(dateStr2);
        var date1 = new Date(dateStr1);
        var date2 = new Date(dateStr2);
        if (isNaN(date1)) {
            date1 = new Date(dateStr1.replace(/[-]/g, '/'));
        }
        if (isNaN(date2)) {
            date2 = new Date(dateStr2.replace(/[-]/g, '/'));
        }
        return (date2 - date1) / 86400000;
    }



    function openDialog() {
      var template;
      template = "/Content/template/"+$('#TEMPLATE').val();      
      $('#dialog').dialog({
          title: '樣板預覽',
          href: template,
          width: 800,
          height: 500,
          closed: false,
          cache: false,
          modal: true,
          buttons: [
                  {
                      text: '關閉',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#dialog').dialog('close');
                      }
                  }]
      });
    }

    function showPreview(str) {
        var cid =$('#CID').textbox('getValue');
        var x = document.getElementById("frameAttachment");
        var y = (x.contentWindow || x.contentDocument);
        if (y.document)y = y.document;
        y.body.style.backgroundColor = "white";
        y.body.innerHTML = "讀取中...請稍候!";   
        var RPT;
          RPT="~/Template/" + cid + "/"+ $('#NEW_TEMPLATE').val();        
        $('#win').window('setTitle','樣版預覽');
        //開啟PDF       
        var d = new Date();
        $('#frameAttachment').attr('src',"@Url.Action("OpenPDF","Isu")" +'?RPT=' + RPT + '&CID=' +cid +'&d=' + d.getTime());
        $('#win').window('open'); 
        $('#win').window('refresh');
    }


    function doDelPdf() {
        var f = $('#imgDiv2').text();
        var cid =$('#CID').textbox('getValue');
        $.messager.confirm('系統訊息', '確定刪除樣板 ' + f + '?', function (r) {
            if (r) {
                var obj = {};
                obj.f = f;
                obj.CID= cid;
                $.ajax({
                    url: '@Url.Action("delTemplateFile", "cc")',
                    data: obj,
                    type: "post",
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data == "1") {
                            $('#imgDiv2').text("");
                            $('#delDiv2').hide();
                            $('#NEW_TEMPLATE').val('');
                        } else {
                            $.messager.alert('系統訊息', '檔案刪除發生錯誤!', 'error');
                        }
                    }
                });
            }
        });
    }
</script>
}

<h2>兌換券資料維護</h2>
<div id="cc" class="easyui-layout" data-options="fit:true" style="padding-bottom:17em;"> 
    <div data-options="region:'west',title:'兌換券資料列表',fitColumns:true,split:true"  style="background:#eee;width:30%; height:100%">
        <table id="ListDG"  data-options="fit:true" ></table>
    </div>            
    <div data-options="region:'center',title:'新增'"  style="width:70%; padding:1em 1em 1em 1em" >
    <div class="easyui-panel" style="padding:5px;">
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'add-icon'" onclick="doAdd()">新增</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'save-icon'" onclick="doSave()">儲存</a>
        <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'delete-icon'" onclick="doDelete()">刪除</a>
    </div>
   <form id="ff" method="post" enctype="multipart/form-data">    
      <input id="UUID" name="UUID"  type="hidden" />
            <table cellpadding="5">
                <tr>
                    <td><strong>兌換券代碼:</strong></td>
                    <td><input id="CID" name="CID" type="text" class="easyui-textbox" data-options="missingMessage:'該輸入項為必輸項'" required="required" style="width:180px;height:30px"/><div id="divCode" style="color:Red"></div></td>
                </tr>
                <tr>
                    <td><strong>兌換券名稱:</strong></td>
                    <td><input id="NAME" name="NAME" type="text" class="easyui-validatebox" required="required" style="width:180px"/></td>
                </tr>        
                <tr>
                    <td><strong>有效開始日期:</strong></td>
                    <td><input id="SDT" name="SDT" type="text" class="easyui-datebox"  style="width:180px;height:28px"/></td>
                </tr>        
                <tr>
                    <td><strong>有效結束日期:</strong></td>
                    <td><input id="EDT" name="EDT" type="text" class="easyui-datebox" style="width:180px;height:28px"/></td>
                </tr>            
                <tr>
                    <td><strong>單價:</strong></td>
                    <td><input id="PRC" name="PRC" type="text" class="easyui-numberbox" style="width:180px;height:28px"/></td>
                </tr>  
                <tr>
                    <td><strong>手續費:</strong></td>
                    <td><input id="MCHGRATE" name="MCHGRATE" type="text" class="easyui-numberbox"  style="width:180px;height:28px"/></td>
                </tr>  
                <tr>
                    <td><strong>服務費:</strong></td>
                    <td><input id="SCHGRATE" name="SCHGRATE" type="text" class="easyui-numberbox"  style="width:180px;height:28px"/></td>
                </tr> 
                <tr>
                    <td><strong>契約種類:</strong></td>
                    <td align="left"><div align="left"><label><input name="TYPE" id="TYPE" type="radio" value="0" checked="checked"/>非定型化契約</label>
                      <label><input name="TYPE" id="TYPE" type="radio" value="1" />定型化契約</label></div>
                    </td>
                </tr>  
                <tr>
                    <td><strong>適用範圍:</strong></td>
                    <td align="left"><div align="left"><label><input name="SCOPE" id="SCOPE" type="radio" value="0" />限本店使用</label>
                      <label><input name="SCOPE" id="SCOPE" type="radio" value="1" checked="checked"/>可跨店使用</label></div>
                    </td>
                </tr>  
                <tr>
                    <td><strong>是否鎖定:</strong></td>
                    <td align="left"><div align="left"><label><input name="PROTECT" id="PROTECT" type="radio" value="0"  checked="checked"/>非鎖定</label>
                      <label><input name="PROTECT" id="PROTECT" type="radio" value="1" />鎖定</label></div>
                    </td>
                </tr>   
                <tr>
                    <td><strong>樣版檔名稱:</strong></td>
                    <td><input id="TEMPLATE" name="TEMPLATE" type="text" style="width:300px"/><a href="#" onclick="openDialog()">預覽</a></td>
                </tr>     
                <tr>
                    <td><strong>新樣版檔名稱:</strong></td>
                    <td><input id="NEW_TEMPLATE" name="NEW_TEMPLATE" type="text" style="width:300px"/>                    
                        <label id="uploadLabel" title="樣版上傳" class="easyui-linkbutton" data-options="iconCls:'pdf-icon'" for="img" style="display:none" ></label>
                       <input type="file" id="img" name="img" onchange="$('#imgDiv').text(this.value)"  /><span id="imgDiv"></span>
                       <a href='#' title="預覽樣板" onclick="showPreview('2')"><span id="imgDiv2"></span></a>
                       <a id="delDiv2" href='#' title="刪除樣板"  onclick="doDelPdf()" style="display:none"><img src="../Content/easyui/themes/icons/clear.png" width="10" height="10"  /></a>
                    
                    </td>
                </tr>     
            </table>
        </form>
    </div>
</div>
<div id="dialog"></div>

<div id="win" class="easyui-window"  style="width:800px;height:600px"
        data-options="iconCls:'pdf-icon',modal:true,closed:true,shadow:true,cache: false,minimizable:false">        
<iframe id="frameAttachment" name="frameAttachment" frameborder="0" style="display:block; width: 100%; height: 100%; vertical-align: top; border: 0px">
</iframe>
</div>