@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        $("#btnCAdd").linkbutton();
        $("#btnCSave").linkbutton();
        $("#btnCRemove").linkbutton();

        $('#ttCustomer').tabs({
            onSelect: function (title, index) {
                switch (index) {
                    case 0:
                        $('#btnCRemove').linkbutton({ text: "遷出", iconCls: 'door-out-icon' });
                        $("#btnCAdd").linkbutton('enable');
                        $("#btnCSave").linkbutton('enable');
                        $("#btnCRemove").linkbutton('enable');
                        break;
                    case 1:
                        $("#btnCRemove").linkbutton({ text: "刪除", iconCls: 'icon-no' });
                        var data = $('#OWNER').combobox('getData');
                        if (data.length == 0) {
                            $("#btnCAdd").linkbutton('disable');
                            $("#btnCSave").linkbutton('disable');
                            $("#btnCRemove").linkbutton('disable');
                        } else {
                            $("#btnCAdd").linkbutton('enable');
                            $("#btnCSave").linkbutton('enable');
                            $("#btnCRemove").linkbutton('enable');
                        }
                        break;
                    case 2:
                        $("#btnCRemove").linkbutton({ text: "刪除", iconCls: 'icon-no' });
                        var data = $('#PARKNO').combobox('getData');
                        if (data.length == 0) {
                            $("#btnCAdd").linkbutton('disable');
                            $("#btnCSave").linkbutton('disable');
                            $("#btnCRemove").linkbutton('disable');
                        } else {
                            $("#btnCAdd").linkbutton('enable');
                            $("#btnCSave").linkbutton('enable');
                            $("#btnCRemove").linkbutton('enable');
                        }
                        break;
                    case 3:
                        $("#btnCRemove").linkbutton({ text: "遷出", iconCls: 'door-out-icon' });
                        $("#btnCAdd").linkbutton('enable');
                        $("#btnCSave").linkbutton('enable');
                        $("#btnCRemove").linkbutton('enable');
                        break;
                }
            }
        });
        //國籍
        $('#CNTRY').combobox({
            url: '@Url.Action("getCNTRY", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        //血統
        $('#BLOD').combobox({
            url: '@Url.Action("getCNTRY", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        //關係
        $('#APPES').combobox({
            url: '@Url.Action("getAPPE", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        //專線列表
        $('#TELNO').combobox({
            url: '@Url.Action("getTELCODE", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM'
        });

        //幫傭國籍
        $('#CNTRY4').combobox({
            url: '@Url.Action("getCNTRY", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });




        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());

        //使用者列表
        $('#OWNER').combobox({
            url: '@Url.Action("getOWNER", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false,
            required: true,
            onBeforeLoad: function (param) {
                param.TAGID = obj.TAGID;
            },
        });

        //車位編號列表
        $('#PARKNO').combobox({
            url: '@Url.Action("getPARKNO", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false,
            onBeforeLoad: function (param) {
                param.TAGID = obj.TAGID;
            },
        });

        //幫傭姓名列表
        $('#ASST').combobox({
            url: '@Url.Action("getASST", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            onBeforeLoad: function (param) {
                param.TAGID = obj.TAGID;
            },
        });


        $('#cusTab1DG').datagrid({
            queryParams: obj,
            rownumbers: true,
            nowrap: true,
            border: true,
            pagination: false,
            pageSize: 0,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: false,
            singleSelect: true,
            url: '@Url.Action("getCusTab1DG", "Frm201c")',
            columns: [[
                {
                    field: 'MAN',
                    title: '姓名',
                    sortable: true,
                    width: 120,
                    halign: "center",
                    align: "left",
                    sortable: true
                },
                {
                    field: 'SEX',
                    title: '性別',
                    sortable: true,
                    width: 50,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'EMAIL',
                    title: 'Email',
                    sortable: true,
                    width: 150,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'APPES',
                    title: '關係',
                    sortable: true,
                    width: 90,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'BIRTH',
                    title: '生日',
                    sortable: true,
                    width: 120,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'CIDT',
                    title: '進住日',
                    sortable: true,
                    width: 120,
                    halign: "center",
                    align: "left",
                    sortable: true
                }
            ]],
            onLoadSuccess: function (data) {
                if (data.total > 0) {

                    $('#cusTab1DG').datagrid('selectRow', 0);
                }
            },
            onSelect: function (index, row) {
                showCusTab1Form(row);
            }
        });

        $('#cusTab2DG').datagrid({
            queryParams: obj,
            rownumbers: true,
            nowrap: true,
            border: true,
            pagination: false,
            pageSize: 0,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: false,
            singleSelect: true,
            url: '@Url.Action("getCusTab2DG", "Frm201c")',
            columns: [[
                {
                    field: 'TELTP',
                    title: '類別',
                    sortable: true,
                    width: 60,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'TELNO',
                    title: '電話號碼',
                    sortable: true,
                    width: 150,
                    halign: "center",
                    align: "left",
                    sortable: true
                },
                {
                    field: 'OWNER',
                    title: '使用者',
                    sortable: true,
                    width: 250,
                    halign: "center",
                    align: "center",
                    sortable: true
                }
            ]],
            onLoadSuccess: function (data) {
                if (data.total > 0) {
                    $('#cusTab2DG').datagrid('selectRow', 0);
                }
            },
            onSelect: function (index, row) {
                showCusTab2Form(row);
            }
        });


        $('#cusTab3DG').datagrid({
            queryParams: obj,
            rownumbers: true,
            nowrap: true,
            border: true,
            pagination: false,
            pageSize: 0,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: false,
            singleSelect: true,
            url: '@Url.Action("getCusTab3DG", "Frm201c")',
            columns: [[
                {
                    field: 'PARKNO',
                    title: '車位編號',
                    sortable: true,
                    width: 80,
                    halign: "center",
                    align: "left",
                    sortable: true
                },
                {
                    field: 'CARNO',
                    title: '車牌號碼',
                    sortable: true,
                    width: 120,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'CARTP',
                    title: '車輛別',
                    sortable: true,
                    width: 60,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'DRIVER',
                    title: '司機姓名',
                    sortable: true,
                    width: 200,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'PARKID',
                    title: '停車證號',
                    sortable: true,
                    width: 150,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'IDDT',
                    title: '領證日',
                    sortable: true,
                    width: 150,
                    halign: "center",
                    align: "center",
                    sortable: true
                }
            ]],
            onLoadSuccess: function (data) {
                if (data.total > 0) {
                    $('#cusTab3DG').datagrid('selectRow', 0);
                }
            },
            onSelect: function (index, row) {
                showCusTab3Form(row);
            }
        });


        $('#cusTab4DG').datagrid({
            queryParams: obj,
            rownumbers: true,
            nowrap: true,
            border: true,
            pagination: false,
            pageSize: 0,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: false,
            singleSelect: true,
            url: '@Url.Action("getCusTab4DG", "Frm201c")',
            columns: [[
                {
                    field: 'ASST',
                    title: '幫傭姓名',
                    sortable: true,
                    width: 80,
                    halign: "center",
                    align: "left",
                    sortable: true
                },
                {
                    field: 'CNTRY',
                    title: '國籍',
                    sortable: true,
                    width: 120,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'CIDT',
                    title: '進住日',
                    sortable: true,
                    width: 60,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'CODT',
                    title: '遷出日',
                    sortable: true,
                    width: 200,
                    halign: "center",
                    align: "center",
                    sortable: true
                }
            ]],
            onLoadSuccess: function (data) {
                if (data.total > 0) {
                    $('#cusTab4DG').datagrid('selectRow', 0);
                }
            },
            onSelect: function (index, row) {
                showCusTab4Form(row);
            }
        });


    });   //ready end

    $(window).load(function () {
  
    });

    function showCusTab1Form(row) {
        $('#MAN').val($.trim(row.MAN));
        $('#SEX').combobox('setValue', $.trim(row.SEX));
        $('#CNTRY').combobox('setValue', $.trim(row.CNTRY));
        $('#APPES').combobox('setValue', $.trim(row.APPES));
        $('#BIRTH').datebox('setValue', $.trim(row.BIRTH));
        $('#EMAIL').val(row.EMAIL);
        $('#CIDT').datebox('setValue', row.CIDT);
        $('#CODT').datebox('setValue', row.CODT);
        $('#BLOD').combobox('setValue', $.trim(row.BLOD));
        $('#BLODTP').combobox('setValue', $.trim(row.BLODTP));
        $('#POSL').combobox('setValue', $.trim(row.POSL));
        $('#EMAILPWD').val($.trim(row.EMAILPW));
        $('#NOTES').val($.trim(row.NOTES));
        $('#PID').val($.trim(row.PID));
            
            if ($.trim(row.MARRI) == "1") {
                $('input[name=MARRI][value=1]').prop("checked", true);
            } else if ($.trim(row.MARRI) == "2") {                
                $('input[name=MARRI][value=2]').prop("checked", true);
            }        
        $('#TAGID1').val(row.TAGID);
        $('#MAN').validatebox('validate');
    }

    function showCusTab2Form(row) {
        $('#TELTP').combobox('setValue', $.trim(row.TELTP));
        $('#TELNO').combobox('setValue', $.trim(row.TELNO));
        $('#OWNER').combobox('setValue', $.trim(row.OWNER));
        $('#TAGID2').val(row.TAGID);
    }

    function showCusTab3Form(row) {
        $('#PARKNO').combobox('setValue', $.trim(row.PARKNO));
        $('#CARNO').val($.trim(row.CARNO));
        $('#DRIVER').val($.trim(row.DRIVER));
        $('#PARKID').val($.trim(row.PARKID));
        $('#IDDT').datebox('setValue', row.IDDT);
        if (row.CARTP == "1") {            
            $('input[name=CARTP][value=1]').prop("checked", true);
        } else if (row.CARTP == "2") {
            $('input[name=CARTP][value=2]').prop("checked", true);
        }
        $('#TAGID3').val(row.TAGID);
    }

    function showCusTab4Form(row) {
        $('#ASST').combobox('setValue', $.trim(row.ASST));
        $('#CNTRY4').combobox('setValue', $.trim(row.CNTRY));
        $('#NOTES4').val($.trim(row.NOTES));
        $('#CIDT4').datebox('setValue', row.CIDT);
        $('#CODT4').datebox('setValue', row.CODT);

        if (row.WORKTP == "1") {            
            $('input[name=WORKTP][value=1]').prop("checked", true);
        } else if (row.WORKTP == "2") {
            $('input[name=WORKTP][value=2]').prop("checked", true);
        } else if (row.WORKTP == "3") {
            $('input[name=WORKTP][value=3]').prop("checked", true);
        }
        $('#TAGID4').val(row.TAGID);
    }

    function doAdd() {
        var tab = $('#ttCustomer').tabs('getSelected');
        var i = $('#ttCustomer').tabs('getTabIndex', tab);
        switch (i) {
            case 0:
                $('#TAGID1').val('');
                break;
            case 1:
                $('#TAGID2').val('');
                break;
            case 2:
                $('#TAGID3').val('');
                break;
            case 3:
                $('#TAGID4').val('');
                break;
        }
        doSavec();
    }

    function doSavec() {
        var obj = getObj();
        $.ajax({
            url: '@Url.Action("doSave", "Frm201c")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.status != '0') {
                    switch (obj.TYPE) {
                        case 0:
                            $('#cusTab1DG').datagrid('reload');
                            break;
                        case 1:
                            $('#cusTab2DG').datagrid('reload');
                            break;
                        case 2:
                            $('#cusTab3DG').datagrid('reload');
                            break;
                        case 3:
                            $('#cusTab4DG').datagrid('reload');
                            break;
                    }
                    $.messager.alert('系統訊息', '資料已儲存!', 'info');
                }
            }
        });
    }

    function getObj() {
        var tab = $('#ttCustomer').tabs('getSelected');
        var i = $('#ttCustomer').tabs('getTabIndex', tab);
        var obj = {};
        obj.TYPE = i;        
        obj.JOBTAG = $.trim($('#CONTRAH_TAGID').val());
        switch (i) {
            case 0:
                obj.TAGID = $.trim($('#TAGID1').val());
                obj.MAN = $.trim($('#MAN').val());
                obj.SEX = $.trim($('#SEX').combobox('getValue'));
                obj.CNTRY = $.trim($('#CNTRY').combobox('getValue'));
                obj.APPES = $.trim($('#APPES').combobox('getValue'));
                obj.BIRTH = $.trim($('#BIRTH').datebox('getValue'));
                obj.EMAIL = $.trim($('#EMAIL').val());
                obj.CIDT = $.trim($('#CIDT').datebox('getValue'));
                obj.CODT = $.trim($('#CODT').datebox('getValue'));
               
                obj.BLOD = $.trim($('#BLOD').combobox('getValue'));
                obj.BLODTP = $.trim($('#BLODTP').combobox('getValue'));
                obj.POSL = $.trim($('#POSL').combobox('getValue'));
                obj.EMAILPW = $.trim($('#EMAILPWD').val());
                obj.NOTES = $.trim($('#NOTES').val());
                obj.PID = $.trim($('#PID').val());

                obj.MARRI = $("input[name='MARRI']:checked").val();
                
                break;
            case 1:
                obj.TAGID = $.trim($('#TAGID2').val());
                obj.TELTP = $('#TELTP').combobox('getValue');
                obj.TELNO = $('#TELNO').combobox('getText');
                obj.OWNER = $('#OWNER').combobox('getValue');
                break;
            case 2:
                obj.TAGID = $.trim($('#TAGID3').val());
                obj.PARKNO = $('#PARKNO').combobox('getValue');
                obj.CARNO = $('#CARNO').val();
                obj.DRIVER = $('#DRIVER').val();
                obj.PARKID = $('#PARKID').val();
                obj.IDDT = $('#IDDT').datebox('getValue');                
                obj.CARTP = $("input[name='CARTP']:checked").val();
                break;
            case 3:
                obj.TAGID = $.trim($('#TAGID4').val());
                obj.ASST = $('#ASST').combobox('getText');
                obj.CNTRY = $('#CNTRY4').combobox('getValue');
                obj.NOTES = $('#NOTES4').val();
                obj.CIDT = $('#CIDT4').datebox('getValue');
                obj.CODT = $('#CODT4').datebox('getValue');                
                obj.WORKTP = $("input[name='WORKTP']:checked").val();
                break;
        }
        
        return obj;
    }


    function doClear() {
        var tab = $('#ttCustomer').tabs('getSelected');
        var i = $('#ttCustomer').tabs('getTabIndex', tab);
        switch (i) {
            case 0:
                $('#TAGID1').val('');
                $('#MAN').val('');
                $('#EMAIL').val('');
                $('#CIDT').datebox('setValue', '');
                $('#CODT').datebox('setValue', '');
                $('#EMAILPW').val('');
                $('#NOTES').val('');
                $('#PID').val('');
                break;
            case 1:
                $('#TAGID2').val('');
                $('#TELNO').combobox('setValue','');
                break;
            case 2:
                $('#TAGID3').val('');                
                $('#CARNO').val('');                
                $('#DRIVER').val('');
                $('#PARKID').val('');
                $('#IDDT').datebox('setValue','');                
                break;
            case 3:
                $('#TAGID4').val('');
                $('#ASST').val('');
                $('#CIDT4').datebox('setValue', '');
                $('#CODT4').datebox('setValue', '');
                $('#NOTES4').val('');
                break;
        }
    }


    function doRemove() {
      $.messager.confirm('執行確認', '您確定要遷出或刪除資料?', function (r) {
      if (r) {
        var row;
        var isPass = true;
        var obj = {};
        var tab = $('#ttCustomer').tabs('getSelected');
        var i = $('#ttCustomer').tabs('getTabIndex', tab);
        obj.TYPE = i;
        switch (i) {
            case 0:                
                row = $('#cusTab1DG').datagrid('getSelected');
                obj.CODT = $('#CODT').datebox('getValue');
                if (obj.CODT.length != 10) {
                    isPass = false;
                }
                break;
            case 1:
                row = $('#cusTab2DG').datagrid('getSelected');
                break;
            case 2:
                row = $('#cusTab3DG').datagrid('getSelected');
                break;
            case 3:
                row = $('#cusTab4DG').datagrid('getSelected');                
                obj.CODT = $('#CODT4').datebox('getValue');
                if (obj.CODT.length!=10) {
                    isPass = false;
                }
                break;
        }
        
        if (row != null && isPass) {
            obj.TAGID = $.trim(row.TAGID);
            $.ajax({
                url: '@Url.Action("doRemove", "Frm201c")',
                type: "post",
                data: obj,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data.status != '0') {
                        switch (obj.TYPE) {
                            case 0:
                                $('#cusTab1DG').datagrid('reload');
                                break;
                            case 1:
                                $('#cusTab2DG').datagrid('reload');
                                break;
                            case 2:
                                $('#cusTab3DG').datagrid('reload');
                                break;
                            case 3:
                                $('#cusTab4DG').datagrid('reload');
                                break;
                        }
                        $.messager.alert('系統訊息', '資料異動完成!', 'info');
                    }
                }
            });
        } else if (isPass == false) {
            $.messager.alert('系統訊息', '尚未輸入遷出日期!', 'warning');
        } else if (row == null) {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
       }
      });
    }

</script>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'broom-icon'" onclick="doClear()">清空</a>
<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSavec()">存檔</a>
<a id="btnCRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'door-out-icon'" onclick="doRemove()">遷出</a>
<br /><br />
    <div id="ttCustomer" class="easyui-tabs" fit="true">
        <div title="住戶" style="padding:10px" data-options="iconCls:'home-s-icon',fit:true">
            @{Html.RenderPartial("~/Views/frm201/_cusTab1.cshtml");}
        </div>
        <div title="電話" style="padding:10px" data-options="iconCls:'telephone-icon'">
            @{Html.RenderPartial("~/Views/frm201/_cusTab2.cshtml");}
        </div>
        <div title="車位" style="padding:10px" data-options="iconCls:'car-icon'">
            @{Html.RenderPartial("~/Views/frm201/_cusTab3.cshtml");}
        </div>
        <div title="幫傭" style="padding:10px" data-options="iconCls:'female-icon'">
            @{Html.RenderPartial("~/Views/frm201/_cusTab4.cshtml");}
        </div>
    </div>


