@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        var getGridJSON = '@Url.Action("getDG1", "Frm201f")';
        $('#ffDG').datagrid({
            url: getGridJSON,
            queryParams: obj,
            border: true,
            rownumbers: false,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'CNM', title: '姓名', sortable: true, width: 200, halign: "center", align: "center", sortable: true },
                { field: 'SEX', title: '性別', sortable: true, width: 50, halign: "center", align: "left", sortable: true },
                { field: 'BIRTH', title: '生日', sortable: true, width: 100, halign: "center", align: "left", sortable: true },
                { field: 'EMAIL', title: 'EMAIL', sortable: true, width: 280, halign: "center", align: "left", sortable: true },
                { field: 'CIDT', title: '入會日', sortable: true, width: 100, halign: "center", align: "center", sortable: true },
                { field: 'TPNM', title: '卡別', sortable: true, width: 60, halign: "center", align: "center", sortable: true }
            ]],
            onSelect: function (index, row) {                
                showFormff(row);
            }
        });

        //姓名
        $('#ffCNM').combogrid({
            panelWidth: 400,
            idField: 'USER',
            queryParams: obj,
            textField: 'USER',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            editable: false,
            url: '@Url.Action("getCNM", "Frm201f")',
            columns: [[
                { field: 'TYPE', title: '角色', width: 50 },
                { field: 'USER', title: '姓名', width: 350 }
            ]]
        });


        //人員列表
        $('#ffLOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNM',
            textField: 'CNM'
            //editable: false
        });

        //國籍
        $('#ffCNTRY').combobox({
            url: '@Url.Action("getCNTRY", "Frm201c")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        //卡別
        $('#ffTPNM').combobox({
            url: '@Url.Action("getCARDTYPE", "Frm201f")',
            valueField:'CNO',
            textField:'CNM',
            editable: false
        });


    });   //ready end
    //新增
    function doAddff() {
        if (doCheck()) {
            $.messager.confirm('執行確認', '您確定要新增資料?', function (r) {
                if (r) {
                    var obj = getObj();
                    $.ajax({
                        url: '@Url.Action("doAdd", "Frm201f")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        async: false,
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#ffDG').datagrid('reload');
                                $.messager.alert('系統訊息', '資料已新增完成!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }




    //編輯
    function doSaveff() {
        var row = $('#ffDG').datagrid('getSelected');
        if (row != null) {
            if (doCheck()) {
                $.messager.confirm('執行確認', '您確定要儲存資料?', function (r) {
                    if (r) {
                        var obj = getObj();
                        obj.TAGID = $('#ffTAGID').val();
                        $.ajax({
                            url: '@Url.Action("doSave", "Frm201f")',
                            type: "post",
                            data: obj,
                            dataType: "json",
                            async: false,
                            success: function (data, textStatus, jqXHR) {
                                if (data.status != '0') {
                                    $('#ffDG').datagrid('reload');
                                    $.messager.alert('系統訊息', '資料已儲存!', 'info');
                                }
                            }
                        });
                    }
                });
            }
        } else {
            $.messager.alert('系統訊息', '尚未選取編輯資料!', 'warning');
        }
    }

    function doSaveff1() {
        var obj = getObj();
        console.info(obj);
    }
    function doCheck() {
        if ($('#ffCNM').combogrid('isValid') == false) {
            $.messager.alert('系統訊息', '姓名尚未輸入!', 'warning');
            return false;
        }
        return true;
    }

    function getObj() {
        var obj = {};
        obj.CNM =$.trim($('#ffCNM').combogrid('getValue'));
        obj.TPNM = $.trim($('#ffTPNM').combobox('getText'));
        obj.TPNO = $.trim($('#ffTPNM').combobox('getValue'));
        obj.CNTRY = $.trim($('#ffCNTRY').combobox('getValue'));
        obj.CIDT = $('#ffCIDT').datebox('getValue');
        obj.CODT = $('#ffCODT').datebox('getValue');
        obj.SEX = $('#ffSEX').combobox('getValue');
        obj.BLODTP = $.trim($('#ffBLODTP').combobox('getValue'));
        obj.PID = $.trim($('#ffPID').val());
        obj.BIRTH = $('#ffBIRTH').datebox('getValue');
        obj.POSL = $.trim($('#ffPOSL').combobox('getValue'));
        obj.LOGUSR = $.trim($('#ffLOGUSR').combobox('getValue'));
        obj.NOTES = $.trim($('#ffNOTES').val());
        obj.MARRI = $("input[name='ffMARRI']:checked").val();
        obj.CNCNO =$('#C_CNCNO').val();
        obj.CNHNO = $.trim($('#CNHNO').val());
        obj.RMNO = $('#HOUSE').combogrid('getValue');
        obj.JOBTAG = $.trim($('#CONTRAH_TAGID').val());
        obj.EMAIL= $.trim($('#ffEMAIL').val());
        return obj;
        
    }

    function doClearff() {
        $('#ffTAGID').val('');
        $('#ffCNM').combogrid('setValue', '');
        $('#ffTPNM').combobox('setValue', '');
        $('#ffCNTRY').combobox('setValue', '');
        $('#ffCIDT').datebox('setValue', '');
        $('#ffCODT').datebox('setValue', '');
        $('#ffSEX').combobox('setValue', '');
        $('#ffBLODTP').combobox('setValue', '');
        $('#ffPID').val('');
        $('#ffBIRTH').datebox('setValue', '');
        $('#ffPOSL').combobox('setValue', '');
        $('#ffLOGUSR').combobox('setValue', '');
        $('#ffNOTES').val('');
        $('#ffEMAIL').val('');
    }

    function showFormff(row) {
     
        $('#ffTAGID').val($.trim(row.TAGID));
        $('#ffCNM').combogrid('setValue',$.trim(row.CNM));
        
        $('#ffCNTRY').combobox('setValue', $.trim(row.CNTRY));
        $('#ffCIDT').datebox('setValue', $.trim(row.CIDT));
        $('#ffCODT').datebox('setValue', $.trim(row.CODT));
        $('#ffSEX').combobox('setValue', $.trim(row.SEX));
        $('#ffBLODTP').combobox('setValue', $.trim(row.BLODTP));
        $('#ffPID').val($.trim(row.PID));
        $('#ffBIRTH').datebox('setValue', $.trim(row.BIRTH));
        $('#ffPOSL').combobox('setValue', $.trim(row.POSL));
        $('#ffLOGUSR').combobox('setValue', $.trim(row.LOGUSR));
        $('#ffNOTES').val($.trim(row.NOTES));
        $('#ffEMAIL').val($.trim(row.EMAIL));

        $('#ffTPNM').combobox('setValue', row.TPNO);
        if ($.trim(row.MARRI) == "1") {
            $('input[name=ffMARRI][value=1]').prop("checked", true);
        } else if ($.trim(row.MARRI) == "2") {
            $('input[name=ffMARRI][value=2]').prop("checked", true);
        }
    }


    function doRemoveff() {
        var row = $('#ffDG').datagrid('getSelected');
        if (row != null) {            
                $.messager.confirm('執行確認', '您確定要刪除資料?', function (r) {
                    if (r) {
                        var obj = {};
                        obj.TAGID = $('#ffTAGID').val();
                        $.ajax({
                            url: '@Url.Action("doRemove", "Frm201f")',
                            type: "post",
                            data: obj,
                            dataType: "json",
                            async: false,
                            success: function (data, textStatus, jqXHR) {
                                if (data.status != '0') {
                                    $('#ffDG').datagrid('reload');
                                    $.messager.alert('系統訊息', '資料已刪除!', 'info');
                                }
                            }
                        });
                    }
                });            
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }


</script>

<a id="ffbtnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAddff()">新增</a>
<a id="ffbtnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSaveff()">儲存</a>
<a id="ffbtnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemoveff()">刪除</a>
<a id="ffbtnSave" href="#" class="easyui-linkbutton" data-options="iconCls:'broom-icon'" onclick="doClearff()">清空</a>
 <input type="hidden" id="ffTAGID" name="ffTAGID" />
 <table width="800" height="279" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="193">
            <strong>俱樂部使用人</strong><br />
            <form id="editForm" name="editForm" method="post">           
                <table width="100%" border="0" cellpadding="2" cellspacing="0">
                    <tr>
                        <td width="138">姓名</td>
                        <td width="239" align="left"><input type="text" id="ffCNM" name="ffCNM" style="width:160px;height:28px" data-options="required:true" /></td>
                        <td width="112">卡別</td>
                        <td width="298" align="left"><input type="text" id="ffTPNM" name="ffTPNM" class="easyui-combobox" style="width:160px;height:28px" /></td>
                    </tr>
                    <tr>
                        <td>國籍</td>
                        <td><input type="text" id="ffCNTRY" name="ffCNTRY" style="width:160px;height:28px" /></td>
                        <td>入會日</td>
                        <td><input type="text" id="ffCIDT" name="ffCIDT" class="easyui-datebox" style="width:160px;height:28px" /></td>
                    </tr>
                    <tr>
                        <td>性別</td>
                        <td>
                            <select id="ffSEX" class="easyui-combobox" data-options="editable:false" name="ffSEX" style="width:60px;height:28px">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </td>
                        <td>終止日</td>
                        <td><input type="text" id="ffCODT" name="ffCODT" class="easyui-datebox" style="width:160px;height:28px" /></td>
                    </tr>
                    <tr>
                        <td>血型</td>
                        <td><select id="ffBLODTP" class="easyui-combobox" data-options="editable:false" name="ffBLODTP" style="width:60px;height:28px">
                        <option value=""></option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="O">O</option>
                        <option value="AB">AB</option>
                        </select>
                        </td>
                        <td>證號</td>
                        <td><input type="text" id="ffPID" name="ffPID" />
                        </td>
                    </tr>
                    <tr>
                        <td>生日</td>
                        <td><input type="text" id="ffBIRTH" name="ffBIRTH" class="easyui-datebox" style="width:160px;height:28px" /></td>

                        <td>婚姻</td>
                        <td>
                            <input name="ffMARRI" id="ffMARRI" type="radio" value="1" checked />
                            已婚
                            <input name="ffMARRI" id="ffMARRI" type="radio" value="2" />
                            未婚    
                        </td>
                    </tr>
                    <tr>

                        <td>職稱</td>
                        <td>
                            <select id="ffPOSL" name="ffPOSL" class="easyui-combobox" data-options="editable:false" style="width:100px;height:28px">
                                <option value="高階主管">高階主管</option>
                                <option value="中階主管">中階主管</option>
                                <option value="一般行政">一般行政</option>
                            </select>      
                         </td>
                        <td>承辦人</td>
                        <td><input type="text" id="ffLOGUSR" name="ffLOGUSR" style="width:160px;height:28px" /></td>
                    </tr>
                    <tr>
                        <td>EMAIL</td>
                        <td colspan="3"><input type="text" id="ffEMAIL" name="ffEMAIL" style="width:350px;height:22px"></input></td>
                    </tr>
                    <tr>
                      <td>備註</td>
                      <td colspan="3"><input type="text" id="ffNOTES" name="ffNOTES" style="width:450px;height:22px"></input></td>
                    </tr>
                </table>
            </form>        </td>
    </tr>
    <tr>
        <td valign="top"><table id="ffDG" style="width:800px;height:250px"></table></td>
    </tr>
</table>