@{
    ViewBag.Title = "Frm201 租屋作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/easyui/exts/datagrid-filter.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/easyui/themes/color.css">
<script type="text/javascript">
    //ready start
    $(document).ready(function () {

        $("#DT1").datebox({
            onSelect: function (date) {
                // if ($('#DT1').datebox('isValid') && $('#DT2').datebox('isValid')) {
                chkYMD('');
                // }
            }
        });
        $("#DT2").datebox({
            onSelect: function (date) {
                // if ($('#DT1').datebox('isValid') && $('#DT2').datebox('isValid')) {
                chkYMD('');
                // }
            }
        });

        $("#CAR_DT1").datebox({
            onSelect: function (date) {
                // if ($('#CAR_DT1').datebox('isValid') && $('#CAR_DT2').datebox('isValid')) {
                chkYMD('CAR_');
                // }
            }
        });
        $("#CAR_DT2").datebox({
            onSelect: function (date) {
                // if ($('#CAR_DT1').datebox('isValid') && $('#CAR_DT2').datebox('isValid')) {
                chkYMD('CAR_');
                // }
            }
        });

        $("#H2_DT1").datebox({
            onSelect: function (date) {
                // if ($('#H2_DT1').datebox('isValid') && $('#H2_DT2').datebox('isValid')) {
                chkYMD('H2_');
                // }
            }
        });
        $("#H2_DT2").datebox({
            onSelect: function (date) {
                // if ($('#H2_DT1').datebox('isValid') && $('#H2_DT2').datebox('isValid')) {
                chkYMD('H2_');
                // }
            }
        });

        $("#C_DT1").datebox({
            onSelect: function (date) {
                //if ($('#C_DT1').datebox('isValid') && $('#C_DT2').datebox('isValid')) {
                chkYMD('C_');
                // }
            }
        });
        $("#C_DT2").datebox({
            onSelect: function (date) {
                // if ($('#C_DT1').datebox('isValid') && $('#C_DT2').datebox('isValid')) {
                chkYMD('C_');
                // }
            }
        });

        $("#A_DT1").datebox({
            onSelect: function (date) {
                // if ($('#A_DT1').datebox('isValid') && $('#A_DT2').datebox('isValid')) {
                //   chkYMD('A_');
                // }
            }
        });
        $("#A_DT2").datebox({
            onSelect: function (date) {
                // if ($('#A_DT1').datebox('isValid') && $('#A_DT2').datebox('isValid')) {
                //   chkYMD('A_');
                // }
            }
        });

        //房屋編號下拉選單

        $('#HOUSE').combogrid({
            queryParams: '',
            panelWidth: 200,
            idField: 'CNO',
            textField: 'CNO',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            url: '@Url.Action("Grid", "Frm107")',
            columns: [[
                { field: 'CNO', title: '房屋編號', width: 60 },
                { field: 'DOOR', title: '門號', width: 60 },
                { field: 'FLOR', title: '樓層', width: 60 }
            ]],
            onSelect: function (index, row) {
                initPBRENTAL(row.CNO);
                initROOMF(row.CNO);
                initCONTRAH();  //房屋合約

                // initCONTRAP();  //車位合約
            }
        });


        Initialize_DataGrid();

        $('#tt').tabs({
            fir: true,
            maximized: true,
            onSelect: function (title, index) {
                /*
                switch (index) {
                    case 0:
                        initCONTRAH();
                        break;
                    case 1:
                        break;
                    case 2:
                        break;
                    case 3:
                        break;
                    case 4:
                        break;
                }*/
            }
        });


        $('#CompanyDialog').dialog({
            title: '合約公司資料',
            width: 800,
            height: 600,
            closed: true,
            cache: false,
            resizable: true,
            href: '@Url.Action("CompanyDialog", "Frm201")',
            modal: true,
            buttons: [
         {
             text: '關閉', iconCls: 'icon-cancel',
             handler: function () {
                 $('#CompanyDialog').dialog('close');
             }
         }]
        });

        $('#cDataGrid').datagrid({
            onLoadSuccess: function (data) {
                console.info($.trim($('#DEALNO').val()));
                $('#cDataGrid').datagrid('selectRecord', $.trim($('#DEALNO').val()));
            }
        }
       );


        $('#DealernmDialog').dialog({
            title: '請選取承租人',
            width: 640,
            height: 400,
            closed: true,
            cache: false,
            resizable: true,
            href: '@Url.Action("DealernmDialog", "Frm201")',
            modal: true,
            buttons: [
         {
             text: '選取', iconCls: 'accept-icon',
             handler: function () {
                 doSelectDealernm();
             }
         },
         {
             text: '關閉', iconCls: 'icon-cancel',
             handler: function () {
                 $('#DealernmDialog').dialog('close');
             }
         }]
        });

        $('#BrokernmDialog').dialog({
            title: '請選取仲介商',
            width: 640,
            height: 400,
            closed: true,
            cache: false,
            resizable: true,
            href: '@Url.Action("BrokernmDialog", "Frm201")',
            modal: true,
            buttons: [
         {
             text: '選取', iconCls: 'accept-icon',
             handler: function () {
                 doSelectBrokernm();
             }
         },
         {
             text: '關閉', iconCls: 'icon-cancel',
             handler: function () {
                 $('#BrokernmDialog').dialog('close');
             }
         }]
        });

        $('#UPDNOTE_DG').datagrid({
            url: '@Url.Action("getUPDNOTE", "Frm201")',
            width: '600',
            height: '180',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'UPDDT',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: true,
            singleSelect: true,
            sortName: 'UPDDT',
            sortOrder: 'asc',
            columns: [[
                { field: 'UPDDT', title: '異動日', sortable: true, width: 80, halign: "center", align: "center", sortable: true },
                { field: 'UPDTP', title: '異動別', sortable: true, width: 100, halign: "center", align: "left", sortable: true },
                { field: 'NOTES', title: '備註說明', sortable: true, width: 300, halign: "center", align: "left", sortable: true }
            ]]
        });
        //車位列表
        $('#CONTRAP_DG').datagrid({
            url: '@Url.Action("getCONTRAP", "Frm201")',
            width: '600',
            height: '180',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: true,
            singleSelect: true,
            sortName: 'DT2',
            sortOrder: 'asc',
            columns: [[
                { field: 'PARKNO', title: '車位編號', sortable: true, width: 70, halign: "center", align: "center", sortable: true },
                { field: 'RNFEE', title: '月租費', sortable: true, width: 60, halign: "center", align: "left", sortable: true },
                { field: 'DT1', title: '起租日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DT2', title: '到期日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'CNPNO', title: '合約編號', sortable: true, width: 60, halign: "center", align: "left", sortable: true },
                { field: 'DEALERNM', title: '承租人名稱', sortable: true, width: 150, halign: "center", align: "left", sortable: true },
                {
                    field: 'RNTP', title: '租約', sortable: true, width: 50, halign: "center", align: "left", sortable: true,
                    formatter: function (value, row, iIndex) {
                        var valueStr = "";
                        if (value == "1") {
                            valueStr = "1 附約";
                        } else {
                            valueStr = "2 另約";
                        }
                        return valueStr;
                    }
                }
            ]],
            onSelect: function (rowIndex, row) {
                initCONTRAP_FORM();
            },
            onLoadSuccess: function (data) {
                if (data.total > 0) {
                    $('#CONTRAP_DG').datagrid('selectRow', 0);
                }
            }

        });


        //傢俱列表
        $('#CONTRAF_DG').datagrid({
            url: '@Url.Action("getCONTRAF", "Frm201")',
            width: '600',
            height: '180',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: true,
            singleSelect: true,
            sortName: 'DT2',
            sortOrder: 'asc',
            columns: [[
                { field: 'CNFNO', title: '合約編號', sortable: true, width: 90, halign: "center", align: "center", sortable: true },
                { field: 'RNFEE', title: '月租費', sortable: true, width: 60, halign: "center", align: "left", sortable: true },
                { field: 'DT1', title: '起租日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DT2', title: '到期日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DEALERNM', title: '承租人名稱', sortable: true, width: 170, halign: "center", align: "left", sortable: true },
                {
                    field: 'RNTP', title: '租約', sortable: true, width: 50, halign: "center", align: "left", sortable: true,
                    formatter: function (value, row, iIndex) {
                        var valueStr = "";
                        if (value == "1") {
                            valueStr = "1 附約";
                        } else {
                            valueStr = "2 另約";
                        }
                        return valueStr;
                    }
                }
            ]],
            onSelect: function (rowIndex, row) {
                initCONTRAF_FORM();
            },
            onLoadSuccess: function (data) {
                if (data.total > 0) {
                    $('#CONTRAF_DG').datagrid('selectRow', 0);
                }
            }
        });

        //俱樂部列表
        $('#CONTRAC_DG').datagrid({
            url: '@Url.Action("getCONTRAC", "Frm201")',
            width: '600',
            height: '180',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: true,
            singleSelect: true,
            sortName: 'DT2',
            sortOrder: 'asc',
            columns: [[
                { field: 'CNCNO', title: '合約編號', sortable: true, width: 90, halign: "center", align: "center", sortable: true },
                { field: 'RNFEE', title: '月租費', sortable: true, width: 60, halign: "center", align: "left", sortable: true },
                { field: 'DT1', title: '起租日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DT2', title: '到期日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DEALERNM', title: '承租人名稱', sortable: true, width: 170, halign: "center", align: "left", sortable: true },
                {
                    field: 'RNTP', title: '租約', sortable: true, width: 50, halign: "center", align: "left", sortable: true,
                    formatter: function (value, row, iIndex) {
                        var valueStr = "";
                        if (value == "1") {
                            valueStr = "1 附約";
                        } else {
                            valueStr = "2 另約";
                        }
                        return valueStr;
                    }
                }
            ]],
            onSelect: function (rowIndex, row) {
                initCONTRAC_FORM();
            },
            onLoadSuccess: function (data) {
                if (data.total > 0) {
                    $('#CONTRAC_DG').datagrid('selectRow', 0);
                }
            }
        });

        //雜項列表
        $('#CONTRAA_DG').datagrid({
            url: '@Url.Action("getCONTRAA", "Frm201")',
            width: '600',
            height: '180',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: true,
            singleSelect: true,
            sortName: 'DT2',
            sortOrder: 'asc',
            columns: [[
                { field: 'CNANO', title: '合約編號', sortable: true, width: 90, halign: "center", align: "center", sortable: true },
                { field: 'RNFEE', title: '月租費', sortable: true, width: 60, halign: "center", align: "left", sortable: true },
                { field: 'DT1', title: '起租日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'DT2', title: '到期日', sortable: true, width: 90, halign: "center", align: "left", sortable: true },
                { field: 'NOTES', title: '備註', sortable: true, width: 240, halign: "center", align: "left", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                initCONTRAA_FORM();
            },
            onLoadSuccess: function (data) {
                if (data.total > 0) {
                    $('#CONTRAA_DG').datagrid('selectRow', 0);
                }
            }
        });

        //人員列表
        $('#LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });




        $('#CAR_PARKNO').combogrid({
            queryParams: '',
            panelWidth: 200,
            idField: 'CNO',
            textField: 'CNO',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            url: '@Url.Action("getCARLOCT", "Frm201")',
            columns: [[
                { field: 'CNO', title: '編號', width: 60 },
                { field: 'CNM', title: '樓層', width: 60 }
            ]],
            onSelect: function (index, row) {
                $('#CAR_LOCT').val(row.CNM);
            }
        });

    });   //ready end

    $(window).load(function () {
        $('#houseIcon').hide();
        /*
         $("#DT1").datebox('textbox').bind('change', function (e) {
              chkYMD();
          });

         $("#DT2").datebox('textbox').bind('change', function (e) {
             chkYMD();
         });
         */
        var rmno = '@ViewBag.RMNO';
        if (rmno != null && rmno != '') {
            $('#HOUSE').combogrid('setValue', rmno);
            initPBRENTAL(rmno);
            initROOMF(rmno);
            initCONTRAH();  //房屋合約
        }
    });

    //房屋牌價
    function initPBRENTAL(CNO) {
        var obj = {};
        obj.CNO = $.trim(CNO);
        $.ajax({
            url: '@Url.Action("getPBRENTAL", "Frm201")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.length > 0) {
                    $('#RENTAL').val(data[0].RENTAL);
                    $('#iMGFEE').val(data[0].MGFEE);
                } else {
                    $('#RENTAL').val('');
                    $('#iMGFEE').val('');
                }
            }
        });
    }
    //房屋基本資料
    function initROOMF(CNO) {
        var obj = {};
        obj.CNO = $.trim(CNO);
        $.ajax({
            url: '@Url.Action("getROOMF", "Frm201")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.length > 0) {
                    $('#iPINS').val(data[0].PINS);
                    $('#ADR1').val(data[0].ADR1);
                    $('#IP1').val(data[0].IP1);
                    $('#IP2').val(data[0].IP2);
                    if (data[0].ONUSE == "1") {
                        $('#houseIcon').show();
                    } else {
                        $('#houseIcon').hide();
                    }
                } else {
                    $('#iPINS').val('');
                    $('#ADR1').val('');
                    $('#IP1').val('');
                    $('#IP2').val('');
                    $('#houseIcon').hide();
                }
            }
        });
    }

    //房屋合約
    function initCONTRAH() {

        var value = $('#HOUSE').combogrid('getValue');

        if (value != null) {
            var obj = {};
            obj.CNO = $.trim(value);
            $.ajax({
                url: '@Url.Action("getCONTRAH", "Frm201")',
                type: "post",
                data: obj,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {

                    if (data.length > 0) {
                        $('#CONTRAH_TAGID').val($.trim(data[0].TAGID));
                        $('#DEALERNM').val(data[0].DEALERNM);
                        //承租聯絡人
                        initDealman(data[0].DEALNO, data[0].DEALMAN);
                        $('#BROKERNM').val(data[0].BROKERNM);
                        initBrokman(data[0].BROKNO, data[0].BROKMAN);
                        $('#COMETP').val(data[0].COMETP);
                        $('#COMENOTE').val(data[0].COMENOTE);
                        $('#MLIVER').val(data[0].MLIVER);

                        $('#BROKFEE').val(data[0].BROKFEE);
                        $('#LOGUSR').combobox('setValue', data[0].LOGUSR);
                        if (data[0].CSTTP == "1") {
                            $('input[name="CSTTP"]')[0].checked = true;
                        } else {
                            $('input[name="CSTTP"]')[1].checked = true;
                        }
                        $('#CNHNO').val(data[0].CNHNO);
                        $('#DT1').datebox('setValue', data[0].DT1);
                        $('#DT2').datebox('setValue', data[0].DT2);
                        $('#YRS').val(data[0].YRS);
                        $('#MNS').val(data[0].MNS);
                        $('#DYS').val(data[0].DYS);
                        $('#RNFEE').val(data[0].RNFEE);
                        $('#MGFEE').val(data[0].MGFEE);

                        $('#GUAFEE').val(data[0].GUAFEE);
                        $('#DSCON1').val(data[0].DSCON1);
                        $('#DSCON2').val(data[0].DSCON2);
                        $('#CNHNOTE').val(data[0].CNHNOTE);

                        if (data[0].RNFEETP == "1") {
                            $('input[name="RNFEETP"]')[0].checked = true;
                        } else if (data[0].RNFEETP == "2") {
                            $('input[name="RNFEETP"]')[1].checked = true;
                        } else if (data[0].RNFEETP == "3") {
                            $('input[name="RNFEETP"]')[2].checked = true;
                        } else if (data[0].RNFEETP == "4") {
                            $('input[name="RNFEETP"]')[3].checked = true;
                        }

                        if (data[0].MGFEETP == "1") {
                            $('input[name="MGFEETP"]')[0].checked = true;
                        } else if (data[0].MGFEETP == "2") {
                            $('input[name="MGFEETP"]')[1].checked = true;
                        } else if (data[0].MGFEETP == "3") {
                            $('input[name="MGFEETP"]')[2].checked = true;
                        } else if (data[0].MGFEETP == "4") {
                            $('input[name="MGFEETP"]')[3].checked = true;
                        }

                        if (data[0].SP == "1") {
                            $('input[name="SP"]').checked = true;
                        } else {
                            $('input[name="SP"]').checked = false;
                        }



                    } else {
                        $('#CONTRAH_TAGID').val('');
                        $('#DEALERNM').val('');
                        //    $('#DEALMAN').val('');
                        $('#COMETP').val('');
                        $('#COMENOTE').val('');
                        $('#MLIVER').val('');
                        $('#BROKERNM').val('');
                        $('#BROKFEE').val('');
                        $('#LOGUSR').combobox('setValue', '');





                        //承租聯絡人

                        $('#DEALMAN').combogrid('setValue', '');

                        $('#BROKMAN').combogrid('setValue', '');

                        $('#CNHNO').val('');
                        $('#DT1').datebox('setValue', '');
                        $('#DT2').datebox('setValue', '');
                        $('#YRS').val('');
                        $('#MNS').val('');
                        $('#DYS').val('');
                        $('#RNFEE').val('');
                        $('#MGFEE').val('');

                        $('#GUAFEE').val('');
                        $('#DSCON1').val('');
                        $('#DSCON2').val('');
                        $('#CNHNOTE').val('');




                    }
                    $('#frm1').form('validate');
                    initUPDNOTE();     //
                    initCONTRAP_DG();  //車位租約列表
                    initCONTRAF_DG();  //傢俱租約列表
                    initCONTRAC_DG();  //俱樂部租約列表
                    initCONTRAA_DG();  //雜項租約列表
                }
            });
        }
    }


    //房屋合約異動記錄
    function initUPDNOTE() {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        $('#UPDNOTE_DG').datagrid('reload', obj);

    }



    //車位租約列表
    function initCONTRAP_DG() {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        $('#CONTRAP_DG').datagrid('reload', obj);
        $('#CONTRAP_DG').datagrid('unselectAll');
        initCONTRAP_FORM();
    }


    //車位表單
    function initCONTRAP_FORM() {
        var row = $('#CONTRAP_DG').datagrid('getSelected');
        if (row != null) {
            $('#CAR_TAGID').val(row.TAGID);
            $('#CAR_CNPNO').val(row.CNPNO);

            $('#CAR_PARKNO').combogrid('setValue', row.PARKNO);
            $('#CAR_LOCT').val(row.LOCT);


            $('#CAR_DEALERNM').val(row.DEALERNM);
            $('#CAR_RNFEE').val(row.RNFEE);


            $('#CAR_DT1').datebox('setValue', row.DT1);
            $('#CAR_DT2').datebox('setValue', row.DT2);
            $('#CAR_NOTES').val(row.NOTES);
            $('#CAR_DSCON1').val(row.DSCON1);
            $('#CAR_DSCON2').val(row.DSCON2);
            $('#CAR_YRS').val(row.YRS);
            $('#CAR_MNS').val(row.MNS);
            $('#CAR_DYS').val(row.DYS);

            if (row.RNTP == "1") {
                $('input[name="CAR_RNTP"]')[0].checked = true;
            } else if (row.RNTP == "2") {
                $('input[name="CAR_RNTP"]')[1].checked = true;
            }

            if (row.RNTERTP == "1") {
                $('input[name="CAR_RNTERTP"]')[0].checked = true;
            } else if (row.RNTERTP == "2") {
                $('input[name="CAR_RNTERTP"]')[1].checked = true;
            }

            if (row.RNFEETP == "1") {
                $('input[name="CAR_RNFEETP"]')[0].checked = true;
            } else if (row.RNFEETP == "2") {
                $('input[name="CAR_RNFEETP"]')[1].checked = true;
            } else if (row.RNFEETP == "3") {
                $('input[name="CAR_RNFEETP"]')[2].checked = true;
            } else if (row.RNFEETP == "4") {
                $('input[name="CAR_RNFEETP"]')[3].checked = true;
            }
        } else {
            $('#CAR_CNPNO').val('');
            $('#CAR_PARKNO').combogrid('setValue', '');
            $('#CAR_DEALERNM').val('');
            $('#CAR_RNFEE').val('');
            $('#CAR_LOCT').val('');
            $('#CAR_DT1').datebox('setValue', '');
            $('#CAR_DT2').datebox('setValue', '');
            $('#CAR_NOTES').val('');
            $('#CAR_DSCON1').val('');
            $('#CAR_DSCON2').val('');
            $('#CAR_YRS').val('');
            $('#CAR_MNS').val('');
            $('#CAR_DYS').val('');
        }
    }

    //傢俱租約列表
    function initCONTRAF_DG() {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        $('#CONTRAF_DG').datagrid('reload', obj);
        $('#CONTRAF_DG').datagrid('unselectAll');
        initCONTRAF_FORM();
    }

    //傢俱表單
    function initCONTRAF_FORM() {
        var row = $('#CONTRAF_DG').datagrid('getSelected');
        if (row != null) {
            $('#H2_TAGID').val(row.TAGID);
            $('#H2_CNFNO').val(row.CNFNO);
            $('#H2_DEALERNM').val(row.DEALERNM);
            $('#H2_RNFEE').val(row.RNFEE);

            $('#H2_DT1').datebox('setValue', row.DT1);
            $('#H2_DT2').datebox('setValue', row.DT2);
            $('#H2_NOTES').val(row.NOTES);
            $('#H2_DSCON1').val(row.DSCON1);
            $('#H2_DSCON2').val(row.DSCON2);
            $('#H2_YRS').val(row.YRS);
            $('#H2_MNS').val(row.MNS);
            $('#H2_DYS').val(row.DYS);

            if (row.RNTP == "1") {
                $('input[name="H2_RNTP"]')[0].checked = true;
            } else if (row.RNTP == "2") {
                $('input[name="H2_RNTP"]')[1].checked = true;
            }

            if (row.RNTERTP == "1") {
                $('input[name="H2_RNTERTP"]')[0].checked = true;
            } else if (row.RNTERTP == "2") {
                $('input[name="H2_RNTERTP"]')[1].checked = true;
            }

            if (row.RNFEETP == "1") {
                $('input[name="H2_RNFEETP"]')[0].checked = true;
            } else if (row.RNFEETP == "2") {
                $('input[name="H2_RNFEETP"]')[1].checked = true;
            } else if (row.RNFEETP == "3") {
                $('input[name="H2_RNFEETP"]')[2].checked = true;
            } else if (row.RNFEETP == "4") {
                $('input[name="H2_RNFEETP"]')[3].checked = true;
            }
        } else {
            $('#H2_CNFNO').val('');
            $('#H2_RNFEE').val('');
            $('#H2_DEALERNM').val('');
            $('#H2_DT1').datebox('setValue', '');
            $('#H2_DT2').datebox('setValue', '');
            $('#H2_NOTES').val('');
            $('#H2_DSCON1').val('');
            $('#H2_DSCON2').val('');
            $('#H2_YRS').val('');
            $('#H2_MNS').val('');
            $('#H2_DYS').val('');
        }
    }

    //俱樂部租約列表
    function initCONTRAC_DG() {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        $('#CONTRAC_DG').datagrid('reload', obj);
        $('#CONTRAC_DG').datagrid('unselectAll');
        initCONTRAC_FORM();
    }

    //俱樂部表單
    function initCONTRAC_FORM() {
        var row = $('#CONTRAC_DG').datagrid('getSelected');
        if (row != null) {
            $('#C_TAGID').val(row.TAGID);
            $('#C_CNCNO').val(row.CNCNO);
            $('#C_DEALERNM').val(row.DEALERNM);
            $('#C_RNFEE').val(row.RNFEE);

            $('#C_DT1').datebox('setValue', row.DT1);
            $('#C_DT2').datebox('setValue', row.DT2);
            $('#C_NOTES').val(row.NOTES);
            $('#C_DSCON1').val(row.DSCON1);
            $('#C_DSCON2').val(row.DSCON2);
            $('#C_YRS').val(row.YRS);
            $('#C_MNS').val(row.MNS);
            $('#C_DYS').val(row.DYS);

            if (row.RNTP == "1") {
                $('input[name="C_RNTP"]')[0].checked = true;
            } else if (row.RNTP == "2") {
                $('input[name="C_RNTP"]')[1].checked = true;
            }

            if (row.RNTERTP == "1") {
                $('input[name="C_RNTERTP"]')[0].checked = true;
            } else if (row.RNTERTP == "2") {
                $('input[name="C_RNTERTP"]')[1].checked = true;
            }

            if (row.RNFEETP == "1") {
                $('input[name="C_RNFEETP"]')[0].checked = true;
            } else if (row.RNFEETP == "2") {
                $('input[name="C_RNFEETP"]')[1].checked = true;
            } else if (row.RNFEETP == "3") {
                $('input[name="C_RNFEETP"]')[2].checked = true;
            } else if (row.RNFEETP == "4") {
                $('input[name="C_RNFEETP"]')[3].checked = true;
            }
        } else {
            $('#C_CNFNO').val('');
            $('#C_RNFEE').val('');
            $('#C_DEALERNM').val('');
            $('#C_DT1').datebox('setValue', '');
            $('#C_DT2').datebox('setValue', '');
            $('#C_NOTES').val('');
            $('#C_DSCON1').val('');
            $('#C_DSCON2').val('');
            $('#C_YRS').val('');
            $('#C_MNS').val('');
            $('#C_DYS').val('');
        }
    }

    //雜項租約列表
    function initCONTRAA_DG() {
        var obj = {};
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        $('#CONTRAA_DG').datagrid('reload', obj);
        $('#CONTRAA_DG').datagrid('unselectAll');
        initCONTRAA_FORM();
    }

    //雜項表單
    function initCONTRAA_FORM() {
        var row = $('#CONTRAA_DG').datagrid('getSelected');
        if (row != null) {
            $('#A_TAGID').val(row.TAGID);
            $('#A_CNANO').val(row.CNANO);
            //$('#A_DEALERNM').val(row.DEALERNM);
            $('#A_OTHERN').combobox('setValue',$.trim(row.OTHERN));
            $('#A_RNFEE').val(row.RNFEE);

            $('#A_DT1').datebox('setValue', row.DT1);
            $('#A_DT2').datebox('setValue', row.DT2);
            $('#A_NOTES').val(row.NOTES);

            /*
            if (row.RNTP == "1") {
                $('input[name="A_RNTP"]')[0].checked = true;
            } else if (row.RNTP == "2") {
                $('input[name="A_RNTP"]')[1].checked = true;
            }

            if (row.RNTERTP == "1") {
                $('input[name="C_RNTERTP"]')[0].checked = true;
            } else if (row.RNTERTP == "2") {
                $('input[name="C_RNTERTP"]')[1].checked = true;
            }*/

            if (row.RNFEETP == "1") {
                $('input[name="A_RNFEETP"]')[0].checked = true;
            } else if (row.RNFEETP == "2") {
                $('input[name="A_RNFEETP"]')[1].checked = true;
            } else if (row.RNFEETP == "3") {
                $('input[name="A_RNFEETP"]')[2].checked = true;
            } else if (row.RNFEETP == "4") {
                $('input[name="A_RNFEETP"]')[3].checked = true;
            }
        } else {
            $('#A_CNANO').val('');
            $('#A_RNFEE').val('');
            $('#A_OTHERN').combobox('setValue','');
            $('#A_DT1').datebox('setValue', '');
            $('#A_DT2').datebox('setValue', '');
            $('#A_NOTES').val('');

        }
    }

    function Initialize_DataGrid() {
        var getGridJSON = '@Url.Action("Grid", "Frm201")';
        $('#DataGrid').datagrid({
            title: '費用分類維護',
            url: getGridJSON,
            width: '600',
            height: '400',
            rownumbers: true,
            nowrap: true,
            pagination: true,
            pageSize: 20,
            idField: 'TPNO',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: true,
            singleSelect: true,
            sortName: 'TPNO',
            sortOrder: 'asc',
            columns: [[
                {
                    field: 'TPNO',
                    title: '費用分類編號',
                    sortable: true,
                    width: 50,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                {
                    field: 'TPNM',
                    title: '費用分類名稱',
                    sortable: true,
                    width: 150,
                    halign: "center",
                    align: "left",
                    sortable: true
                }
            ]],
            onSelect: function (rowIndex, rowData) {
                $('#TPNO').val($.trim(rowData.TPNO));
                $('#TPNM').val($.trim(rowData.TPNM));
            }
        });

    }

    //承租連絡人
    function initDealman(DEALNO, DEALMAN) {
        var obj = {};
        obj.CNO = $.trim(DEALNO);
        $('#DEALNO').val(DEALNO);
        $('#DEALMAN').combogrid({
            url: '@Url.Action("Grid2", "Frm111")',
            showHeader: true,
            queryParams: obj,
            panelWidth: 320,
            idField: 'MAN',
            textField: 'MAN',
            columns: [[
                { field: 'MAN', title: '姓名', width: 150, halign: "center", align: "center" },
                { field: 'TEL', title: '電話', width: 150, halign: "center", align: "left" }
            ]],
            onLoadSuccess: function (data) {
                $('#DEALMAN').combogrid('setValue', DEALMAN);
            }
        });
    }

    function initBrokman(BROKNO, BROKMAN) {
        var obj = {};
        obj.CNO = $.trim(BROKNO);

        $('#BROKMAN').combogrid({
            url: '@Url.Action("Grid2", "Frm106")',
            showHeader: true,
            queryParams: obj,
            panelWidth: 320,
            idField: 'MAN',
            textField: 'MAN',
            columns: [[
                { field: 'MAN', title: '姓名', width: 150, halign: "center", align: "center" },
                { field: 'TEL', title: '電話', width: 150, halign: "center", align: "left" }
            ]],
            onLoadSuccess: function (data) {
                $('#BROKMAN').combogrid('setValue', BROKMAN);
            }
        });
    }

    //新增
    function doAddHouse() {
        var tab = $('#tt').tabs('getSelected');
        var i = $('#tt').tabs('getTabIndex', tab);
        switch (i) {
            case 0:
                $('#CONTRAH_TAGID').val('');
                $('#CNHNO').val('');
                $('#DT1').datebox('setValue', '');
                $('#DT2').datebox('setValue', '');
                $('#YRS').val('');
                $('#MNS').val('');
                $('#DYS').val('');
                $('#RNFEE').val('');
                $('#MGFEE').val('');
                $('#GUAFEE').val('');
                $('#SP').checked = false;
                $('#DSCON1').val('');
                $('#DSCON2').val('');
                $('#CNHNOTE').val('');
                break;
            case 1:
                $('#CAR_TAGID').val('');
                $('#CAR_CNPNO').val('');
                $('#CAR_DEALERNM').val('');
                $('#CAR_PARKNO').combogrid('setValue', '');
                $('#CAR_LOCT').val('');
                $('#CAR_DT1').datebox('setValue', '');
                $('#CAR_DT2').datebox('setValue', '');
                $('#CAR_YRS').val('');
                $('#CAR_MNS').val('');
                $('#CAR_DYS').val('');
                $('#CAR_RNFEE').val('');
                $('#CAR_DSCON1').val('');
                $('#CAR_DSCON2').val('');
                $('#CAR_NOTES').val('');
                break;
            case 2:
                $('#H2_TAGID').val('');
                $('#H2_CNFNO').val('');
                $('#H2_DEALERNM').val('');
                $('#H2_DT1').datebox('setValue', '');
                $('#H2_DT2').datebox('setValue', '');
                $('#H2_YRS').val('');
                $('#H2_MNS').val('');
                $('#H2_DYS').val('');
                $('#H2_RNFEE').val('');
                $('#H2_DSCON1').val('');
                $('#H2_DSCON2').val('');
                $('#H2_NOTES').val('');
                break;
            case 3:
                $('#C_TAGID').val('');
                $('#C_CNCNO').val('');
                $('#C_DEALERNM').val('');
                $('#C_DT1').datebox('setValue', '');
                $('#C_DT2').datebox('setValue', '');
                $('#C_YRS').val('');
                $('#C_MNS').val('');
                $('#C_DYS').val('');
                $('#C_RNFEE').val('');
                $('#C_DSCON1').val('');
                $('#C_DSCON2').val('');
                $('#C_NOTES').val('');
                break;
            case 4:
                $('#A_TAGID').val('');
                $('#A_CNANO').val('');
                
                $('#A_OTHERN').combobox('setValue','');
                $('#A_DT1').datebox('setValue', '');
                $('#A_DT2').datebox('setValue', '');
                $('#A_RNFEE').val('');
                $('#A_NOTES').val('');
                break;
        }
    }


    function doCheck() {
        var tab = $('#tt').tabs('getSelected');
        var i = $('#tt').tabs('getTabIndex', tab);

        if ($('#HOUSE').combogrid('isValid') == false) {
            $.messager.alert('系統訊息', '房屋編號尚未選取!', 'warning');
            return false;
        }

        switch (i) {
            case 0:

                if ($('#DT1').datebox('isValid') == false || $('#DT2').datebox('isValid') == false) {
                    $.messager.alert('系統訊息', '房屋合約起租日與到期日資料有誤!', 'warning');
                    return false;
                } else {
                    chkYMD('');
                }
                break;
            case 1:

                if ($('#CAR_DT1').datebox('isValid') == false || $('#CAR_DT2').datebox('isValid') == false) {
                    $.messager.alert('系統訊息', '車位合約起租日與到期日資料有誤!', 'warning');
                    return false;
                } else {
                    chkYMD('CAR_');
                }

                if ($('#CONTRAH_TAGID').val() == "" && $('#CAR_TAGID').val() == "") {
                    $.messager.alert('系統訊息', '尚未建立房屋主約無法新增車位合約!', 'warning');
                    return false;
                }

                break;
            case 2:
                if ($('#H2_DT1').datebox('isValid') == false || $('#H2_DT2').datebox('isValid') == false) {
                    $.messager.alert('系統訊息', '傢俱合約起租日與到期日資料有誤!', 'warning');
                    return false;
                } else {
                    chkYMD('H2_');
                }
                break;
            case 3:
                if ($('#C_DT1').datebox('isValid') == false || $('#C_DT2').datebox('isValid') == false) {
                    $.messager.alert('系統訊息', '俱樂部合約起租日與到期日資料有誤!', 'warning');
                    return false;
                } else {
                    chkYMD('C_');
                }
                break;
            case 4:
                if ($('#A_DT1').datebox('isValid') == false || $('#A_DT2').datebox('isValid') == false) {
                    $.messager.alert('系統訊息', '雜項合約起租日與到期日資料有誤!', 'warning');
                    return false;
                } else {
                    //    chkYMD('A_');
                }
                break;
        }
        return true;
    }


    //儲存
    function doSaveHouse() {

        //   var bResult = $('#frm1').form('validate');
        if (doCheck()) {
            $.messager.confirm('執行確認', '您確定要儲存資料?', function (r) {
                if (r) {
                    var obj = getObj();

                    $.ajax({
                        url: '@Url.Action("Save", "Frm201")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {

                                initROOMF(obj.mHOUSE);
                                doRefresh();
                                $.messager.alert('系統訊息', '資料已儲存!如果有修改月租費資料, 記得要重做租金計算', 'info');
                            } else if (data.status == '0') {
                                $.messager.alert('系統訊息', '資料未異動!', 'warning');
                            } else {
                                $.messager.alert('系統訊息', data.message, 'error');
                            }
                        }
                    });
                }
            });
        }
    }


    
    function chkYMD(param) {
        var obj = {};
        obj.sdt = $('#' + param + 'DT1').datebox('getValue');
        obj.edt = $('#' + param + 'DT2').datebox('getValue');

        $.ajax({
            url: '@Url.Action("getYMD", "Frm201j")',
            type: "post",
            data: obj,
            dataType: "json",
            async: false,
            success: function (data, textStatus, jqXHR) {
                if (data.status != '0') {
                    $('#' + param + 'YRS').val(data.Y);
                    $('#' + param + 'MNS').val(data.M);
                    $('#' + param + 'DYS').val(data.D);
                }
            }
        });
    }

    function doRemoveHouse() {
        if ($('#HOUSE').combogrid('isValid')) {
            var obj = {};
            var house = $.trim($('#HOUSE').combogrid('getValue'));
            obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
            obj.HOUSE = house;
            $.messager.confirm('執行確認', '您確定要刪除?刪除合約不會留下異動記錄,相關資料也會一併刪除', function (r) {
                if (r) {
                    $.ajax({
                        url: '@Url.Action("doRemoveHouse", "Frm201")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $.messager.alert('系統訊息', '資料已刪除!', 'info');
                                var tab = $('#tt').tabs('getSelected');
                                var i = $('#tt').tabs('getTabIndex', tab);
                                initROOMF(house);
                                switch (i) {
                                    case 0:
                                        initCONTRAH();
                                        break;
                                    case 1:
                                        initCONTRAP_DG();
                                        break;
                                    case 2:
                                        initCONTRAF_DG();
                                        break;
                                    case 3:
                                        initCONTRAC_DG();
                                        break;
                                    case 4:
                                        initCONTRAA_DG();
                                        break;
                                }

                            } else {
                                $.messager.alert('系統訊息', data.message, 'error');
                            }

                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '房屋編號尚未選取!', 'warning');
        }
    }

    function doClear() {
        $('#TPNO').val('');
        $('#TPNM').val('');
    }

    function getObj() {
        var obj = {};
        var tab = $('#tt').tabs('getSelected');
        var i = $('#tt').tabs('getTabIndex', tab);
        obj.mCSTTP = $("input[name='CSTTP']:checked").val();
        obj.mDEALERNM = $.trim($('#DEALERNM').val());
        obj.mDEALMAN = $.trim($('#DEALMAN').combogrid('getValue'));
        obj.mDEALNO = $.trim($('#DEALNO').val());
        obj.mCOMENOTE = $.trim($('#COMENOTE').val());
        obj.mCOMETP = $.trim($('#COMETP').val());
        obj.mMLIVER = $.trim($('#MLIVER').val());

        obj.mBROKERNM = $.trim($('#BROKERNM').val());
        obj.mBROKFEE = $.trim($('#BROKFEE').val());
        obj.mLOGUSR = $.trim($('#LOGUSR').combobox('getText'));
        obj.mBROKMAN = $.trim($('#BROKMAN').combogrid('getValue'));
        obj.mHOUSE = $.trim($('#HOUSE').combogrid('getValue'));
        obj.mJOBTAG = $.trim($('#CONTRAH_TAGID').val());
        obj.CNHNO = $.trim($('#CNHNO').val());


        switch (i) {
            case 0:
                obj.type = "1";
                obj.TAGID = $('#CONTRAH_TAGID').val();

                obj.DT1 = $('#DT1').datebox('getValue');
                obj.DT2 = $('#DT2').datebox('getValue');
                obj.YRS = $('#YRS').val();
                obj.MNS = $('#MNS').val();
                obj.DYS = $('#DYS').val();
                obj.RNFEE = $('#RNFEE').val();
                obj.RNFEETP = $("input[name='RNFEETP']:checked").val();
                obj.MGFEE = $('#MGFEE').val();
                obj.MGFEETP = $("input[name='MGFEETP']:checked").val();
                obj.GUAFEE = $('#GUAFEE').val();

                if ($('#SP').prop('checked')) {
                    obj.SP = "1";
                } else {
                    obj.SP = "0";
                }
                obj.DSCON1 = $('#DSCON1').val();
                obj.DSCON2 = $('#DSCON2').val();
                obj.NOTES = $('#CNHNOTE').val();
                obj.CNNO = obj.CNHNO;
                break;
            case 1:
                obj.type = "2";
                obj.TAGID = $('#CAR_TAGID').val();
                obj.CNPNO = $('#CAR_CNPNO').val();
                obj.DEALERNM = $('#CAR_DEALERNM').val();
                obj.PARKNO = $('#CAR_PARKNO').combogrid('getValue');
                obj.LOCT = $('#CAR_LOCT').val();
                obj.DT1 = $('#CAR_DT1').datebox('getValue');
                obj.DT2 = $('#CAR_DT2').datebox('getValue');
                obj.YRS = $('#CAR_YRS').val();
                obj.MNS = $('#CAR_MNS').val();
                obj.DYS = $('#CAR_DYS').val();
                obj.RNFEE = $('#CAR_RNFEE').val();
                obj.DSCON1 = $('#CAR_DSCON1').val();
                obj.DSCON2 = $('#CAR_DSCON2').val();
                obj.NOTES = $('#CAR_NOTES').val();
                obj.RNTERTP = $("input[name='CAR_RNTERTP']:checked").val();
                obj.RNTP = $("input[name='CAR_RNTP']:checked").val();
                obj.RNFEETP = $("input[name='CAR_RNFEETP']:checked").val();
                obj.CNNO = obj.CNPNO;
                break;
            case 2:
                obj.type = "3";
                obj.TAGID = $('#H2_TAGID').val();
                obj.CNFNO = $('#H2_CNFNO').val();
                obj.DEALERNM = $('#H2_DEALERNM').val();
                obj.DT1 = $('#H2_DT1').datebox('getValue');
                obj.DT2 = $('#H2_DT2').datebox('getValue');
                obj.YRS = $('#H2_YRS').val();
                obj.MNS = $('#H2_MNS').val();
                obj.DYS = $('#H2_DYS').val();
                obj.RNFEE = $('#H2_RNFEE').val();
                obj.DSCON1 = $('#H2_DSCON1').val();
                obj.DSCON2 = $('#H2_DSCON2').val();
                obj.NOTES = $('#H2_NOTES').val();
                obj.RNTERTP = $("input[name='H2_RNTERTP']:checked").val();
                obj.RNTP = $("input[name='H2_RNTP']:checked").val();
                obj.RNFEETP = $("input[name='H2_RNFEETP']:checked").val();
                obj.CNNO = obj.CNFNO;
                break;
            case 3:
                obj.type = "4";
                obj.TAGID = $('#C_TAGID').val();
                obj.CNCNO = $('#C_CNCNO').val();
                obj.DEALERNM = $('#C_DEALERNM').val();
                obj.DT1 = $('#C_DT1').datebox('getValue');
                obj.DT2 = $('#C_DT2').datebox('getValue');
                obj.YRS = $('#C_YRS').val();
                obj.MNS = $('#C_MNS').val();
                obj.DYS = $('#C_DYS').val();
                obj.RNFEE = $('#C_RNFEE').val();
                obj.DSCON1 = $('#C_DSCON1').val();
                obj.DSCON2 = $('#C_DSCON2').val();
                obj.NOTES = $('#C_NOTES').val();
                obj.RNTERTP = $("input[name='C_RNTERTP']:checked").val();
                obj.RNTP = $("input[name='C_RNTP']:checked").val();
                obj.RNFEETP = $("input[name='C_RNFEETP']:checked").val();
                obj.CNNO = obj.CNCNO;
                break;
            case 4:
                obj.type = "5";
                obj.TAGID = $('#A_TAGID').val();
                obj.CNANO = $('#A_CNANO').val();
                obj.DEALERNM = $.trim($('#DEALERNM').val());
                
                obj.OTHERN = $.trim($('#A_OTHERN').combobox('getValue'));
                obj.DT1 = $('#A_DT1').datebox('getValue');
                obj.DT2 = $('#A_DT2').datebox('getValue');
                obj.RNFEE = $('#A_RNFEE').val();
                obj.NOTES = $('#A_NOTES').val();
                obj.RNFEETP = $("input[name='A_RNFEETP']:checked").val();
                obj.CNNO = obj.CNANO;
                break;
        }

        return obj;
    }

    function openDealernmDialog() {
        $('#DealernmDialog').dialog('open');
    }

    function openCompanyDialog() {
        if ($('#DEALNO').val() == '' || $('#DEALNO').val() == null) {
            $.messager.alert('系統訊息', '無合約公司資料!', 'warning');
        } else {
    
          //  $('#CompanyDialog').dialog('refresh', '@Url.Action("CompanyDialog", "Frm201")');
            $('#CompanyDialog').dialog('open');
        }

    }

    function openBrokernmDialog() {
        $('#BrokernmDialog').dialog('open');
    }



    function doRefresh() {
        var house = $.trim($('#HOUSE').combogrid('getValue'));
        var TAGID = $.trim($('#CONTRAH_TAGID').val());
        var tab = $('#tt').tabs('getSelected');
        var i = $('#tt').tabs('getTabIndex', tab);

        if (house != "") {
            switch (i) {
                case 0:
                    initCONTRAH();
                    break;
                case 1:
                    initCONTRAP_DG();
                    break;
                case 2:
                    initCONTRAF_DG();
                    break;
                case 3:
                    initCONTRAC_DG();
                    break;
                case 4:
                    initCONTRAA_DG();
                    break;
            }
        }
    }

    //合約租金總覽
    function showContractDialog() {
        var value = $('#HOUSE').combogrid('getValue');
        if (value != "") {
            $('#ContractDialog').dialog({
                title: '合約租金總覽 - 房屋編號: ' + value,
                width: 1024,
                height: 600,
                closed: false,
                cache: false,
                resizable: true,
                href: '@Url.Action("ContractDialog", "Frm201")',
                modal: true
            });
        } else {
            $.messager.alert('系統訊息', '請選擇房號!', 'warning');
        }
    }

    //合約異動Dialog
    function showContractEditDialog() {
        var value = $('#HOUSE').combogrid('getValue');
        if (value != "") {
            $('#ContractEditDialog').dialog({
                title: '合約異動 - 房屋編號: ' + value,
                width: 680,
                height: 500,
                closed: false,
                cache: false,
                resizable: true,
                href: '@Url.Action("ContractEditDialog", "Frm201")',
                modal: true
            });
        } else {
            $.messager.alert('系統訊息', '請選擇房號!', 'warning');
        }
    }

    //住戶資料
    function showCustomerDialog() {
        var value = $('#HOUSE').combogrid('getValue');
        if (value != "") {
            $('#CustomerDialog').dialog({
                title: '住戶資料 - 房屋編號: ' + value,
                width: 800,
                height: 600,
                closed: false,
                cache: false,
                resizable: true,
                href: '@Url.Action("CustomerDialog", "Frm201")',
                modal: true
            });
        } else {
            $.messager.alert('系統訊息', '請選擇房號!', 'warning');
        }
    }




    //續約
    function showFrm201jDialog() {
        var value = $('#HOUSE').combogrid('getValue');
        if (value != "") {
            $('#frm201jDialog').dialog({
                title: '續約作業 - 房屋編號: ' + value,
                width: 800,
                height: 550,
                closed: false,
                cache: false,
                resizable: true,
                href: '@Url.Action("Frm201j", "Frm201")',
                modal: true
            });
        } else {
            $.messager.alert('系統訊息', '請選擇房號!', 'warning');
        }
    }

    //解約
    function showFrm201eDialog() {
        var value = $('#HOUSE').combogrid('getValue');
        if (value != "") {
            $('#frm201eDialog').dialog({
                title: '解約作業 - 房屋編號: ' + value,
                width: 800,
                height: 600,
                closed: false,
                cache: false,
                resizable: true,
                href: '@Url.Action("Frm201e", "Frm201")',
                modal: true
            });
        } else {
            $.messager.alert('系統訊息', '請選擇房號!', 'warning');
        }
    }
    //租金管理作業dialog
    function showContractManagerDialog() {
        var value = $('#HOUSE').combogrid('getValue');
        if (value != "") {

            var tab = $('#tt').tabs('getSelected');
            var i = $('#tt').tabs('getTabIndex', tab);
            var row;
            var pass = false;
            if (i == 0) {
                pass = true;
            } else if (i == 1) {
                row = $('#CONTRAP_DG').datagrid('getSelected');
                row.CNNO = row.CNPNO;
            } else if (i == 2) {
                row = $('#CONTRAF_DG').datagrid('getSelected');
                row.CNNO = row.CNFNO;
            } else if (i == 3) {
                row = $('#CONTRAC_DG').datagrid('getSelected');
                row.CNNO = row.CNCNO;
            } else if (i == 4) {
                row = $('#CONTRAA_DG').datagrid('getSelected');
                row.CNNO = row.CNANO;
            }



            if (row != null) pass = true;
            if (pass) {
                $('#ContractManagerDialog').dialog({
                    title: '租金作業 - 房屋編號: ' + value,
                    width: 800,
                    height: 400,
                    closed: false,
                    cache: false,
                    resizable: true,
                    href: '@Url.Action("ContractManagerDialog", "Frm201")',
                    modal: true
                });
            } else {
                $.messager.alert('系統訊息', '請選擇合約!', 'warning');
            }
        } else {
            $.messager.alert('系統訊息', '請選擇房號!', 'warning');
        }
    }

    function showFrm201gDialog() {
        var row = $('#CONTRAF_DG').datagrid('getSelected');
        if (row != null) {
            $('#frm201gDialog').dialog({
                title: '傢俱明細',
                width: 800,
                height: 600,
                closed: false,
                cache: false,
                resizable: true,
                href: '@Url.Action("Frm201g", "Frm201")',
                modal: true
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取傢俱合約!', 'warning');
        }
    }

    function showClubPersonDialog() {
        var row = $('#CONTRAC_DG').datagrid('getSelected');
        if (row != null) {
            $('#frm201fDialog').dialog({
                title: '俱樂部使用人',
                width: 800,
                height: 600,
                closed: false,
                cache: false,
                resizable: true,
                href: '@Url.Action("Frm201f", "Frm201")',
                modal: true
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取俱樂部合約!', 'warning');
        }
    }


</script>
<h2>Frm201 租屋作業</h2>
<a id="btnReload" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="doRefresh()">重新顯示</a>
<a id="btnContract" href="#" class="easyui-linkbutton"  data-options="iconCls:'report-magnify-icon'" onclick="showContractDialog()">合約租金總覽</a>
<a id="btnCustomer" href="#" class="easyui-linkbutton"  data-options="iconCls:'home-s-icon'" onclick="showCustomerDialog()">住戶資料</a>
<a id="btnChangeSave" href="#" class="easyui-linkbutton"  data-options="iconCls:'application-edit-icon'" onclick="showContractEditDialog()">合約異動</a>
<a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAddHouse()">新增附約</a>
<a id="btnSave" href="#" class="easyui-linkbutton"  data-options="iconCls:'save-icon'" onclick="doSaveHouse()">資料更正存檔</a>
<a id="btnSave1" href="#" class="easyui-linkbutton"  data-options="iconCls:'sign-icon'" onclick="showFrm201jDialog()">續約</a>
<a id="btnSave2" href="#" class="easyui-linkbutton"  data-options="iconCls:'sign_delete-icon'" onclick="showFrm201eDialog()">解約</a>
<a id="btnDel" href="#" class="easyui-linkbutton"  data-options="iconCls:'icon-no'" onclick="doRemoveHouse()">刪除</a>
<br /><br />
<form id="frm1" name="frm1">
    <div id="cc" class="easyui-layout" style="width:1024px;height:680px;">
        <div data-options="region:'west',title:'租屋基本資料',split:true" style="width:350px;padding:5px">
            <table width="330px" border="1" cellpadding="3" cellspacing="2">
                <tr>
                    <td colspan="3">
                        房屋編號
                        <input type="text" name="HOUSE" id="HOUSE" style="width:80px" data-options="required:true" />
                        &nbsp;&nbsp;&nbsp;牌價月租費
                        <input type="text" name="RENTAL" id="RENTAL" class="easyui-validatebox" style="width:70px" readonly />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        坪數
                        &nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <input type="text" id="iPINS" name="iPINS" class="easyui-validatebox" style="width:70px" readonly />
                        &nbsp;&nbsp;&nbsp;牌價管理費
                        <input type="text" name="iMGFEE" id="iMGFEE" class="easyui-validatebox" style="width:70px" readonly />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        地址
                        &nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <input type="text" name="ADR1" id="ADR1" class="easyui-validatebox" style="width:250px" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        網路IP_1
                        <input type="text" name="IP1" id="IP1" class="easyui-validatebox" style="width:120px"  readonly/>
                    </td>
                    <td width="127" rowspan="2"><a href="#" id="houseIcon" class="easyui-linkbutton" data-options="iconCls:'home-icon',size:'large',iconAlign:'top'">已出租</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        網路IP_2
                        <input type="text" name="IP2" id="IP2" class="easyui-validatebox" style="width:120px" readonly/>
                    </td>
                </tr>
                <tr>
                    <td width="60">客戶別</td>
                    <td width="179">
                        <label>
                            <input id="CSTTP" name="CSTTP" type="radio" value="1" />
                            個人
                            <input id="CSTTP" name="CSTTP" type="radio" value="2" />
                            公司
                        </label>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td width="60">承租人</td>
                    <td colspan="2">
                        <input type="text" id="DEALERNM" name="DEALERNM" class="easyui-validatebox" style="width:180px" readonly />
                        <input type="hidden" id="DEALNO" name="DEALNO" />
                        <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'select-icon'" onclick="openDealernmDialog()"></a>
                    </td>
                </tr>
                <tr>
                    <td width="60">聯絡人</td>
                    <td colspan="2">
                        <input type="text" id="DEALMAN" name="DEALMAN" class="easyui-combogrid" data-options="editable:false" style="width:190px;height:28px" />
                        <a id="btnAdd" href="#" class="easyui-linkbutton"  onclick="openCompanyDialog()">公司資料</a>
                    </td>
                </tr>
                <tr>
                    <td width="60">來源別</td>
                    <td colspan="2"><input type="text" id="COMETP" name="COMETP" class="easyui-validatebox" style="width:180px" /></td>
                </tr>
                <tr>
                    <td colspan="3">
                        來源備註
                        &nbsp;&nbsp;&nbsp;
                        <input type="text" id="COMENOTE" name="COMENOTE" class="easyui-validatebox" style="width:180px" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        居住特定人
                        <input type="text" id="MLIVER" name="MLIVER" style="width:180px" />
                    </td>
                </tr>
                <tr>
                    <td width="60">仲介商</td>
                    <td colspan="2">
                        <input type="text" id="BROKERNM" name="BROKERNM" style="width:180px" readonly />
                        <a id="btnAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'select-icon'" onclick="openBrokernmDialog()"></a>
                    </td>
                </tr>
                <tr>
                    <td width="60">聯絡人</td>
                    <td colspan="2"><input type="text" id="BROKMAN" name="BROKMAN" class="easyui-combogrid" data-options="editable:false" style="width:190px;height:28px" /></td>
                </tr>
                <tr>
                    <td width="60">仲介費</td>
                    <td colspan="2"><input type="text" id="BROKFEE" name="BROKFEE" style="width:180px" /></td>
                </tr>
                <tr>
                    <td width="60">承辦人</td>
                    <td colspan="2"><input type="text" id="LOGUSR" name="LOGUSR" style="width:180px;height:28px"  /></td>
                </tr>
            </table>
        </div>
        <div data-options="region:'center',border:false">            
            <div id="tt" class="easyui-tabs" fit="true">
                <div title="房屋合約" style="padding:10px" data-options="iconCls:'home-s-icon'">
                    @{Html.RenderPartial("~/Views/frm201/_tab1.cshtml");}
                </div>
                <div title="車位合約" style="padding:10px" data-options="iconCls:'car-icon'">
                    @{Html.RenderPartial("~/Views/frm201/_tab2.cshtml");}
                </div>
                <div title="傢俱合約" style="padding:10px" data-options="iconCls:'television-icon'">
                    @{Html.RenderPartial("~/Views/frm201/_tab3.cshtml");}
                </div>
                <div title="俱樂部合約" style="padding:10px" data-options="iconCls:'beach-chair-icon'">
                    @{Html.RenderPartial("~/Views/frm201/_tab4.cshtml");}
                </div>
                <div title="雜項合約" style="padding:10px" data-options="iconCls:'signature-icon'">
                    @{Html.RenderPartial("~/Views/frm201/_tab5.cshtml");}
                </div>
            </div>
        </div>
    </div>
</form>
<div id="DealernmDialog"></div>
<div id="CompanyDialog"></div>
<div id="BrokernmDialog"></div>
<div id="ContractDialog"></div>
<div id="ContractEditDialog"></div>
<div id="CustomerDialog"></div>
<div id="frm201jDialog"></div>
<div id="frm201eDialog"></div>
<div id="ContractManagerDialog"></div>
<div id="frm201gDialog"></div>
<div id="frm201fDialog"></div>