@{
    ViewBag.Title = "Frm502 電瓦帳單";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {

        Initialize_DataGrid();
        initF502();
        //房屋編號下拉選單
        $('#HOUSE').combogrid({
            queryParams: '',
            panelWidth: 200,
            idField: 'CNO',
            textField: 'CNO',
            mode: 'remote',
            method: 'get',
            fitColumns: true,
            url: '@Url.Action("Grid", "Frm107")',
            columns: [[
                { field: 'CNO', title: '房屋編號', width: 60 },
                { field: 'DOOR', title: '門號', width: 60 },
                { field: 'FLOR', title: '樓層', width: 60 }
            ]],
            onSelect: function (index, row) {
                  
            }
        });







    });   //ready end

    $(window).load(function () {





    });

    //房屋合約
    function initCONTRAH() {
        var value = $('#HOUSE').combogrid('getValue');        
        
        if (value != null) {
            var obj = {};
            obj.CNO = $.trim(value);
            $.ajax({
                url: '@Url.Action("getCONTRAH", "Frm201")',
                type: "post",
                data: obj,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    if (data.length > 0) {
                        var obj = {};
                        obj.TAGID = $.trim(data[0].TAGID);
                        $('#CONTRAH_TAGID').val($.trim(data[0].TAGID));
                        $('#DEALER').val($.trim(data[0].DEALERNM));
                    }
                }
            });
        }
    }




    function initF502() {
        $.ajax({
            url: '@Url.Action("getCONF", "Frm502")',
            type: "post",
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                $('#ETX1').val($.trim(data[0].EITEM1));
                $('#ETX2').val($.trim(data[0].EITEM2));
                $('#ETX3').val($.trim(data[0].EITEM3));
                $('#ETX4').val($.trim(data[0].EITEM4));
                $('#ETX5').val($.trim(data[0].EITEM5));
                $('#ETX6').val($.trim(data[0].EITEM6));
                $('#CTX1').val($.trim(data[0].CITEM1));
                $('#CTX2').val($.trim(data[0].CITEM2));
                $('#CTX3').val($.trim(data[0].CITEM3));
                $('#CTX4').val($.trim(data[0].CITEM4));
                $('#CTX5').val($.trim(data[0].CITEM5));
                $('#CTX6').val($.trim(data[0].CITEM6));
            }
        });
    }



    function Initialize_DataGrid() {
        var getGridJSON = '@Url.Action("Grid", "Frm107")';
        $('#DataGrid').datagrid({
            title: '房號選擇',
            url: getGridJSON,
            width: '120',
            height: '600',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            pageSize: 20,
            idField: 'CNO',
            striped: true,
            showHeader: true,
            fitColumns: true,
            remoteSort: true,
            singleSelect: false,
            sortName: 'CNO',
            sortOrder: 'asc',
            checkbox: true,
            columns: [[
                {
                    field: 'CNO',
                    title: '房屋編號',
                    sortable: true,
                    width: 10,
                    halign: "center",
                    align: "center",
                    sortable: true,
                    checkbox: true
                },
                {
                    field: 'CNO2',
                    title: '房屋編號',
                    sortable: true,
                    width: 50,
                    halign: "center",
                    align: "center"
                }
            ]],
            onCheck: function (rowIndex, rowData) {
               // var obj = {};
               // $('#RMNO').val($.trim(rowData.CNO));
               // initDataGrid2(rowData.CNO);
            },
            onUncheck: function (rowIndex, rowData) {
               // var obj = {};
               // $('#RMNO').val('');
                //initDataGrid2(null);
            }

        });

    }






    function doSave() {

        $.messager.confirm('執行確認', "確認儲存?", function (r) {
            if (r) {
                var obj = getObj();

                $.ajax({
                    url: '@Url.Action("doSave", "Frm502")',
                    type: "post",
                    data: obj,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data.status != '0') {
                            $.messager.alert('系統訊息', '資料已儲存!', 'info');
                        }
                    }
                });
            }
        });

    }

    function getObj() {
        var obj = {};
        obj.ETX1 = $.trim($('#ETX1').val());
        obj.ETX2 = $.trim($('#ETX2').val());
        obj.ETX3 = $.trim($('#ETX3').val());
        obj.ETX4 = $.trim($('#ETX4').val());
        obj.ETX5 = $.trim($('#ETX5').val());
        obj.ETX6 = $.trim($('#ETX6').val());
        obj.CTX1 = $.trim($('#CTX1').val());
        obj.CTX2 = $.trim($('#CTX2').val());
        obj.CTX3 = $.trim($('#CTX3').val());
        obj.CTX4 = $.trim($('#CTX4').val());
        obj.CTX5 = $.trim($('#CTX5').val());
        obj.CTX6 = $.trim($('#CTX6').val());
        obj.RMNO = $.trim($('#HOUSE').combogrid('getValue'));
        obj.DEALER = $.trim($('#DEALER').val());
        obj.SYM = $.trim($('#SYM').textbox('getValue'));
        obj.EYM = $.trim($('#EYM').textbox('getValue'));
        obj.TAGID = $.trim($('#CONTRAH_TAGID').val());
        return obj;
    }

    /*
    function doClear() {
        $('#DT').datebox('setValue', '');
        $('#ITM').combobox('setValue', '');
        $('#TPNM').combobox('setValue', '');
        $('#HOUSE').combogrid('setValue', '');
        $('#MAN').combobox('setText', '');
        $('#MAN').combobox('setValue', '');

        $('#UPR').val('');
        $('#QTY').combobox('setValue', '0');
        $('#AMT').val('');
        $('#PAYAMT').val('');
        $('#NOTES').val('');

        $('#ADULT').combobox('setValue', '0');
        $('#CHILD').combobox('setValue', '0');
        $('#LOGUSR').combobox('setValue', '');
        $('#CONTRAH_TAGID').val('');
        $('#f403TAGID').val('');
    }*/











    function doPrint3() {

        var obj = {};
        var row = $('#DataGrid').datagrid('getChecked');
        obj.list = row;
        obj.obj = getObj();
        
        $.ajax({
            url: '@Url.Action("doRunReport", "Frm502")',
            type: "post",            
            data: obj,           
            success: function (data, textStatus, jqXHR) {
                console.info(data);
                var x = document.getElementById("frameAttachment");
                var y = (x.contentWindow || x.contentDocument);
                if (y.document) y = y.document;
                y.body.style.backgroundColor = "white";
                y.body.innerHTML = "讀取中...請稍候!";
                $('#win').window('setTitle', '報表預覽');
                //開啟PDF
                $('#frameAttachment').attr('src', data);
                $('#win').window('open');
                $('#win').window('refresh');
            }
        });
    }


    function doPrint(mode) {
        initCONTRAH();
        //var obj = {};
        var row = $('#DataGrid').datagrid('getChecked');

        if (mode == "2") {
            if (row.length == 0) {
                $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
                return false;
            }
        } else if (mode == "1") {
            if ($.trim($('#HOUSE').combogrid('getValue')) == "") {
                $.messager.alert('系統訊息', '尚未選取房號!', 'warning');
                return false;
            } else if ($.trim($('#SYM').textbox('getValue')) == "") {
                $.messager.alert('系統訊息', '尚未輸入帳單年月!', 'warning');
                return false;
            } else if ($.trim($('#EYM').textbox('getValue')) == "") {
                $.messager.alert('系統訊息', '尚未輸入帳單年月!', 'warning');
                return false;
            }
        }
        /*
        obj.list = row;
        obj.obj = getObj();
        */
        
        //var obj = {};
        //obj.list = row;
        //obj.obj = getObj();
        $('#ifm').form('submit', {
            url: '@Url.Action("doRunReport", "Frm502")',
          //  queryParams:obj,
            dataType: "json",
            contentType: "application/json",
            onSubmit: function (param) {
                param.obj = JSON.stringify(getObj());
                if (mode == "2") {
                    param.list = JSON.stringify(row);
                }
            }
        });
    
  



    }

</script>
<h2>Frm502 電瓦帳單</h2>
<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint('1')">列印</a>
<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" onclick="doPrint('2')">批次列印</a>
<br />
<br />

    <input type="hidden" id="TAGID" name="TAGID" />
    <input type="hidden" id="CONTRAH_TAGID" name="CONTRAH_TAGID" />
    <table width="800" border="1">
        <tr>
            <td width="107">房號</td>
            <td width="411"><input type="text" id="HOUSE" name="HOUSE" style="width:100px;height:28px" /></td>
            <td width="260" rowspan="15" valign="top"><table id="DataGrid"></table></td>
        </tr>
        <tr>
            <td>承租人</td>
            <td><input name="DEALER" type="text" id="DEALER" style="width:300px"></td>
        </tr>
        <tr>
            <td>帳單年月</td>
            <td><input name="SYM" type="text" id="SYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"> ~ <input name="EYM" type="text" id="EYM" class="easyui-textbox" style="width:70px;height:28px" data-options="prompt:'YYYYMM'"></td>
        </tr>
        <tr>
            <td>備註<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">備註存檔</a></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                <label>
                    <input name="ETX1" type="text" id="ETX1" style="width:500px;">
                </label>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input name="ETX2" type="text" id="ETX2" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="ETX3" type="text" id="ETX3" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="ETX4" type="text" id="ETX4" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="ETX5" type="text" id="ETX5" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="ETX6" type="text" id="ETX6" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2"><input name="CTX1" type="text" id="CTX1" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="CTX2" type="text" id="CTX2" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="CTX3" type="text" id="CTX3" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="CTX4" type="text" id="CTX4" style="width:500px;"></td>
        </tr>
        <tr>
            <td colspan="2"><input name="CTX5" type="text" id="CTX5" style="width:500px;"></td>
        </tr>
        <tr>
            <td height="10" colspan="2" valign="top"><input name="CTX6" type="text" id="CTX6" style="width:500px;"></td>
        </tr>
    </table>
<form name="ifm" id="ifm" method="post" enctype="application/x-www-form-urlencoded"></form>
<div id="win" class="easyui-window" style="width:800px;height:600px"
     data-options="iconCls:'pdf-icon',modal:true,closed:true,shadow:true,cache: false,minimizable:false">        
    <iframe id="frameAttachment" name="frameAttachment" frameborder="0" style="display:block; width: 100%; height: 100%; vertical-align: top; border: 0px">        
    </iframe>           
</div>
