@{
    ViewBag.Title = "Frm302 費用預算作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


        //人員列表
        $('#f302LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });


        //資訊分類
        $('#f302INFTP').combobox({
            url: '@Url.Action("getINFTP", "Frm302")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        $('#f302YRN').combobox({
            onSelect: function (record) {
                f302DG1init();
                var obj = {};
                obj.JOBTAG = "";
                $('#f302DG2').datagrid('reload', obj);
            }
        })







    });   //ready end

    $(window).load(function () {


        //  $('#NOWDT').datebox('setValue', nowDate);
        var dt = new Date();
        var nowDate = DateTimeUtil.convertDateToISOString(dt);
        $('#f302YRN').combobox('setValue', nowDate.substr(0, 4));

        f302DG1init();
        f302DG2init();
    });


    function f302DG1init() {
        var obj = {};
        obj.yrn = $('#f302YRN').combobox('getValue');
        $('#f302DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm302")',
            queryParams: obj,
            width: '600',
            height: '500',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                {
                    field: 'CNO', title: '科目代號', sortable: true, width: 100, halign: "center", align: "center", sortable: true,
                    formatter: function (value, row, iIndex) {
                        return row.TP + " " + value;
                    }
                },
                { field: 'CNM', title: '科目名稱', sortable: true, width: 230, halign: "center", align: "left", sortable: true },
                { field: 'BUDGET', title: '預算金額', sortable: true, width: 110, halign: "center", align: "right", sortable: true },
                { field: 'USEAMT', title: '動支金額', sortable: true, width: 110, halign: "center", align: "right", sortable: true }

            ]],
            onSelect: function (rowIndex, row) {
                initf302FORM(row);
            },
            onLoadSuccess: function (data) {
                $('#f302SUMAMT').val(data.tot);
            }
        });
    }


    function f302DG2init() {

        $('#f302DG2').datagrid({
            url: '@Url.Action("getDG2", "Frm302")',
            width: '340',
            height: '380',
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'YM', title: '月份', sortable: true, width: 70, halign: "center", align: "center", sortable: true },
                { field: 'BUDGET', title: '預算金額', sortable: true, width: 100, halign: "center", align: "right", sortable: true },
                { field: 'USEAMT', title: '動支金額', sortable: true, width: 100, halign: "center", align: "right", sortable: true },
                    {
                        field: 'LINK', title: '明細', sortable: true, width: 40, halign: "center", align: "center",
                        formatter: function (value, row, iIndex) {
                            return "<a href='#' onClick=\"openf208('" + row.YM + "','" + row.ACCNO + "','" + row.ACCTP +"')\"><img src='../Content/easyui/themes/icons/select-icon.png'/></a>";
                        }
                    }
            ]],
            onSelect: function (rowIndex, row) {
                initf302FORM2(row);
            }
        });
    }


    function openf208(YM, ACCNO, ACCTP) {
        console.info(ACCTP);
        location.href = "../frm208/frm208?YM="+YM+"&ACCNO="+ACCNO+"&ACCTP="+ACCTP;
    }



    function initf302FORM(row) {
        $('#f302INFTP').combobox('setValue', $.trim(row.INFTP));
        $('#f302CNO').val($.trim(row.CNO));
        $('#f302CNM').val($.trim(row.CNM));
        $('#f302BUDGET').val($.trim(row.BUDGET));
        var obj = {};
        obj.yrn = $.trim(row.YRN);
        obj.accno = $.trim(row.CNO);
        obj.acctp = $.trim(row.TP);
        $.ajax({
            url: '@Url.Action("getPrvYRAMT", "Frm302")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                $('#f302PRVAMT').val($.trim(data));
            }
        });

        //$('#f302PRVAMT').val($.trim(row.USEAMT));

        //$('#f302AMTSUM').validatebox('validate');
        $('#f302YRSUM').val($.trim(row.BUDGET));
        $('#f302TAGID').val($.trim(row.TAGID));
        var obj = {};
        obj.JOBTAG = $.trim(row.TAGID);
        $('#f302DG2').datagrid('reload', obj);

    }


    function initf302FORM2(row) {

        $('#f302YM').val($.trim(row.YM));
        $('#f302YMAMT').val($.trim(row.BUDGET));

    }

    function doAdd() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "是否要將預算平均分攤到各月份 ?", function (r) {
                var isSplit;
                if (r) {
                    isSplit = "Y";
                } else {
                    isSplit = "N";
                }

                var obj = getObj();
                obj.isSplit = isSplit;
                obj.TAGID = null;
                $.ajax({
                    url: '@Url.Action("doAdd", "Frm302")',
                    type: "post",
                    data: getObj(),
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data.status != '0') {
                            $('#f302DG1').datagrid('reload');
                            $.messager.alert('系統訊息', '資料已建立完成!', 'info');
                        }
                    }
                });
            });
        }
    }




    function doSaveYM() {
        if (doCheckYM()) {
            $.messager.confirm('執行確認', "確認儲存?", function (r) {
                if (r) {
                    var obj = getObj2();
                    $.ajax({
                        url: '@Url.Action("doSaveYM", "Frm302")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                f302DG1init();
                                var obj2 = {};
                                obj2.JOBTAG = $.trim(row.TAGID);
                                $('#f302DG2').datagrid('reload', obj2);
                                $('#f302YM').val('');
                                $('#f302YMAMT').val('');
                                $.messager.alert('系統訊息', '資料已儲存!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }



    function doSave() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "是否確認儲存?", function (r) {
                if (r) {
                    $.messager.confirm('執行確認', "是否要將預算平均分攤到各月份", function (r) {
                        var isSplit;
                        if (r) {
                            isSplit = "Y";
                        } else {
                            isSplit = "N";
                        }
                        var obj = getObj();
                        obj.isSplit = isSplit;
                        $.ajax({
                            url: '@Url.Action("doSave", "Frm302")',
                            type: "post",
                            data: obj,
                            dataType: "json",
                            success: function (data, textStatus, jqXHR) {
                                if (data.status != '0') {
                                    $('#f302DG1').datagrid('reload');
                                    $.messager.alert('系統訊息', '資料已儲存!', 'info');
                                }
                            }
                        });
                    });
                }
                });
        }
    }

    function getObj() {
        var row = $('#f302DG1').datagrid('getSelected');
        var obj = {};
        obj.ACCNO = $.trim(row.CNO);
        obj.ACCTP = $.trim(row.TP);
        obj.YRN = $.trim($('#f302YRN').combobox('getValue'));
        obj.BUDGET = $.trim($('#f302BUDGET').val());
        obj.TAGID = $.trim($('#f302TAGID').val());
        return obj;
    }

    function getObj2() {
        var row = $('#f302DG2').datagrid('getSelected');
        var obj = {};
        obj.YMAMT = $.trim($('#f302YMAMT').val());
        obj.JOBTAG = $.trim($('#f302TAGID').val());
        obj.TAGID = $.trim(row.TAGID);
        return obj;
    }







    function doCheck() {
        var pass = false;
        var row = $('#f302DG1').datagrid('getSelected');
        if (row == null) {
            $.messager.alert('系統訊息', '尚未選取科目!', 'warning');
        }else if ($('#f302BUDGET').val() == "" ) {
            $.messager.alert('系統訊息', '資料輸入不完成!', 'warning');
        } else {
            pass = true;
        }
        return pass;
    }

    function doCheckYM() {
        var pass = false;
        if ($('#f302YM').val() == "") {
            $.messager.alert('系統訊息', '尚未選取修改月份!', 'warning');
        } else if ($('#f302YM').val() == "") {
            $.messager.alert('系統訊息', '尚未輸入調整月份金額!', 'warning');
        } else {
            pass = true;
        }
        return pass;
    }

    function doExport() {
        var obj = {};
        obj.YY = $('#f302YRN').combobox('getValue');
        window.location = "@Url.Action("doExport", "frm302")" + '?YY=' + obj.YY ;
    }




</script>
<h2>Frm302 費用預算作業</h2>
<!--<a id="btnClear" href="#" class="easyui-linkbutton" data-options="iconCls:'broom-icon'" onclick="doClear()">清空</a>-->
<!--<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">年度費用動支重整</a>-->
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">科目預算存檔</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'excel-icon'" onclick="doExport()">匯出Excel</a>
<br />
<br />
<input type="hidden" id="f302TAGID" name="f302TAGID" />
<input type="hidden" id="f302CONTRAH_TAGID" name="f302CONTRAH_TAGID" />
<input type="hidden" id="f302FEEYM" name="f302FEEYM" />
<table width="1024" border="0">
    <tr>
        <td width="350" rowspan="2">
            預算年度
            <select id="f302YRN" class="easyui-combobox" name="f302YRN" style="width:60px;height:28px">
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
                <option>2027</option>
                <option>2028</option>
                <option>2029</option>
                <option>2030</option>
                <option>2031</option>
                <option>2032</option>
                <option>2033</option>
                <option>2034</option>
                <option>2035</option>
                <option>2036</option>
                <option>2037</option>
                <option>2038</option>
                <option>2039</option>
                <option>2040</option>
                <option>2041</option>
            </select>
            費用預算總額
            <input type="text" name="f302SUMAMT" id="f302SUMAMT" style="width:100px" readonly>
        </td>
        <td>
            <a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSaveYM()">月份調整存檔</a>

        </td>
    </tr>
    <tr>
        <td >
            科目代號
            <input type="text" name="f302CNO" id="f302CNO" readonly >
        </td>
    </tr>
    <tr>
        <td rowspan="4" valign="top">
            <table id="f302DG1"></table>
        </td>

        <td>
            科目名稱
            <input type="text" name="f302CNM" id="f302CNM" style="width:200px" readonly >
        </td>
    </tr>
    <tr>
        <td>
            預算金額
            <input type="text" name="f302BUDGET" id="f302BUDGET">
        </td>
    </tr>
    <tr>
        <td>
            去年預算
            <input type="text" name="f302PRVAMT" id="f302PRVAMT" readonly>
        </td>
    </tr>
    <tr>
        <td height="700" valign="top">

            <table id="f302DG2"></table>
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        調整月份
                        <input type="text" name="f302YM" id="f302YM" readonly style="width:70px">
                        <input type="text" name="f302YMAMT" id="f302YMAMT" style="width:70px">
                    </td>
                </tr>
                <tr>
                    <td>
                        年度合計
                        <input type="text" name="f302YRSUM" id="f302YRSUM" style="width:80px">
                        預算差異
                        <input type="text" name="f302YRDIF" id="f302YRDIF" style="width:80px" value="0">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>