   @Styles.Render("~/Content/css")
@section scripts
{
    <link href="~/Content/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />	
	<link href="~/Content/easyui/themes/icon.css" rel="stylesheet" type="text/css">
	<link href="~/Content/easyui/demo/demo.css" rel="stylesheet" type="text/css" >
    <link href="~/Content/mystyle.css" rel="stylesheet" type="text/css" >
    <script src="~/Content/easyui/jquery.min.js"></script>
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/easyui/locale/easyui-lang-zh_TW.js"></script>
    
    <script type="text/javascript" src="~/Content/easyui/easyloader.js"></script>
    <script type="text/javascript" src="~/Content/easyui/exts/datebox-ext.js"></script>
    <script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
    <script type="text/javascript" src="~/Content/easyui/exts/datagrid-filter.js"></script>
 <script type="text/javascript">
     $(document).ready(function () {

     });

     $(window).load(function () {

         initConcurrentDataGrid();
       //  Initialize_DataGrid('');

     });

      function initConcurrentDataGrid() {
          var getGridJSON = '@Url.Action("SessionGrid", "Kr1Manager")';

          $('#DataGrid').datagrid({
              autoRowHeight: false,
              url: getGridJSON,
              title: 'Concurrent List',
              border: false,
              rownumbers: true,
              nowrap: false,
              pagination: true,
              fit: true,
              pageSize: 1000,
              pageList: [50, 100, 200, 1000],
              idField: 'VLanID',
              striped: true,
              showHeader: true,
              fitColumns: false,
              remoteSort: true,
              singleSelect: true,
              sortName: 'VLanID',
              sortOrder: 'asc',
              //  maximized: true,
              rownumbers: true,
              striped: true,
              showPageList: true,
              pagePosition: 'bottom',
              toolbar: "",
            rowStyler: function(index,row){		    
			   return 'color:#000000;'; // return inline style		
	        },
              columns: [[
                    { field: 'EDIT',
                        title: '編輯',
                        sortable: true,
                        width: 50,
                        halign: "center",
                        align: "center",
                        formatter: function (value, objRow, iIndex) {
                            var strSpanButtonIconId = 'spanButtonIconId' + iIndex;
                            var strValue = "";
                            strValue = "<a id='" + iIndex + "' title='編輯' href='#' onclick=openCurDialog('" + objRow.VLanID + "','" + iIndex + "')><img src='../Content/easyui/themes/icons/application-edit-icon.png'></a>";
                            return strValue;
                        }
                    },
               /*     { field: 'DEL',
                        title: '刪除',
                        sortable: true,
                        width: 80,
                        halign: "center",
                        align: "center",
                        formatter: function (value, objRow, iIndex) {
                            var strSpanButtonIconId = 'del' + iIndex;
                            var strValue = "";
                            strValue = "<a id='" + iIndex + "' title='編輯' href='#' onclick=Disconnect('" + objRow.IP + "')><img src='../Content/easyui/themes/icons/clear.png'></a>";
                            return strValue;
                        }
                    },*/
                    { field: 'VLanID',
                        title: '房號',
                        sortable: true,
                        width: 70,
                        halign: "center",
                        align: "center"
                    },
                    { field: 'MAC',
                        title: 'MAC',
                        sortable: true,
                        width: 120,
                        halign: "center",
                        align: "center",
                        sortable: true
                    },
                    {
                        field: 'IP',
                        title: 'IP / HostName',
                        sortable: true,
                        width: 150,
                        halign: "center",
                        align: "center",
                        sortable: true,
                        formatter: function (value, objRow, iIndex) {                            
                            return value + "<br>" + objRow.HostName;
                        }
                    }, {
              field: 'State',
              title: 'State',
              sortable: true,
              width: 70,
              halign: "center",
              align: "center",
              sortable: true
              },
                    {
                    field: 'CurrentFlowUp',
                    title: '目前上傳',
                    sortable: true,
                    width: 60,
                    halign: "center",
                    align: "center",
                    sortable: true
                },
                   {
                       field: 'CurrentFlowDown',
                       title: '目前下載',
                       sortable: true,
                       width: 60,
                       halign: "center",
                       align: "center",
                       sortable: true

                   }, {
                       field: 'Bandwidth_Up',
                       title: '預設上傳(KBPS)',
                       sortable: true,
                       width: 90,
                       halign: "center",
                       align: "center",
                       sortable: true
                   }
                    , {
                        field: 'Bandwidth_Down',
                        title: '預設下載(KBPS)',
                        sortable: true,
                        width: 90,
                        halign: "center",
                        align: "center",
                        sortable: true
                    }
                    , {
                        field: 'TotalFlowUpByte',
                        title: '總上傳',
                        sortable: true,
                        width: 80,
                        halign: "center",
                        align: "right",
                        sortable: true,
                        formatter: function (value, objRow, iIndex) {
                            if (value >= Math.pow(2, 10) && value < Math.pow(2, 20)) {
                                value = Math.round(value / 1024) + "Kb";
                            } else if (value >= Math.pow(2, 20) && value < Math.pow(2, 30)) {
                                value = Math.round(value / Math.pow(2, 20)) + "Mb";
                            } else if (value >= Math.pow(2, 30) && value < Math.pow(2, 40)) {
                                value = Math.round(value / Math.pow(2, 30)) + "Gb";
                            } else {
                                value = value + "Byte";
                            }
                            return value;
                        }
                    }
                    , {
                        field: 'TotalFlowDownByte',
                        title: '總下載',
                        sortable: true,
                        width: 80,
                        halign: "center",
                        align: "right",
                        sortable: true,
                        formatter: function (value, objRow, iIndex) {
                            if (value >= Math.pow(2, 10) && value < Math.pow(2, 20)) {
                                value = Math.round(value / 1024) + "Kb";
                            } else if (value >= Math.pow(2, 20) && value < Math.pow(2, 30)) {
                                value = Math.round(value / Math.pow(2, 20)) + "Mb";
                            } else if (value >= Math.pow(2, 30) && value < Math.pow(2, 40)) {
                                value = Math.round(value / Math.pow(2, 30)) + "Gb";
                            } else {
                                value = value + "Byte";
                            }
                            return value;
                        }
                    }
                    , {
                        field: 'LoginDate',
                        title: '登入時間',
                        sortable: true,
                        width: 120,
                        halign: "center",
                        align: "center",
                        sortable: true
                    }
                    , {
                        field: 'IdleTime',
                        title: '閒置(分)',
                        sortable: true,
                        width: 70,
                        halign: "center",
                        align: "center",
                        sortable: true
                    }
              /*                 , {
              field: 'HostName',
              title: 'HostName',
              sortable: true,
              width: 120,
              halign: "center",
              align: "center",
              sortable: true
              }*/
                ]],
              onSelect: function (rowIndex, rowData) {
                  //initOrderDetailDataGrid(rowData.ODDNO);
                  /*
                  $('#DtlDataGrid').datagrid('unselectAll');
                  if (rowData.STATUS == "B") {
                  $('#orderCancelBtn').linkbutton('enable');
                  $('#orderSendBtn').linkbutton('enable');
                  } else {
                  $('#orderCancelBtn').linkbutton('disable');
                  $('#orderSendBtn').linkbutton('disable');
                  }*/
              }
          });

          var dg = $('#DataGrid').datagrid();
          dg.datagrid('enableFilter', [{
              field: 'AA',
              type: 'textbox',
              //options: { precision: 1 },
              op: ['equal', 'notequal', 'less', 'greater']
          }]);

      }
      /*
      $(function () {
          var dg = $('#DataGrid').datagrid();
          dg.datagrid('enableFilter', [{
              field: 'VLanID',
              type: 'textbox',
              //options: { precision: 1 },
              op: ['equal', 'notequal', 'less', 'greater']
          }]);
      });
      */

     Date.prototype.dateDiff = function (interval, objDate) {
         var dtEnd = new Date(objDate);
         if (isNaN(dtEnd)) return undefined;
         switch (interval) {
             case "s": return parseInt((dtEnd - this) / 1000);
             case "n": return parseInt((dtEnd - this) / 60000);
             case "h": return parseInt((dtEnd - this) / 3600000);
             case "d": return parseInt((dtEnd - this) / 86400000);
             case "w": return parseInt((dtEnd - this) / (86400000 * 7));
             case "m": return (dtEnd.getMonth() + 1) + ((dtEnd.getFullYear() - this.getFullYear()) * 12) - (this.getMonth() + 1);
             case "y": return dtEnd.getFullYear() - this.getFullYear();
         }
     }

    $.extend($.fn.datebox.defaults.rules, { 
		validDate: {  
			validator: function(value){  
				var date = $.fn.datebox.defaults.parser(value);
				var s = $.fn.datebox.defaults.formatter(date);
				return s==value; 
			},  
			message: '請輸入正確的日期格式(YYYY-MM-DD)'
		}
	});


    function doReload(){
      obj={};

        $('#dlgmode').val('');
        $('#DataGrid').datagrid('reload', obj);
     //   Initialize_DataGrid('');
    }


    //String mac,String cds, int up, int down,String dhcp
    function doSaveCur() {
        var op = $('#OP').combobox('getValue');
        var cds = $('#CDS').textbox('getValue');
        if (cds == '') {
            $.messager.alert('系統訊息', '請輸入開放時間!', 'error');
            return false;
        } else if (cds > 30) {
            $.messager.alert('系統訊息', '開放期限不可超過30天!', 'error');
            return false;
        } else if (cds <= 0 ) {
            $.messager.alert('系統訊息', '開放期限不可小於0天!', 'error');
            return false;
        }
        $.messager.progress();
        var win = $.messager.progress({
            title: '資料更新',
            msg: '遠端資料更新中,請稍候...'
        });

        var obj = {};

        obj.mac = $('#MAC').html();
        obj.cds = cds * op ;
        //  obj.dhcp = $('#DHCP').combobox('getValue');
        obj.dhcp = $("input[name='DHCP']:checked").val();
        //  obj.up = $('#BandwidthUp').numberbox('getValue');
        //  obj.down = $('#BandwidthDown').numberbox('getValue');
        obj.up = $('#BandwidthUp').combobox('getValue');
        obj.down = $('#BandwidthDown').combobox('getValue');

        $.ajax({
            url: '@Url.Action("doSaveCur", "Kr1Manager")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.status == "1") {
                    $.messager.progress('close');
                    $('#editCurDialog').dialog('close');
                    $.messager.alert('系統訊息', 'MAC:' + obj.mac + ' 資料已更新!', 'info');
                    $('#DataGrid').datagrid('reload');
                }
            }
        });

    }



    function doSave() {
        $.messager.progress();
        var win = $.messager.progress({
            title:'資料更新',
            msg: '遠端資料更新中,請稍候...'
        });

        var obj = {};
        obj.vid = $('#VLanID').html();
      //  obj.up = $('#BandwidthUp').numberbox('getValue');
      //  obj.down = $('#BandwidthDown').numberbox('getValue');
          obj.up = $('#BandwidthUp2').combobox('getValue');
          obj.down = $('#BandwidthDown2').combobox('getValue');
          console.info(obj.down);
        $.ajax({
            url: '@Url.Action("doSave", "Kr1Manager")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.status == "1") {
                    $.messager.progress('close');
                    $('#editDialog').dialog('close');
                    $.messager.alert('系統訊息', 'VLanID:' + obj.vid +' 資料已更新!', 'info');
                    $('#DataGrid').datagrid('reload');
                }
            }
        });        
        
    }


    //開啟新增商品對話框
    function openDialog(id, iIndex) {
        var obj = {};
        obj.VlanID = id;
        var title = id;
        $('#DataGrid').datagrid('selectRow', iIndex);

        //        console.info(selectRow);
        var selectRow = $('#DataGrid').datagrid('getSelected');



        $('#VLanID').html(id);
        $('#VLanState').html(selectRow.VLanState);
        $('#ActionType').html(selectRow.ActionType);


        $('#BandwidthUp2').combobox('setValue', selectRow.Bandwidth_Up);
        $('#BandwidthDown2').combobox('setValue', selectRow.Bandwidth_Down);



        $('#editDialog').dialog({
            title: ' 編輯 VLanID:' + title ,
            width: 400,
            height: 260,
            closed: false,
            cache: false,
            modal: true,
            iconCls: 'save-icon',
            buttons: [{
                text: '儲存',
                iconCls: 'save-icon',
                handler: function () {
                    doSave();
                }
            },
                  {
                      text: '取消',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#editDialog').dialog('close');
                      }
                  }]
        });

    }


    //開啟新增商品對話框
    function openCurDialog(id,iIndex) {
        var obj = {};
        obj.VlanID = id;        
        var title = id;
         $('#DataGrid').datagrid('selectRow', iIndex);
        
        //        console.info(selectRow);
        var selectRow = $('#DataGrid').datagrid('getSelected');

        

        
        $('#MAC').html(selectRow.MAC);
      //  $('#VLanState').html(selectRow.VLanState);
      //  $('#ActionType').html(selectRow.ActionType);
        //$('#BandwidthUp').numberbox('setValue', selectRow.BandwidthUp);  
        //$('#BandwidthDown').numberbox('setValue', selectRow.BandwidthDown);
        
        $('#BandwidthUp').combobox('setValue', selectRow.Bandwidth_Up);  
        $('#BandwidthDown').combobox('setValue', selectRow.Bandwidth_Down);
        /*
        $('#DHCP').combobox({
            url: '@Url.Action("getDHCP", "Kr1Manager")',
            valueField: 'VALUE',
            textField: 'ITEM'            
        }); */

        $('#editCurDialog').dialog({
            title: ' 編輯 VLanID:' + title + ' MAC:'+selectRow.MAC,
            width: 450,
            height: 260,
            closed: false,
            cache: false,
            modal: true,
            iconCls: 'save-icon',
            buttons: [{
                text: '儲存',
                iconCls: 'save-icon',
                handler: function () {
                    doSaveCur();
                }
            },
                  {
                      text: '取消',
                      iconCls: 'icon-cancel',
                      handler: function () {
                          $('#editCurDialog').dialog('close');
                      }
                  }]
        });
              getListVLanDefineIP(selectRow.VLanID, selectRow.MAC);
    }

    function getListVLanDefineIP(vlanid,mac) {
        var obj = {};
        obj.vlanid = vlanid;
        obj.mac = mac;
        $.ajax({
            url: '@Url.Action("getListVLanDefineIP", "Kr1Manager")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.DHCP.substr(0, 3) == '10.') {
                    //$('#DHCP').combobox('setValue', data.DHCP);
                    $('input[name="DHCP"]')[0].checked = true;
                } else {
                    $('input[name="DHCP"]')[1].checked = true;
                }
                var sec = data.SEC;
                if (sec > 0) {
                    sec = (sec / 86400);
                } else {
                    sec = 1;
                }
                $('#CDS').textbox('setValue', "" + sec);
            }, beforeSend: function (xhr, settings) {
                settings.data =
                               settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
            }
        });
    }



    function dosaveAll() {
        var obj = {};
        obj.up = $('#BandwidthUp3').combobox('getValue');
        obj.down = $('#BandwidthDown3').combobox('getValue');
        $.ajax({
            url: '@Url.Action("doSaveAll", "Kr1Manager")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                if (data.status == "1") {                                      
                    $.messager.alert('系統訊息',  ' 資料已更新!', 'info');
                    $('#DataGrid').datagrid('reload');
                }
            }
        });  
    }

/*
    function initSubscribe(mac) {
        var obj = {};
        obj.mac = mac;
        $.ajax({
            url: '@Url.Action("GetSubscribeByMACAddress", "Kr1Manager")',
            type: "post",
            data: obj,
            dataType: "json",
            success: function (data, textStatus, jqXHR) {
                console.info(data);
                $('#DHCP').combobox('setValue', data.DHCPStartIP);
                $('#BandwidthUp').combobox('setValue', data.Bandwidth_Up);
                $('#BandwidthDown').combobox('setValue', data.Bandwidth_Down);
            }, beforeSend: function (xhr, settings) {
                settings.data =
                               settings.data.replace(/%5D%5B(.+?)%5D=/g, "%5D.$1=");
            }
        });
    }
    */

    function Disconnect(ip) {

        $.messager.confirm('執行確認', '您確定要刪除'+ip+' Session?', function (r) {
            if (r) {
                var obj = {};
                obj.ip = ip;
                $.ajax({
                    url: '@Url.Action("SessionDelete", "Kr1Manager")',
                    type: "post",
                    data: obj,
                    dataType: "json",
                    success: function (data, textStatus, jqXHR) {
                        if (data.status == "1") {
                            $.messager.alert('系統訊息', 'IP:' + ip + ' Session 已刪除!', 'info');
                            $('#DataGrid').datagrid('reload');
                        }
                    }
                }); 
            }
        });


    }

   </script>
}     
@*<input type="hidden" id="dlgmode" name="dlgmode" value="" />
<a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" onclick="doReload()">VLan List</a>
*@ 
<!--
<a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'house-icon'" onclick="initVLanDataGrid()">VLan List</a>
<a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'session-icon'" onclick="initConcurrentDataGrid()">Concurrent List</a>
-->
<div id="cc" class="easyui-layout" data-options="fit:true" style="padding-bottom:10em"  >   
  <!--  <div data-options="region:'north',title:'查詢',split:true"  style="width:100%;height:15%">-->

<!--</div> -->
    <div data-options="region:'center',fitColumns:true"  style="background:#eee;width:40%;">
         <table id="DataGrid"></table>  
    </div>            
</div>
<div id="editCurDialog" style="padding:10px">
  <table width="100%" border="1" cellpadding="3" cellspacing="1" bordercolor="#FFFFFF">
    <tr>
      <td width="92" bgcolor="#CCCCCC"><strong>MAC </strong></td>
      <td width="250"><div id="MAC"></div></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>VPN對外連接IP</strong></td>
      <td> <!--<input id="DHCP" name="DHCP"  style="width:200px;"/> -->
      <label><input id="DHCP" name="DHCP" type="radio" value="1" /> 私有IP</label>
      <label><input id="DHCP" name="DHCP" type="radio" value="2" /> 公用IP</label>
                              <font color="red">(調整此功能需請客人重新連線)</font>
      </td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>開放時間</strong></td>
      <td>
      <input id="CDS" name="CDS" class="easyui-textbox" style="width:100px;"/>     
       <select name="OP" id="OP" class="easyui-combobox" data-options="editable:false" style="width:50px;">  
        <option value="86400" selected>天</option>                
      </select>        
       </td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>上傳</strong></td>
      <td>      
      <!--<input id="BandwidthUp" name="BandwidthUp" type="text" class="easyui-numberbox" style="width:100px"  data-options="min:0,precision:0" />-->
      <select name="BandwidthUp" id="BandwidthUp" class="easyui-combobox" data-options="editable:false" style="width:100px;">        
        <option value="1024">1M</option>
        <option value="3072">3M</option>
        <option value="5120">5M</option>
        <option value="8192">8M</option>
        <option value="10240">10M</option>
        <option value="15360">15M</option>        
      </select>   
      </td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>下載</strong></td>
      <td>
      <!--<input id="BandwidthDown" name="BandwidthDown" type="text" class="easyui-numberbox" style="width:100px"  data-options="min:0,precision:0" /> -->
      <select name="BandwidthDown" id="BandwidthDown" class="easyui-combobox" data-options="editable:false" style="width:100px;">        
        <option value="1024">1M</option>
        <option value="3072">3M</option>
        <option value="5120">5M</option>
        <option value="8192">8M</option>
        <option value="10240">10M</option>
        <option value="15360">15M</option>        
      </select>    
      </td>
    </tr>
  </table>
</div>  


<!--
<div id="editDialog" style="padding:10px">
  <table width="100%" border="1" cellpadding="3" cellspacing="1" bordercolor="#FFFFFF">
    <tr>
      <td width="89" bgcolor="#CCCCCC"><strong>VLan ID </strong></td>
      <td width="227"><div id="VLanID"></div></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>狀態 </strong></td>
      <td><div id="VLanState"></div></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>Action</strong></td>
      <td><div id="ActionType"></div></td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>上傳</strong></td>
      <td>      
   
      <select name="BandwidthUp2" id="BandwidthUp2" class="easyui-combobox" data-options="editable:false" style="width:100px;">        
        <option value="1024">1M</option>
        <option value="3072">3M</option>
        <option value="5120">5M</option>
        <option value="8192">8M</option>
        <option value="10240">10M</option>
        <option value="15360">15M</option>        
      </select>   
      </td>
    </tr>
    <tr>
      <td bgcolor="#CCCCCC"><strong>下載</strong></td>
      <td>

      <select name="BandwidthDown2" id="BandwidthDown2" class="easyui-combobox" data-options="editable:false" style="width:100px;">        
        <option value="1024">1M</option>
        <option value="3072">3M</option>
        <option value="5120">5M</option>
        <option value="8192">8M</option>
        <option value="10240">10M</option>
        <option value="15360">15M</option>        
      </select>    
      </td>
    </tr>
  </table>
</div>  
-->





