@{
    ViewBag.Title = "Frm211 商場收入作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/js/util/datetime/DateTimeUtil.js"></script>
<script type="text/javascript" src="~/Content/easyui/exts/validatebox-ext.js"></script>
<script>
    $(document).ready(function () {


        //人員列表
        $('#f211LOGUSR').combobox({
            url: '@Url.Action("getLOGUSR", "Frm201h")',
            valueField: 'CNO',
            textField: 'CNM'
            //editable: false
        });



        //收入項目
        $('#f211OTHERN').combobox({
            url: '@Url.Action("getOTHERN", "Frm211")',
            valueField: 'CNO',
            textField: 'CNM',
            editable: false
        });

        var dt = new Date();        
        
        var mm = dt.getMonth() + 1;
        
        if(mm < 10){
            mm="0" +mm;
        } else if (mm > 12) {
            mm = "01";
        }
        $('#f211FEEYM').val(dt.getFullYear() + ""+ mm);
       


    });   //ready end

    $(window).load(function () {


        //  $('#NOWDT').datebox('setValue', nowDate);


        f211DG1init();
        doQueryYm();

    });



    function f211DG1init() {
        var obj = {};
        obj.q = "";
        $('#f211DG1').datagrid({
            url: '@Url.Action("getDG1", "Frm211")',
            width: '400',
            height: '500',
            queryParams: obj,
            rownumbers: true,
            nowrap: true,
            pagination: false,
            idField: 'TAGID',
            striped: true,
            showHeader: true,
            fitColumns: false,
            remoteSort: false,
            singleSelect: true,
            columns: [[
                { field: 'OTHERN', title: '收入項目', sortable: true, width: 150, halign: "center", align: "center", sortable: true },
                { field: 'AMTSUM', title: '金額', sortable: true, width: 60, halign: "center", align: "center", sortable: true },
                { field: 'FEEYM', title: '帳務月份', sortable: true, width: 80, halign: "center", align: "right", sortable: true }
            ]],
            onSelect: function (rowIndex, row) {
                initf211FORM(row);
            }
        });
    }






    function initf211FORM(row) {
       // $('#f211OTHERN').combobox('setText', $.trim(row.OTHERN));
        $('#f211OTHERN').combobox('setValue', $.trim(row.FEETP));
        $('#f211FEEYM').val($.trim(row.FEEYM));
        $('#f211FEEYM').validatebox('validate');        
        $('#f211AMTSUM').val($.trim(row.AMTSUM));
        $('#f211AMTSUM').validatebox('validate');
        $('#f211NOTES').val($.trim(row.NOTES));
        $('#f211LOGUSR').combobox('setText', $.trim(row.LOGUSR));
        $('#f211TAGID').val(row.TAGID);

    }

    function doAdd() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認要新增資料?", function (r) {
                if (r) {
                    var obj = getObj();
                    obj.TAGID = null;
                    $.ajax({
                        url: '@Url.Action("doAdd", "Frm211")',
                        type: "post",
                        data: getObj(),
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                doQueryYm();
                                $.messager.alert('系統訊息', '資料已新增!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }



    function doQuery() {
        var obj = {};
        obj.q = "*";
        $('#f211DG1').datagrid('reload',obj);
    }

    function doQueryYm() {
        var obj = {};
        obj.q = $('#f211FEEYM').val();
        $('#f211DG1').datagrid('reload', obj);
    }


    function doSave() {
        if (doCheck()) {
            $.messager.confirm('執行確認', "確認儲存?", function (r) {
                if (r) {
                    var obj = getObj();
                    
                    $.ajax({
                        url: '@Url.Action("doSave", "Frm211")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                doQueryYm();
                                $.messager.alert('系統訊息', '資料已儲存!', 'info');
                            }
                        }
                    });
                }
            });
        }
    }

    function getObj() {
        var obj = {};
        obj.OTHERN = $.trim($('#f211OTHERN').combobox('getText'));
        obj.FEETP = $.trim($('#f211OTHERN').combobox('getValue'));
        obj.FEEYM = $.trim($('#f211FEEYM').val());        
        obj.AMTSUM = $.trim($('#f211AMTSUM').val());
        obj.NOTES = $.trim($('#f211NOTES').val());
        obj.LOGUSR = $.trim($('#f211LOGUSR').combobox('getText'));
        obj.TAGID = $.trim($('#f211TAGID').val());
        return obj;
    }


    function doClear() {
        $('#f211OTHERN').combobox('setValue','');
        $('#f211FEEYM').val('');
        $('#f211AMTSUM').val('');
        $('#f211NOTES').val('');
        $('#f211LOGUSR').combobox('setValue','' );
        $('#f211TAGID').val('');
    }


    //作廢
    function doRemove() {
        var row = $('#f211DG1').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('執行確認', '確定要刪除資料?', function (r) {
                if (r) {
                    var obj = {};
                    obj.TAGID = $.trim(row.TAGID);
                    $.ajax({
                        url: '@Url.Action("doRemove", "Frm211")',
                        type: "post",
                        data: obj,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            if (data.status != '0') {
                                $('#f211DG1').datagrid('reload');
                                doClear();
                                $.messager.alert('系統訊息', '選取資料已刪除!', 'info');
                            }
                        }
                    });
                }
            });
        } else {
            $.messager.alert('系統訊息', '尚未選取資料!', 'warning');
        }
    }


    function doCheck() {
        var pass = false;
        if ($('#f211OTHERN').combobox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未選取收入項目!', 'warning');
        } else if ($('#f211AMTSUM').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入收入金額!', 'warning');
        } else if ($('#f211FEEYM').validatebox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入帳務月份!', 'warning');
        } else if ($('#f211LOGUSR').combobox('isValid') == false) {
            $.messager.alert('系統訊息', '尚未輸入記錄人員!', 'warning');
        }else{
            pass = true;
        }
        return pass;
    }






</script>
<h2>Frm211 商場收入作業</h2>

<a id="btnCAdd" href="#" class="easyui-linkbutton" data-options="iconCls:'add-icon'" onclick="doAdd()">新增</a>
<a id="btnCSave" href="#" class="easyui-linkbutton" data-options="iconCls:'save-icon'" onclick="doSave()">存檔</a>
<a id="btnRemove" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-no'" onclick="doRemove()">刪除</a>
<br />
<br />
<input type="hidden" id="f211TAGID" name="f211TAGID" />
<input type="hidden" id="f211CONTRAH_TAGID" name="f211CONTRAH_TAGID" />
<table width="1024" height="500" border="1">
    <tr>
        <td width="490" valign="top">
            <table width="490" border="0">
                <tr>
                    <td width="105"><div align="right">收入項目</div></td>
                    <td width="375">
                        <input type="text" name="f211OTHERN" id="f211OTHERN" style="width:150px;height:28px" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">收入金額</div></td>
                    <td>
                        <input type="text" id="f211AMTSUM" name="f211AMTSUM" class="easyui-validatebox" data-options="required:true" />
                    </td>
                </tr>
                <tr>
                    <td><div align="right">帳務年月份 Ex:YYYYMM</div></td>
                    <td>
                        <input type="text" id="f211FEEYM" name="f211FEEYM" class="easyui-validatebox" data-options="required:true" /> <a id="btnCqy2" href="#" class="easyui-linkbutton" onclick="doQueryYm()">月份查詢</a>
                    </td>
                </tr>

                <tr>
                    <td><div align="right">收入說明</div></td>
                    <td><input type="text" id="f211NOTES" name="f211NOTES" style="width:300px;height:20px" /></td>
                </tr>
                <tr>
                    <td><div align="right">記錄人員</div></td>
                    <td><input type="text" id="f211LOGUSR" name="f211LOGUSR" style="width:180px;height:28px" data-options="required:true" /></td>
                </tr>
            </table>
        </td>
        <td width="518" valign="top">
            <a id="btnCqy" href="#" class="easyui-linkbutton"  onclick="doQuery()">全部</a>
            <table id="f211DG1" ></table>
        </td>
    </tr>
</table>