@model IList<IntranetSystem.Models.Menu>
@{
    ViewBag.Title = "系統選單一覽表";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.Title
            <span class="pull-right">
                　|　<span class="glyphicon glyphicon-sort"></span>
                <input class="btn btn-xs btn-default" type="submit" value="更新排序" onclick="forms['sortFrom'].submit();">
                　|　<span class="glyphicon glyphicon-plus"></span>@Html.ActionLink("新增", "Create", null, new { @class = "btn btn-xs btn-default" })</span>
            </div>
            <div class="panel-body">
            <!-- 內容  -->
            <div class="panel-body">
            @using (Html.BeginForm("UpdateSort", "Menu", FormMethod.Post, new { @id = "sortFrom", @class = "form-horizontal", role = "from" }))
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                選單名稱
                            </th>
                            <th>
                                備註
                            </th>
                            <th>
                                排序
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in this.Model)
                        {
                            <tr>
                                <td>@item.NAME
                                </td>
                                <td>@item.REMARK
                                </td>
                                <td>
                                <input type="number" class="form-control" name="@item.MID" value="@item.SORT" style="width:60px" />
                                </td>
                                <td><span class="pull-right">
                                @Html.ActionLink("編輯", "Edit", new { id = item.MID }, new { @class = "btn btn-sm btn-warning", role = "button" })
                                 | @Html.ActionLink("刪除", "Delete", new { id = item.MID }, new { @class = "btn btn-sm btn-danger", role = "button", onclick = "return confirm('確定要刪除這筆資料?');" })
                                </span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            </div>
        </div>
    </div>
</div>
